SYN/N8N SYN Extract Variables
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:\"SYN\"",
          "readStatus": "unread"
        }
      },
      "id": "syn-ev-0001-0000-0000-000000000001",
      "name": "Gmail Trigger SYN",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -8000,
        2800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}?format=full",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "id": "syn-ev-0002-0000-0000-000000000002",
      "name": "Get Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -7750,
        2800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\n\nfunction findPlainText(payload) {\n  if (!payload) return null;\n  if (payload.mimeType === 'text/plain' && payload.body && payload.body.data) return payload.body.data;\n  if (payload.parts) {\n    for (const part of payload.parts) {\n      const found = findPlainText(part);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nconst b64 = findPlainText(item.payload);\nlet text = b64\n  ? Buffer.from(b64.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8')\n  : (item.snippet || '');\n\nconst normalized = text.replace(/\\r?\\n/g, ';');\nconst parts = normalized.split(';').map(p => p.trim()).filter(p => p.length > 0);\n\nfunction decodeQP(str) {\n  return str.replace(/=([0-9A-Fa-f]{2})/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\nconst a = {};\nconst b = {};\nlet mail = null;\nlet langue = null;\nlet typologie = null;\nlet date_relation = null;\nlet inPartnerBlock = false;\n\nfor (const part of parts) {\n  const eqIndex = part.indexOf('=');\n  if (eqIndex === -1) continue;\n\n  const rawLabel = part.slice(0, eqIndex).trim();\n  let val = part.slice(eqIndex + 1).trim();\n  val = val.replace(/;$/, '').trim();\n\n  const label = decodeQP(rawLabel).toLowerCase().trim();\n  const nl = label.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\n  const hasPartenaire = nl.includes('partenaire');\n  if (hasPartenaire) inPartnerBlock = true;\n\n  const cl = hasPartenaire ? nl.replace(/\\s*partenaire\\s*/, '').trim() : nl;\n\n  if (nl === 'langue') { langue = val || null; continue; }\n  if (nl === 'typologie relation' || nl === 'typologie') { typologie = val || null; continue; }\n  if (nl === 'date relation' || nl === 'date de la relation' || nl === 'date debut relation') { date_relation = val || null; continue; }\n  if (cl === 'mail') {\n    const em = val.match(/[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n    mail = em ? em[0] : (val || null);\n    continue;\n  }\n\n  const target = (hasPartenaire || inPartnerBlock) ? b : a;\n\n  if (cl === 'nom') target.nom = val || null;\n  else if (cl === 'prenom') target.prenom = val || null;\n  else if (cl === 'date de naissance') target.date = val || null;\n  else if (cl === 'heure de naissance') target.heure = val || null;\n  else if (cl === 'lieu de naissance') target.lieu = val || null;\n  else if (cl === 'pays de naissance') target.pays = val || null;\n  else if (cl === 'consigne redaction') target.consigne_redaction = val || null;\n  else if (cl === 'genre') target.genre = val || null;\n  else if (cl === 'role') target.role = val || null;\n}\n\nif (!langue) langue = 'Français';\nif (!a.consigne_redaction) a.consigne_redaction = 'Tu';\nif (!a.genre) a.genre = 'M';\nif (!b.consigne_redaction) b.consigne_redaction = b.genre === 'F' ? 'Elle' : 'Il';\nif (!b.genre) b.genre = 'M';\nif (!typologie) typologie = 'Amour';\n\na.pronom_tiers = a.genre === 'F' ? 'Elle' : 'Il';\nb.pronom_tiers = b.genre === 'F' ? 'Elle' : 'Il';\n\nconst ASYMMETRIC_ROLES = {\n  'Parent / Enfant': { senior: 'parent', junior: 'enfant' },\n  'Mentorat':        { senior: 'mentor', junior: 'élève' }\n};\nconst asymDef = ASYMMETRIC_ROLES[typologie];\nif (asymDef) {\n  if (!a.role && !b.role && a.date && b.date) {\n    const pD = s => { const p = s.split('/'); return p.length === 3 ? new Date(+p[2], +p[1]-1, +p[0]) : null; };\n    const dA = pD(a.date), dB = pD(b.date);\n    if (dA && dB) {\n      if (dA < dB) { a.role = asymDef.senior; b.role = asymDef.junior; }\n      else { a.role = asymDef.junior; b.role = asymDef.senior; }\n    }\n  }\n  if (!a.role) a.role = asymDef.junior;\n  if (!b.role) b.role = asymDef.senior;\n} else {\n  a.role = a.role || null;\n  b.role = b.role || null;\n}\n\nreturn [{ json: {\n  personne_a: a,\n  personne_b: b,\n  mail: mail,\n  langue: langue,\n  typologie: typologie,\n  date_relation: date_relation\n} }];"
      },
      "id": "syn-ev-0003-0000-0000-000000000003",
      "name": "Extract Variables SYN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -7500,
        2800
      ]
    }
  ],
  "connections": {
    "Gmail Trigger SYN": {
      "main": [
        [
          {
            "node": "Get Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Message": {
      "main": [
        [
          {
            "node": "Extract Variables SYN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Variables SYN": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "Extract Variables SYN": [
      {
        "personne_a": {
          "prenom": "François",
          "nom": "Raifaud",
          "date": "12/11/1987",
          "heure": "13H15",
          "lieu": "Nantes",
          "pays": "France",
          "genre": "M",
          "consigne_redaction": "Tu",
          "pronom_tiers": "Il",
          "role": null
        },
        "personne_b": {
          "prenom": "Samy",
          "nom": "Jullien",
          "date": "12/12/1988",
          "heure": "4H15",
          "lieu": "Clamart",
          "pays": "France",
          "genre": "M",
          "consigne_redaction": "Il",
          "pronom_tiers": "Il",
          "role": null
        },
        "mail": "francois.raifaud@gmail.com",
        "langue": "Français",
        "typologie": "Business"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"
  }
}
