DHN/GLOBAL DHN.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dhn-site-order",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        8192,
        4416
      ],
      "id": "9dc382df-7c87-4de2-9725-84a920b3b26e",
      "name": "Webhook",
      "webhookId": "818ecb97-24f7-4dae-990f-95d42093a38d"
    },
    {
      "parameters": {
        "jsCode": "// DHN — nœud « Extract Variables » (WEBHOOK + Gmail) — v2 : champs lieu Google optionnels côté site.\n// Coller dans n8n ; désactiver le pin sur ce nœud.\n\nconst item = $input.all()[0].json;\n\nconst body =\n  item.body !== undefined && item.body !== null && typeof item.body === \"object\" && !Array.isArray(item.body)\n    ? item.body\n    : item;\n\nfunction numOpt(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === \"number\" && Number.isFinite(v)) return v;\n  if (typeof v === \"string\" && String(v).trim()) {\n    const x = parseFloat(String(v).trim().replace(\",\", \".\"));\n    return Number.isFinite(x) ? x : null;\n  }\n  return null;\n}\n\nif (body.event === \"order.paid\" || body.orderId) {\n  const mail = body.customerEmail || body.mail || null;\n  const out = {\n    nom: body.nom ?? null,\n    prenom: body.prenom ?? null,\n    date: body.date ?? null,\n    lieu: body.lieu ?? null,\n    pays: body.pays ?? null,\n    mail,\n    langue: body.langue ?? \"Français\",\n    genre: body.genre ?? \"M\",\n    plage_naissance: body.plage_naissance ?? null,\n    heure_naissance_min: body.heure_naissance_min ?? null,\n    heure_naissance_max: body.heure_naissance_max ?? null,\n    orderId: body.orderId ?? null,\n    stripeCheckoutSessionId: body.stripeCheckoutSessionId ?? null,\n    stripePaymentIntentId: body.stripePaymentIntentId ?? null,\n    amountTotal: body.amountTotal ?? null,\n    currency: body.currency ?? null,\n    stripeEventId: body.stripeEventId ?? null,\n    source: \"site\",\n  };\n  for (let i = 1; i <= 15; i++) {\n    const k = \"q\" + i;\n    if (body[k] !== undefined && body[k] !== null) out[k] = body[k];\n  }\n  for (let i = 1; i <= 10; i++) {\n    const k = \"evt\" + i;\n    if (body[k] !== undefined && body[k] !== null) out[k] = body[k];\n  }\n\n  const blat = numOpt(body.birth_place_lat);\n  const blng = numOpt(body.birth_place_lng);\n  const pid =\n    typeof body.birth_place_place_id === \"string\" && body.birth_place_place_id.trim()\n      ? body.birth_place_place_id.trim()\n      : null;\n  const fa =\n    typeof body.birth_place_formatted_address === \"string\" && body.birth_place_formatted_address.trim()\n      ? body.birth_place_formatted_address.trim()\n      : null;\n  // [P11 v5.0] Champ réservé pour usage futur : permettra de basculer vers un mode \"heure UT\"\n  // si un client dispose d'une heure de naissance en Temps Universel (ex. carnet de santé marine/militaire).\n  // Pour l'instant, seule la valeur par défaut \"civil_at_birth_place\" est interprétée en aval.\n  const btr =\n    typeof body.birth_time_reference === \"string\" && body.birth_time_reference.trim()\n      ? body.birth_time_reference.trim()\n      : \"civil_at_birth_place\";\n\n  if (blat !== null && blng !== null && Math.abs(blat) <= 90 && Math.abs(blng) <= 180) {\n    out.birth_place_lat = blat;\n    out.birth_place_lng = blng;\n    if (pid) out.birth_place_place_id = pid;\n    if (fa) out.birth_place_formatted_address = fa;\n    out.birth_time_reference = btr;\n  }\n\n  return [{ json: out }];\n}\n\nif (item && (item.nom || item.date) && !item.payload) {\n  const out = { ...item };\n  if (!out.langue) out.langue = \"Français\";\n  if (!out.genre) out.genre = \"M\";\n  return [{ json: out }];\n}\n\nfunction findPlainText(payload) {\n  if (!payload) return null;\n  if (payload.mimeType === \"text/plain\" && payload.body && payload.body.data) return payload.body.data;\n  if (payload.parts) {\n    for (const part of payload.parts) {\n      const found = findPlainText(part);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nconst b64 = findPlainText(item.payload);\nlet text = b64\n  ? Buffer.from(b64.replace(/-/g, \"+\").replace(/_/g, \"/\"), \"base64\").toString(\"utf-8\")\n  : (item.snippet || \"\");\n\nconst normalized = text.replace(/\\r?\\n/g, \";\");\nconst parts = normalized.split(\";\").map((p) => p.trim()).filter((p) => p.length > 0);\n\nfunction decodeQP(str) {\n  return str.replace(/=([0-9A-Fa-f]{2})/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\nconst result = {};\n\nfor (const part of parts) {\n  const lastEq = part.lastIndexOf(\"=\");\n  if (lastEq === -1) continue;\n  const rawLabel = part.slice(0, lastEq).trim();\n  const val = part.slice(lastEq + 1).trim();\n  const label = decodeQP(rawLabel).toLowerCase().trim();\n  const normalizedLabel = label.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\n  if (label === \"nom\") result.nom = val || null;\n  else if (label === \"prénom\" || normalizedLabel === \"prenom\") result.prenom = val || null;\n  else if (label === \"date de naissance\") result.date = val || null;\n  else if (label === \"lieu de naissance\") result.lieu = val || null;\n  else if (label === \"pays de naissance\") result.pays = val || null;\n  else if (label === \"mail\") {\n    const em = val.match(/[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n    result.mail = em ? em[0] : val || null;\n  } else if (normalizedLabel === \"langue\") result.langue = val || null;\n  else if (normalizedLabel === \"genre\") result.genre = val || null;\n  else if (normalizedLabel === \"plage naissance\" || normalizedLabel === \"plage horaire\")\n    result.plage_naissance = val || null;\n  else if (normalizedLabel === \"heure naissance min\") result.heure_naissance_min = val || null;\n  else if (normalizedLabel === \"heure naissance max\") result.heure_naissance_max = val || null;\n}\n\nif (!result.langue) result.langue = \"Français\";\nif (!result.genre) result.genre = \"M\";\n\nreturn [{ json: { ...result } }];\n"
      },
      "id": "7a2a39f8-33fe-41e3-ac4a-7a2886bd89d0",
      "name": "Extract Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        8528,
        4416
      ]
    },
    {
      "parameters": {
        "jsCode": "function gn(n) {\n  try {\n    return $(n).first()?.json || null;\n  } catch (e) {\n    return null;\n  }\n}\nconst src =\n  gn('Extract Variables') ||\n  gn('Extract Variables DHN') ||\n  gn('Extract Variables DHN1') ||\n  gn('Evenements de vie') ||\n  gn('Evenements de vie1') ||\n  {};\nconst out = {};\nfor (let i = 1; i <= 10; i++) {\n  const k = 'evt' + i;\n  const v = src[k];\n  if (v !== undefined && v !== null && String(v).trim() !== '') out[k] = v;\n}\nreturn [{ json: out }];"
      },
      "id": "53391383-af3b-4a9e-9cef-6bf77c2cee9c",
      "name": "Evenements de vie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        11056,
        3808
      ]
    },
    {
      "parameters": {
        "jsCode": "// Données planètes par créneau : même forme que la sortie du nœud « Scan fin planetes » / « Scan fin planetes1 » du workflow FRA/DHN/N8N DHN Scan fin Planetes (json = { statusCode, output[] }). Jeu de test exporté : FRA/DHN/DATA SCAN (tableau d’items).\nfunction gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nlet planetItems=[];\ntry{planetItems=$('Scan fin planetes').all()}catch(e){try{planetItems=$('Scan fin planetes1').all()}catch(e2){}}\n\nlet scorerItems=[];\ntry{scorerItems=$('Scorer').all()}catch(e){try{scorerItems=$('Scorer1').all()}catch(e2){}}\n\nconst firstItem=scorerItems[0]?.json||{};\nconst ranked=firstItem._ranked?JSON.parse(firstItem._ranked):[];\nlet scoreMap=null;\ntry{const rs=firstItem._scores;if(rs)scoreMap=JSON.parse(rs)}catch(eSc){}\nfunction labelLooksFullDay(lab){\n  const t=String(lab||'').replace(/[\\s\\u00A0\\u202F\\uFEFF]/g,'').replace(/h/gi,':').replace(/[\\u2013\\u2014\\u2212]/g,'-');\n  return /^0+:0+-24(:0+)?$/i.test(t)||/^0+:0+-23:59$/i.test(t);\n}\n// [P-window v5.3] Le scan est désormais RESTREINT à la plage (288 slots devient ~N slots de la fenêtre).\n// Le HTML de plageHtml est construit plus bas (après l'init du helper i18n T()), à partir de _plageRaw.\nlet plageHtml='';\nlet plageBounds=null;\nlet _plageRaw=null;\ntry{\n  const pm=firstItem._plageMeta?JSON.parse(firstItem._plageMeta):null;\n  if(pm&&pm.active){\n    const loN=Number(pm.lo),hiN=Number(pm.hiInc);\n    const journeeNum=!Number.isNaN(loN)&&!Number.isNaN(hiN)&&loN<=0&&hiN>=1439;\n    const journeeEntiere=journeeNum||labelLooksFullDay(pm.label);\n    if(!journeeEntiere){\n      const lab=String(pm.label||'').replace(/</g,'');\n      _plageRaw={lab:lab,ignored:Boolean(pm.ignored)};\n      if(!pm.ignored){\n        plageBounds={lo:loN,hiInc:hiN,label:lab};\n      }\n    }\n  }\n}catch(ePl){}\nconst vars=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!vars?.date)throw new Error('DHN : date introuvable (Extract Variables / Extract Variables DHN).');\n\nconst ddd=vars.date.split('/');\nconst birthY=parseInt(ddd[2]),birthM=parseInt(ddd[1]),birthD=parseInt(ddd[0]);\nconst birthDecimal=birthY+((birthM-1)*30.44+birthD)/365.25;\n\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\n\nconst R=Math.PI/180;\nfunction jd0(y,m,d){if(m<=2){y--;m+=12}const A=Math.floor(y/100);return Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+d+2-A+Math.floor(A/4)-1524.5}\nfunction calcASC(h){\n  const ut=h-tz;const J=jd0(birthY,birthM,birthD);const T=(J-2451545)/36525;\n  let g=280.46061837+360.98564736629*(J-2451545)+0.000387933*T*T;g=((g%360)+360)%360;\n  const lst=((g+ut*1.00273790935*15+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;const L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nconst sgn=['Belier','Taureau','Gemeaux','Cancer','Lion','Vierge','Balance','Scorpion','Sagittaire','Capricorne','Verseau','Poissons'];\nfunction signOf(d){return sgn[Math.floor(((d%360)+360)%360/30)]}\n\nlet housesItems=[];\ntry{housesItems=$('Scan fin maisons').all()}catch(e){try{housesItems=$('Scan fin maisons1').all()}catch(e2){}}\n\nlet progItems=[];\ntry{progItems=$('Scan progressions').all()}catch(e){try{progItems=$('Scan progressions1').all()}catch(e2){}}\n\nconst evtRaw=gn('Evenements de vie')||gn('Evenements de vie1')||{};\nconst events=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!k.startsWith('evt'))continue;\n  const lbl=v.replace(/(\\d{2}\\/\\d{2}\\/\\d{4})/g,'').trim();\n  // [P8 v5.2] Type = premier token alphanumérique (ex. \"voyage_important\", \"deces_proche\", \"accident\").\n  // Sert à appliquer EVT_AFFINITY plus bas (bonus ×N sur les aspects vers les planètes/angles attendus pour ce type).\n  const typ=(lbl.toLowerCase().match(/^[a-z_]+/)||[''])[0];\n  const allDates=[...v.matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDates.slice(0,3)){\n    events.push({label:lbl+' '+dm[0],type:typ,day:parseInt(dm[1]),month:parseInt(dm[2]),year:parseInt(dm[3])});\n  }\n}\nconst evtCount=events.length;\nconst baseQFactor=evtCount>=4?0.45:evtCount>=3?0.55:evtCount>=2?0.75:1;\n// [v5.8 P2.3] qFactor adaptatif : si le questionnaire pointe TRÈS clairement un signe (top1\n// nettement détaché du top2 ET score absolu confortable), on rehausse son poids même avec\n// beaucoup d'événements. Pourquoi : avec evtCount>=4, qFactor=0.45 noie un questionnaire\n// pourtant fiable sous des arcs/prog/RS bruyants. Le boost reste modéré (max +0.10) pour ne\n// pas faire dérailler le système quand le questionnaire est ambigu.\nlet qConvergence=0,qTopAbs=0;\ntry{\n  if(ranked&&ranked.length>=2){\n    const s0=Number(ranked[0]?.score)||0;\n    const s1=Number(ranked[1]?.score)||0;\n    qTopAbs=s0;\n    if(s0>0)qConvergence=(s0-s1)/s0;\n  }\n}catch(eQc){}\nconst qBoost=(qConvergence>=0.50&&qTopAbs>=12)?0.10\n            :(qConvergence>=0.30&&qTopAbs>=8)?0.05\n            :0;\nconst qFactor=Math.min(1,baseQFactor+qBoost);\n\nlet natalPlanets=[];\ntry{\n  const noon=$('Scan Planetes').all();\n  const mid=noon[Math.min(12,noon.length-1)];\n  const _nout=Array.isArray(mid?.json?.output)?mid.json.output:[];\n  natalPlanets=_nout.filter(p=>p.fullDegree!==undefined).map(p=>({name:p.planet?.fr||p.planet?.en||'?',deg:p.fullDegree}));\n}catch(e){natalPlanets=[]}\nconst ANGLE_NAMES=['Ascendant','Descendant','Milieu du Ciel','Imum Coeli','MC','IC'];\nconst natalBodies=natalPlanets.filter(p=>!ANGLE_NAMES.includes(p.name));\n\n// [P8 v5.2] Matrice d'affinité événement → planètes/angles attendus.\n// Quand un aspect (arc, progression, RS) cible une planète/angle attendu pour ce type d'événement,\n// on applique un bonus multiplicatif (par défaut ×1.5). Les aspects neutres (cible non listée) restent ×1.\n// Ce typage est de la sémantique astrologique standard, pas du tuning ad-hoc : il rend les aspects\n// \"sémantiquement cohérents\" plus discriminants que les aspects \"coïncidents\".\nconst EVT_AFFINITY={\n  mariage:{p:['V\\u00e9nus','Lune','Jupiter'],a:['Descendant']},\n  pacs:{p:['V\\u00e9nus','Lune','Jupiter'],a:['Descendant']},\n  rencontre:{p:['V\\u00e9nus','Lune','Jupiter'],a:['Descendant']},\n  rencontre_amoureuse:{p:['V\\u00e9nus','Lune','Jupiter'],a:['Descendant']},\n  rupture:{p:['V\\u00e9nus','Mars','Pluton','Uranus'],a:['Descendant']},\n  divorce:{p:['V\\u00e9nus','Mars','Pluton','Uranus','Saturne'],a:['Descendant']},\n  separation:{p:['V\\u00e9nus','Mars','Uranus','Saturne'],a:['Descendant']},\n  enfant:{p:['Lune','V\\u00e9nus','Jupiter']},\n  naissance_enfant:{p:['Lune','V\\u00e9nus','Jupiter']},\n  grossesse:{p:['Lune','V\\u00e9nus','Jupiter']},\n  deces_proche:{p:['Saturne','Pluton','Lune']},\n  deuil:{p:['Saturne','Pluton','Lune']},\n  deces:{p:['Saturne','Pluton']},\n  accident:{p:['Mars','Uranus','Pluton','Saturne']},\n  blessure:{p:['Mars','Uranus','Pluton','Saturne']},\n  agression:{p:['Mars','Pluton','Uranus']},\n  maladie:{p:['Saturne','Mars','Neptune','Chiron']},\n  hospitalisation:{p:['Saturne','Mars','Neptune','Pluton']},\n  chirurgie:{p:['Mars','Pluton','Saturne']},\n  operation:{p:['Mars','Pluton','Saturne']},\n  demenagement:{p:['Lune','Saturne'],a:['Imum Coeli','IC']},\n  emmenagement:{p:['Lune'],a:['Imum Coeli','IC']},\n  voyage_important:{p:['Jupiter','Mercure','Neptune']},\n  voyage:{p:['Jupiter','Mercure']},\n  expatriation:{p:['Jupiter','Uranus','Neptune']},\n  immigration:{p:['Jupiter','Uranus','Neptune']},\n  carriere:{p:['Soleil','Jupiter','Saturne'],a:['Milieu du Ciel','MC']},\n  promotion:{p:['Soleil','Jupiter','Saturne'],a:['Milieu du Ciel','MC']},\n  reussite:{p:['Soleil','Jupiter'],a:['Milieu du Ciel','MC']},\n  licenciement:{p:['Saturne','Uranus','Pluton'],a:['Milieu du Ciel','MC']},\n  chomage:{p:['Saturne','Uranus'],a:['Milieu du Ciel','MC']},\n  echec_pro:{p:['Saturne','Neptune'],a:['Milieu du Ciel','MC']},\n  creation_entreprise:{p:['Soleil','Jupiter','Uranus','Mars'],a:['Milieu du Ciel','MC']},\n  heritage:{p:['Pluton','V\\u00e9nus','Jupiter','Saturne']},\n  achat_immobilier:{p:['V\\u00e9nus','Saturne','Jupiter'],a:['Imum Coeli','IC']},\n  formation:{p:['Mercure','Jupiter']},\n  etudes:{p:['Mercure','Jupiter']},\n  diplome:{p:['Mercure','Jupiter','Saturne']},\n  spirituel:{p:['Neptune','Jupiter']},\n  illumination:{p:['Neptune','Jupiter']},\n  rencontre_pro:{p:['Mercure','Jupiter','Saturne'],a:['Milieu du Ciel','MC']}\n};\nconst AFFINITY_BONUS=1.5;\nfunction affinityBonus(evtType,targetName){\n  if(!evtType)return 1;\n  const a=EVT_AFFINITY[evtType];\n  if(!a)return 1;\n  if((a.p||[]).includes(targetName))return AFFINITY_BONUS;\n  if((a.a||[]).includes(targetName))return AFFINITY_BONUS;\n  return 1;\n}\n\nfunction normDeg(d){return((d%360)+360)%360}\nfunction aspDist(a,b){const d=Math.abs(normDeg(a)-normDeg(b));return Math.min(d,360-d)}\n\nconst ASPECTS=[\n  {name:'conj',angle:0,orb:1.5,weight:4},\n  {name:'opp',angle:180,orb:1.5,weight:3},\n  {name:'car',angle:90,orb:1.5,weight:2},\n  {name:'tri',angle:120,orb:1.5,weight:1},\n  {name:'sex',angle:60,orb:1.5,weight:1},\n  {name:'qnx',angle:150,orb:1.0,weight:0.5},\n  {name:'ssx',angle:30,orb:1.0,weight:0.5}\n];\n\nconst PW={'Soleil':1.5,'Sun':1.5,'Lune':1.5,'Moon':1.5,'Mercure':1.5,'Mercury':1.5,'V\\u00e9nus':1.5,'Venus':1.5,'Mars':1.5,'Jupiter':1.0,'Saturne':1.0,'Saturn':1.0,'Uranus':1.0,'Neptune':1.0,'Pluton':1.0,'Pluto':1.0,'Ascendant':2.0,'Descendant':2.0,'Milieu du Ciel':2.0,'MC':2.0,'Imum Coeli':2.0,'IC':2.0};\nfunction pw(n){return PW[n]||0.5;}\nfunction bestAspect(pos1,pos2,orbOvr){\n  const d=aspDist(pos1,pos2);\n  for(const asp of ASPECTS){const ou=orbOvr||asp.orb;const ao=Math.abs(d-asp.angle);if(ao<ou)return{name:asp.name,angle:asp.angle,weight:asp.weight,ao:ao,ou:ou};}\n  return null;\n}\n\n\nfunction sunLong(jd){\n  const T=(jd-2451545.0)/36525.0;\n  const L0=280.46646+36000.76983*T+0.0003032*T*T;\n  const Mr=(357.52911+35999.05029*T-0.0001537*T*T)*R;\n  const C=(1.9146-0.004817*T)*Math.sin(Mr)+0.019993*Math.sin(2*Mr)+0.00029*Math.sin(3*Mr);\n  return((L0+C)%360+360)%360;\n}\nfunction jdFull(y,m,d,h){return jd0(y,m,d)+(h||0)/24;}\nfunction findSRjd(nSDeg,eY,bm,bd){\n  let lo=jdFull(eY,bm,bd,0)-1.5,hi=jdFull(eY,bm,bd,0)+1.5;\n  for(let i=0;i<25;i++){\n    const mid=(lo+hi)/2;\n    let diff=sunLong(mid)-nSDeg;\n    if(diff>180)diff-=360;if(diff<-180)diff+=360;\n    if(diff>0)hi=mid;else lo=mid;\n  }\n  return(lo+hi)/2;\n}\nfunction calcASCjd(jd){\n  const T=(jd-2451545.0)/36525.0;\n  let gmst=280.46061837+360.98564736629*(jd-2451545.0)+0.000387933*T*T;\n  gmst=((gmst%360)+360)%360;\n  const lst=((gmst+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R,L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nfunction calcMCjd(jd){\n  const T=(jd-2451545.0)/36525.0;\n  let gmst=280.46061837+360.98564736629*(jd-2451545.0)+0.000387933*T*T;\n  gmst=((gmst%360)+360)%360;\n  const lst=((gmst+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;\n  return((Math.atan2(Math.sin(A),Math.cos(A)*Math.cos(eps))/R)%360+360)%360;\n}\n\nfunction getFromHouses(hItem){\n  if(!hItem?.json)return null;const j=hItem.json;\n  if(j.output&&Array.isArray(j.output)){\n    const h1=j.output.find(h=>h.house===1||h.house_number===1);\n    const h10=j.output.find(h=>h.house===10||h.house_number===10);\n    return{ascDeg:h1?.fullDegree,mcDeg:h10?.fullDegree,ascSign:h1?.zodiac_sign?.name?.fr};\n  }\n  if(j.ascendant)return{ascDeg:j.ascendant.fullDegree,mcDeg:j.mc?.fullDegree||j.midheaven?.fullDegree,ascSign:j.ascendant.zodiac_sign?.name?.fr};\n  return null;\n}\nfunction getFromPlanets(pItem){\n  if(!pItem?.json?.output||!Array.isArray(pItem.json.output))return null;\n  const asc=pItem.json.output.find(p=>p.planet?.fr==='Ascendant'||p.planet?.en==='Ascendant');\n  const mc=pItem.json.output.find(p=>p.planet?.fr==='Milieu du Ciel'||p.planet?.en==='MC');\n  if(!asc)return null;\n  return{ascDeg:asc.fullDegree,mcDeg:mc?.fullDegree,ascSign:asc.zodiac_sign?.name?.fr};\n}\n\n// N8N aplatit la reponse [{data:[{date,planetes},...]}] en items individuels\n// progSlice = tableau d'items n8n pour UN creneau candidat\n// Vitesse progresse: Lune=rapide, perso=normal, lentes=faible\nconst PS={'Lune':1.5,'Soleil':1.0,'Mercure':1.0,'V\\u00e9nus':1.0,'Mars':0.7,'Jupiter':0.3,'Saturne':0.3,'Uranus':0.15,'Neptune':0.15,'Pluton':0.15};\nfunction ps(n){return PS[n]||0.5;}\n\nfunction countProgHits(progSlice,slotAsc,slotMc,targets,slotJD){\n  if(!progSlice||progSlice.length===0)return{score:0,details:[]};\n  const data=progSlice.map(it=>it.json).filter(d=>d&&d.planetes&&d.date);\n  if(data.length===0)return{score:0,details:[]};\n  let score=0;const details=[];const seen=new Set();\n  function toDecDate(d){const p=d.split('-');return parseInt(p[0])+((parseInt(p[1])-1)*30.44+parseInt(p[2]))/365.25;}\n  const progPlanets=['Soleil','Lune','Mars','Mercure','Jupiter','V\\u00e9nus','Saturne','Uranus','Neptune','Pluton'];\n  for(const evt of events){\n    const evtDec=evt.year+((evt.month-1)*30.44+evt.day)/365.25;\n    let closest=data[0],minDist=999;\n    for(const d of data){const dd=toDecDate(d.date);if(Math.abs(dd-evtDec)<minDist){minDist=Math.abs(dd-evtDec);closest=d;}}\n    if(!closest?.planetes)continue;\n    const pp=closest.planetes;\n    // [P-detangles v5.6] Recalcul LOCAL des angles progress\\u00e9s pAsc/pMc pour CE cr\\u00e9neau et CET \\u00e9v\\u00e9nement.\n    // Avant : on prenait pp['Ascendant'] / pp['MC'] de l'API, calcul\\u00e9s pour une heure de naissance unique\n    // (milieu de plage), donc identiques pour tous les slots du scan et faux pour les slots loin du milieu.\n    // Maintenant : progression secondaire = jour-pour-an. L'instant progress\\u00e9 = naissance candidate + age (j).\n    // pAsc/pMc d\\u00e9pendent fortement de l'heure de naissance candidate (~15\\u00b0/h), pAsc = ASC sid\\u00e9ral \\u00e0 l'instant\n    // birthCand + age. Les plan\\u00e8tes progress\\u00e9es (Lune, etc.) restent prises de l'API, ~insensibles \\u00e0 l'heure.\n    let pAscLocal,pMcLocal;\n    if(slotJD!==undefined){\n      const ageY=evtDec-birthDecimal;\n      const progJD=slotJD+ageY;\n      pAscLocal=calcASCjd(progJD);\n      pMcLocal=calcMCjd(progJD);\n    }\n    // [P8 v5.2] Pour les progressions, le bonus d'affinité s'applique sur la PLANÈTE PROGRESSÉE\n    // (la \"source\" qui transporte la sémantique de l'événement). Ex : voyage_important + pJupiter ↔ nXxx ⇒ ×1.5.\n    if(slotAsc!==undefined){\n      for(const pn of progPlanets){\n        if(!pp[pn])continue;\n        const ab=affinityBonus(evt.type,pn);\n        const asp=bestAspect(pp[pn].longitude_absolue,slotAsc,1.0);\n        if(asp){\n          const key='p'+pn+'_'+asp.name+'_nASC';\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          let w=Math.round(asp.weight*pw(pn)*ps(pn)*tight*(dup?0.25:1)*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': p'+pn+' '+asp.name+' nASC ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+(ab>1?' \\u2295':'')+')');\n          }\n        }\n      }\n    }\n    if(slotMc!==undefined){\n      for(const pn of progPlanets){\n        if(!pp[pn])continue;\n        const ab=affinityBonus(evt.type,pn);\n        const asp=bestAspect(pp[pn].longitude_absolue,slotMc,1.0);\n        if(asp){\n          const key='p'+pn+'_'+asp.name+'_nMC';\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          let w=Math.round(asp.weight*pw(pn)*ps(pn)*tight*(dup?0.25:1)*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': p'+pn+' '+asp.name+' nMC ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+(ab>1?' \\u2295':'')+')');\n          }\n        }\n      }\n    }\n    // [P-detangles v5.6] Priorit\\u00e9 : valeur locale recalcul\\u00e9e par cr\\u00e9neau ; fallback API si slotJD indisponible.\n    const pAsc=(pAscLocal!==undefined)?pAscLocal:pp['Ascendant']?.longitude_absolue;\n    const pMc=(pMcLocal!==undefined)?pMcLocal:pp['MC']?.longitude_absolue;\n    // [P-circular-asp v5.1] Pénalité pour les aspects \"auto-référents\" entre angle progressé et angle natal.\n    // pASC↔nASC, pASC↔nMC, pMC↔nASC, pMC↔nMC (et leurs équivalents DSC/IC) sont mathématiquement\n    // sur-exprimés au slot candidat car n* dépend du slot et p* en est quasi indépendant : trouver une\n    // conjonction parfaite revient à résoudre l'équation auto-référente, pas à valider une info externe.\n    const CIRC_PEN=0.2;\n    // [P8 v5.2] Pour pASC↔np / pMC↔np, le bonus s'applique sur la CIBLE NATALE (np.name)\n    // car c'est elle qui porte la sémantique. Le bonus s'empile avec la pénalité circulaire\n    // (un voyage_important sur Jupiter natal reste valide même si Jupiter ≠ angle).\n    if(pAsc!==undefined){\n      for(const np of targets){\n        const asp=bestAspect(pAsc,np.deg,1.0);\n        if(asp){\n          const isCirc=ANGLE_NAMES.includes(np.name);\n          const ab=affinityBonus(evt.type,np.name);\n          const key='pASC_'+asp.name+'_n'+np.name;\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          let w=Math.round(asp.weight*pw(np.name)*1.5*tight*(dup?0.25:1)*10)/10;\n          if(isCirc)w=Math.round(w*CIRC_PEN*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': pASC '+asp.name+' n'+np.name+' ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+(isCirc?' \\u21BB':'')+(ab>1?' \\u2295':'')+')');\n          }\n        }\n      }\n    }\n    if(pMc!==undefined){\n      for(const np of targets){\n        const asp=bestAspect(pMc,np.deg,1.0);\n        if(asp){\n          const isCirc=ANGLE_NAMES.includes(np.name);\n          const ab=affinityBonus(evt.type,np.name);\n          const key='pMC_'+asp.name+'_n'+np.name;\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          let w=Math.round(asp.weight*pw(np.name)*tight*(dup?0.25:1)*10)/10;\n          if(isCirc)w=Math.round(w*CIRC_PEN*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': pMC '+asp.name+' n'+np.name+' ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+(isCirc?' \\u21BB':'')+(ab>1?' \\u2295':'')+')');\n          }\n        }\n      }\n    }\n  }\n  return{score,details};\n}\nconst validProg=progItems.filter(it=>it.json&&it.json.planetes&&it.json.date);\nconst alignCountMismatch=scorerItems.length!==housesItems.length||scorerItems.length!==planetItems.length;\n\nfunction pairedScorerIdx(it){\n  const p=it&&it.pairedItem;\n  if(p==null)return null;\n  if(Array.isArray(p)){const x=p[0];return x!=null&&typeof x.item==='number'?x.item:null;}\n  return typeof p.item==='number'?p.item:null;\n}\nfunction pairMapByScorer(arr){\n  const m=new Map();\n  for(let k=0;k<arr.length;k++){\n    const sc=pairedScorerIdx(arr[k]);\n    if(sc!=null&&!m.has(sc))m.set(sc,k);\n  }\n  return m;\n}\nconst housePair=pairMapByScorer(housesItems);\nconst planetPair=pairMapByScorer(planetItems);\nconst usedPairedJoin=housePair.size>0||planetPair.size>0;\n\nfunction pickBest(arr){\n  if(!arr||arr.length===0)return null;\n  const mx=Math.max(...arr.map(d=>d.totalScore));\n  const ties=arr.filter(d=>d.totalScore===mx);\n  return ties.sort((a,b)=>{\n    const tb=(b.arcScore||0)+(b.progScore||0)+(b.srScore||0);\n    const ta=(a.arcScore||0)+(a.progScore||0)+(a.srScore||0);\n    if(tb!==ta)return tb-ta;\n    const wb=b.wScore||0,wa=a.wScore||0;\n    if(wb!==wa)return wb-wa;\n    const cb=b.coherenceCount||0,ca=a.coherenceCount||0;\n    if(cb!==ca)return cb-ca;\n    return String(a.time).localeCompare(String(b.time));\n  })[0];\n}\nfunction slotMinOf(d){const p=d.time.split(':');return parseInt(p[0],10)*60+parseInt(p[1],10);}\n\nconst detail=scorerItems.map((meta_raw,i)=>{\n  const meta=meta_raw?.json||{};\n  const hh=Number(meta._slotH),mm=Number(meta._slotM);\n  if(!Number.isFinite(hh)||!Number.isFinite(mm))return null;\n  const time=String(hh).padStart(2,'0')+':'+String(mm).padStart(2,'0');\n  const mathAscDeg=calcASC(hh+mm/60);\n  const mathSign=signOf(mathAscDeg);\n  const win=typeof meta._windowSign==='string'?String(meta._windowSign).trim():'';\n\n  const hIx=usedPairedJoin&&housePair.has(i)?housePair.get(i):i;\n  const pIx=usedPairedJoin&&planetPair.has(i)?planetPair.get(i):i;\n  let ascDeg,mcDeg,ascSign,src;\n  const hData=housesItems[hIx]!=null?getFromHouses(housesItems[hIx]):null;\n  const pData=planetItems[pIx]!=null?getFromPlanets(planetItems[pIx]):null;\n  if(hData&&hData.ascDeg!==undefined){ascDeg=hData.ascDeg;mcDeg=hData.mcDeg;ascSign=hData.ascSign;src='houses';}\n  else if(pData&&pData.ascDeg!==undefined){ascDeg=pData.ascDeg;mcDeg=pData.mcDeg;ascSign=pData.ascSign;src='planets';}\n  else{ascDeg=mathAscDeg;ascSign=mathSign;src='math';}\n  if(!ascSign&&ascDeg!==undefined)ascSign=signOf(ascDeg);\n\n  // [P3 v5.0] Ancien comportement : on jetait l'API d\\u00e8s qu'elle divergeait du calcul math, mais\n  // _windowSign et mathSign \\u00e9taient calcul\\u00e9s par la m\\u00eame fonction => trustApi \\u00e9tait quasi toujours faux.\n  // Nouveau : on garde l'API par d\\u00e9faut, on ne bascule sur math que si l'\\u00e9cart angulaire d\\u00e9passe 5\\u00b0\n  // (signe d'un d\\u00e9salignement d'items entre Scorer / Scan fin planetes / Scan fin maisons).\n  if(ascSign&&ascSign!==mathSign){\n    const _absDiff=Math.abs(ascDeg-mathAscDeg);\n    const dist=Math.min(_absDiff,360-_absDiff);\n    if(dist>5){\n      ascDeg=mathAscDeg;\n      ascSign=mathSign;\n      if(src==='houses'||src==='planets')src=src+'+t';\n    }\n  }\n\n  const finalSign=ascSign||mathSign;\n  const wScr=Number(meta._windowScore);\n  const wScoreRaw=(scoreMap&&scoreMap[finalSign]!=null)?scoreMap[finalSign]:(Number.isFinite(wScr)?wScr:0);\n  const wSign=finalSign;\n  const wScore=Math.round(wScoreRaw*qFactor*100)/100;\n\n  const descDeg=ascDeg!==undefined?normDeg(ascDeg+180):undefined;\n  const icDeg=mcDeg!==undefined?normDeg(mcDeg+180):undefined;\n  const slotAngles=[];\n  if(ascDeg!==undefined)slotAngles.push({name:'Ascendant',deg:ascDeg});\n  if(mcDeg!==undefined)slotAngles.push({name:'Milieu du Ciel',deg:mcDeg});\n  if(descDeg!==undefined)slotAngles.push({name:'Descendant',deg:descDeg});\n  if(icDeg!==undefined)slotAngles.push({name:'Imum Coeli',deg:icDeg});\n  const slotTargets=[...natalBodies,...slotAngles];\n\n  let arcScore=0;const arcDetails=[];const arcSeen=new Set();\n\n  if(ascDeg!==undefined&&events.length>0){\n    for(const evt of events){\n      const evtDecimal=evt.year+((evt.month-1)*30.44+evt.day)/365.25;\n      const age=evtDecimal-birthDecimal;\n      const dirASC=normDeg(ascDeg+age);\n      const dirMC=mcDeg!==undefined?normDeg(mcDeg+age):null;\n      for(const p of slotTargets){\n        const ab=affinityBonus(evt.type,p.name);\n        const aspA=bestAspect(dirASC,p.deg);\n        if(aspA){\n          const kA='dASC_'+aspA.name+'_'+p.name;\n          const dupA=arcSeen.has(kA);if(!dupA)arcSeen.add(kA);\n          const tight=1-aspA.ao/aspA.ou;\n          let w=Math.round(aspA.weight*pw(p.name)*tight*(dupA?0.5:1)*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){arcScore+=w;arcDetails.push(evt.label+': dirASC '+aspA.name+' '+p.name+' ('+w.toFixed(1)+' '+aspA.ao.toFixed(2)+'\\u00B0'+(dupA?'*':'')+(ab>1?' \\u2295':'')+')');}\n        }\n        if(dirMC!==null){\n          const aspM=bestAspect(dirMC,p.deg);\n          if(aspM){\n            const kM='dMC_'+aspM.name+'_'+p.name;\n            const dupM=arcSeen.has(kM);if(!dupM)arcSeen.add(kM);\n            const tight=1-aspM.ao/aspM.ou;\n            let w=Math.round(aspM.weight*pw(p.name)*tight*(dupM?0.5:1)*10)/10;\n            if(ab>1)w=Math.round(w*ab*10)/10;\n            if(w>=0.3){arcScore+=w;arcDetails.push(evt.label+': dirMC '+aspM.name+' '+p.name+' ('+w.toFixed(1)+' '+aspM.ao.toFixed(2)+'\\u00B0'+(dupM?'*':'')+(ab>1?' \\u2295':'')+')');}\n          }\n        }\n      }\n    }\n  }\n\n  let progScore=0;let progDetails=[];\n  if(validProg.length>0){\n    // [P-detangles v5.6] On calcule le JD de la naissance candidate (slot) et on le passe \\u00e0 countProgHits\n    // pour qu'il recalcule pAsc/pMc localement \\u00e0 chaque \\u00e9v\\u00e9nement (jour-pour-an depuis birthCand).\n    const utSlot=(hh+mm/60)-tz;\n    const slotJD=jdFull(birthY,birthM,birthD,utSlot);\n    const ph=countProgHits(validProg,ascDeg,mcDeg,slotTargets,slotJD);\n    progScore=ph.score;\n    progDetails=ph.details;\n  }\n\n  \n  let srScore=0;const srDetails=[];\n  const natalSun=natalBodies.find(p=>p.name==='Soleil'||p.name==='Sun');\n  if(natalSun&&events.length>0&&ascDeg!==undefined){\n    const srSeen=new Set();\n    const evtYears=[...new Set(events.map(e=>e.year))];\n    for(const eY of evtYears){\n      const srJD=findSRjd(natalSun.deg,eY,birthM,birthD);\n      const srAsc=calcASCjd(srJD);\n      const srMc=calcMCjd(srJD);\n      // [P-circular-asp v5.1 RS] Même pénalité ×0.2 que pour les progressions sur les aspects\n      // srASC/srMC vs angles natals du slot (auto-référents : srASC dépend très peu du slot,\n      // nASC/nMC en dépendent fortement → conjonction parfaite = équation auto-réalisatrice).\n      const SR_CIRC_PEN=0.2;\n      // [P8 v5.2] Pour les RS, on collecte tous les types d'événements de l'année pour appliquer\n      // l'affinité (ex 2008 = accident + deces_proche → Pluton bonifié sous deux titres mais ×1.5 une seule fois).\n      const yearTypes=[...new Set(events.filter(e=>e.year===eY).map(e=>e.type).filter(Boolean))];\n      const yearAffin=name=>yearTypes.some(t=>affinityBonus(t,name)>1)?AFFINITY_BONUS:1;\n      for(const p of slotTargets){\n        const isCircSR=ANGLE_NAMES.includes(p.name);\n        const ab=yearAffin(p.name);\n        const aspA=bestAspect(srAsc,p.deg,3.0);\n        if(aspA){\n          const kA='srASC_'+aspA.name+'_'+p.name;\n          const dupA=srSeen.has(kA);if(!dupA)srSeen.add(kA);\n          const tight=1-aspA.ao/aspA.ou;\n          let w=Math.round(aspA.weight*pw(p.name)*tight*(dupA?0.5:1)*10)/10;\n          if(isCircSR)w=Math.round(w*SR_CIRC_PEN*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){srScore+=w;srDetails.push(eY+': srASC '+aspA.name+' '+p.name+' ('+w.toFixed(1)+(isCircSR?' \\u21BB':'')+(ab>1?' \\u2295':'')+')');}\n        }\n        const aspM=bestAspect(srMc,p.deg,3.0);\n        if(aspM){\n          const kM='srMC_'+aspM.name+'_'+p.name;\n          const dupM=srSeen.has(kM);if(!dupM)srSeen.add(kM);\n          const tight=1-aspM.ao/aspM.ou;\n          let w=Math.round(aspM.weight*pw(p.name)*tight*(dupM?0.5:1)*10)/10;\n          if(isCircSR)w=Math.round(w*SR_CIRC_PEN*10)/10;\n          if(ab>1)w=Math.round(w*ab*10)/10;\n          if(w>=0.3){srScore+=w;srDetails.push(eY+': srMC '+aspM.name+' '+p.name+' ('+w.toFixed(1)+(isCircSR?' \\u21BB':'')+(ab>1?' \\u2295':'')+')');}\n        }\n      }\n    }\n  }\n\n  // [v5.10 Fix A] Cap soft des arcs anormaux. Bench v5.9.1 : Hugo Lion 46.8 (outlier\n  // +17 vs mediane ~30 sur les 4 cas profiles : Hugo 46.8, DG 35.2, Beauvoir 29.4,\n  // Bardot 28.8) ecrase tout autre signal et fait gagner un faux ASC contre Scorpion\n  // (vrai). On dampe lineairement le surplus au-dela de ARC_CAP=35 avec coefficient\n  // ARC_DAMP=0.2 : valeurs saines (<=35) intactes, Hugo Lion 46.8 -> 37.4 (perte 9.4).\n  // arcScoreRaw conserve pour tracabilite et debug bench. Si insuffisant en bench,\n  // resserrer ARC_DAMP a 0.1 puis cap dur a 35.\n  const ARC_CAP=35;\n  const ARC_DAMP=0.2;\n  const arcScoreRaw=arcScore;\n  if(arcScore>ARC_CAP){\n    arcScore=Math.round((ARC_CAP+(arcScore-ARC_CAP)*ARC_DAMP)*10)/10;\n  }\n  const totalScore=wScore+arcScore+progScore+srScore;\n  return{time,ascDeg,mcDeg,ascSign,wSign,wScoreRaw,wScore,arcScore,arcScoreRaw,progScore,srScore,totalScore,arcDetails,progDetails,srDetails,src};\n});\n\nconst cleanDetail=detail.filter(d=>d!==null);\nconst validDetail=cleanDetail.filter(d=>d.ascDeg!==undefined);\n\n// [v5.11.D] Anti-saturation locale du stack technique (arcs + prog + RS) : si le créneau\n// ne dépasse pas nettement le meilleur voisin dans ±WIN minutes, le pic sur la grille 5 min\n// est souvent un artefact de corrélation temporelle. Petite pénalité du total (avant bonus\n// cohérence v5.8). Bench : plateaux Proust/Hugo/YSL-like ; constantes à retoucher si régression.\nconst D11_TECH_WIN_MIN=30;\nconst D11_TECH_MARGIN_MIN=3.5;\nconst D11_TECH_PEN_MAX=2.5;\nfunction techStackD11(dd){\n  return (dd.arcScore||0)+(dd.progScore||0)+(dd.srScore||0);\n}\nfor(const d of validDetail){\n  const m0=slotMinOf(d);\n  let maxOther=-Infinity;\n  for(const o of validDetail){\n    if(o===d)continue;\n    if(Math.abs(slotMinOf(o)-m0)>D11_TECH_WIN_MIN)continue;\n    const t=techStackD11(o);\n    if(t>maxOther)maxOther=t;\n  }\n  if(!Number.isFinite(maxOther))continue;\n  const tSelf=techStackD11(d);\n  const margin=tSelf-maxOther;\n  if(margin<D11_TECH_MARGIN_MIN){\n    const pen=Math.min(D11_TECH_PEN_MAX,D11_TECH_PEN_MAX*(D11_TECH_MARGIN_MIN-margin)/D11_TECH_MARGIN_MIN);\n    d.totalScore=Math.round(Math.max(0,d.totalScore-pen)*100)/100;\n  }\n}\n\n// [v5.8 P2.1] Reranking par COHÉRENCE multi-techniques.\n// Constat benchmark (Bardot/Gainsbourg/Saint Laurent/Beauvoir/Hugo/de Gaulle) : le bon créneau a\n// souvent un PIC d'une des techniques mais perd au total contre un faux pic où une seule\n// technique sort très haut \"par hasard\". On corrige en bonifiant les slots dont le SIGNE\n// est plébiscité par PLUSIEURS techniques indépendantes (questionnaire, arcs, progressions, RS).\n// Bonus +6% par technique alignée (max 4 → +24%). N'ajoute pas de \"fait nouveau\" : amplifie un\n// signal de convergence déjà présent. Préserve totalScoreRaw pour traçabilité.\nconst techPeaks={arc:{sign:null,score:-1},prog:{sign:null,score:-1},sr:{sign:null,score:-1}};\nfor(const d of validDetail){\n  const s=d.wSign||d.ascSign||'?';\n  if(s==='?')continue;\n  if(d.arcScore>techPeaks.arc.score)techPeaks.arc={sign:s,score:d.arcScore};\n  if(d.progScore>techPeaks.prog.score)techPeaks.prog={sign:s,score:d.progScore};\n  const sr=d.srScore||0;\n  if(sr>techPeaks.sr.score)techPeaks.sr={sign:s,score:sr};\n}\n// [v5.8 P2.1 fix] Normalisation des noms de signes pour comparaison robuste : le Scorer\n// expose les noms SANS accent (\"Belier\", \"Gemeaux\") tandis que l'API astro renvoie les noms\n// AVEC accent (\"Bélier\", \"Gémeaux\"). Sans cette normalisation, qTopSign === s échouait\n// silencieusement pour Bélier/Gémeaux → coherenceCount sous-évalué (bug détecté sur le retest\n// Gainsbourg v5.8 : Bélier qTopSign mais bonus de cohérence non appliqué).\nfunction normSignName(x){return String(x||'').normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().trim();}\nconst qTopSign=(ranked&&ranked[0])?normSignName(ranked[0].sign):null;\nconst COHERENCE_PER_TECH=0.06;\nfor(const d of validDetail){\n  const s=d.wSign||d.ascSign||'?';\n  const sN=normSignName(s);\n  let aligned=0;\n  if(s!=='?'){\n    if(qTopSign&&sN===qTopSign)aligned++;\n    if(techPeaks.arc.sign&&normSignName(techPeaks.arc.sign)===sN)aligned++;\n    if(techPeaks.prog.sign&&normSignName(techPeaks.prog.sign)===sN)aligned++;\n    if(techPeaks.sr.sign&&normSignName(techPeaks.sr.sign)===sN)aligned++;\n  }\n  d.coherenceCount=aligned;\n  d.coherenceBonus=aligned*COHERENCE_PER_TECH;\n  d.totalScoreRaw=d.totalScore;\n  d.totalScore=Math.round(d.totalScore*(1+d.coherenceBonus)*100)/100;\n}\n\nconst bestGlobal=validDetail.length>0?pickBest(validDetail):null;\nlet bestPlage=null;\nif(plageBounds&&validDetail.length>0){\n  const loP=+plageBounds.lo,hiP=+plageBounds.hiInc;\n  const sub=validDetail.filter(d=>{const sm=slotMinOf(d);return sm>=loP&&sm<=hiP});\n  if(sub.length>0)bestPlage=pickBest(sub);\n}\nlet best;\nif(plageBounds&&bestPlage)best=bestPlage;\nelse if(bestGlobal)best=bestGlobal;\nelse best={time:'12:00',ascSign:'?',wSign:'?',wScore:0,wScoreRaw:0,arcScore:0,progScore:0,srScore:0,totalScore:0,arcDetails:[],progDetails:[],srDetails:[]};\n\nconst bestTime=best.time;\nconst hasPlanets=natalPlanets.length>0;\nfunction sf(v){return typeof v==='number'?v.toFixed(1):v;}\nfunction sfq(v){return (typeof v==='number'&&Number.isFinite(v))?Number(v.toFixed(2)):v;}\nconst te=(best.arcScore||0)+(best.progScore||0)+(best.srScore||0);\nlet method='';\n// [i18n v5.5] `method` est construit plus bas, après l'initialisation du helper T() (besoin de vars.langue).\n\nconst windowGroups={};\nfor(const d of cleanDetail){\n  const wk=d.wSign||d.ascSign||'?';\n  if(!windowGroups[wk])windowGroups[wk]={sign:wk,score:d.wScore,items:[]};\n  else windowGroups[wk].score=Math.max(windowGroups[wk].score,d.wScore);\n  windowGroups[wk].items.push(d);\n}\n\nconst bestByAsc={};\nfor(const d of validDetail){\n  const k=d.wSign||d.ascSign||'?';\n  if(k==='?')continue;\n  if(!bestByAsc[k]||d.totalScore>bestByAsc[k].totalScore)bestByAsc[k]=d;\n}\nconst ascPeaksSorted=Object.entries(bestByAsc).sort((a,b)=>b[1].totalScore-a[1].totalScore);\n\nconst nAnalysed=validDetail.length;\nconst gridFull=nAnalysed>=280;\nlet scanMetaNote='';\n// scanMetaNote est construit après le helper T() (défini juste en dessous) et utilise donc T('scorerMeta', …).\n// Initialisation à '' ici ; remplissage dans un second try/catch immédiatement après l'initialisation de T.\n// [i18n v5.5] Détection langue de sortie depuis Extract Variables (vars.langue = \"Français\" | \"English\").\n// Why: le formulaire site permet à l'utilisateur de choisir la langue du rapport ; le mail doit suivre\n// ce choix. Si vars.langue manque ou ne matche pas \"English\" (case-insensitive), on tombe en FR (défaut).\n// Note de scope : on traduit uniquement les chaînes éditoriales du mail. Les noms de planètes/signes/\n// types d'événements (issus du moteur swiss-eph et du payload utilisateur) restent en FR — chantier séparé\n// si besoin de traduire le contenu technique (Soleil→Sun, Balance→Libra, etc.).\nconst isEN = (function(){\n  const L = String(vars?.langue||'').trim().toLowerCase();\n  return L==='english' || L==='en' || L==='anglais';\n})();\nconst STR = {\n  fr: {\n    title: 'Resultat de Rectification',\n    forPersonBornAt: 'Pour <b>{prenom} {nom}</b>, ne(e) le {date} a {lieu}',\n    plageIgnored: 'Plage indiquée : <b>{lab}</b> (heure locale) — <span style=\"color:#c60\">aucune fenêtre ASC cohérente avec le questionnaire ; la plage est ignorée pour filtrer le résultat.</span>',\n    plageRestricted: 'Plage indiquée : <b>{lab}</b> (heure locale). Scan restreint à cette fenêtre (grille 5 min). Recommandation = meilleur score <em>dans</em> la plage. Pour explorer 24 h, indiquer 00H00–24H00.',\n    estimatedBirthTime: 'Heure de naissance estimee',\n    ascendant: 'Ascendant {sign}',\n    eventCountWeight: '{n} date(s) d\\u2019événements : pondération questionnaire ×{q} pour privilégier arcs, progressions et RS.',\n    notPercents: 'Les totaux ne sont pas des pourcentages ni une probabilité.',\n    marginGap: ' Écart 1er / 2e meilleur score ({scope}) : {x}.',\n    scopeFullDay: 'grille 24 h complète',\n    scopeAnalysed: 'parmi les créneaux analysés',\n    confGlobalLabel: 'Score de confiance global : ',\n    confSign: '<b>Signe ({sign})</b> : <b>{label}</b>{gap}',\n    confSignGap: ' — écart au 2e signe : {x} pt ({y} %)',\n    confTime: '<b>Heure ({time})</b> : <b>{label}</b>{gap}',\n    confTimeGap: ' — écart au 2e meilleur créneau du même signe : {x} pt ({y} %)',\n    confLowHourWarn: '\\u26A0 Plusieurs créneaux du même signe sont quasi à égalité : le <b>signe</b> est fiable, l\\u2019<b>heure</b> est à considérer à <b>±10\\u201320 min</b> plutôt qu\\u2019à la minute affichée. Pour départager, des dates d\\u2019événements plus précises (jour exact) ou un événement supplémentaire à fort impact aideraient.',\n    confLowSignWarn: '\\u26A0 Les techniques (questionnaire / arcs / progressions / RS) ne convergent pas clairement sur un signe : le résultat reste <b>indicatif</b>. Considérer les alternatives ci-dessous comme plausibles.',\n    altIntroSingle: '<b>Pas convaincu ?</b> Voici l\\u2019alternative la plus proche (écart total faible vs candidat principal {x}) :',\n    altIntroPlural: '<b>Pas convaincu ?</b> Voici les {n} alternatives les plus proches (écart total faible vs candidat principal {x}) :',\n    altRow: '<b>Alternative {i}</b> : <b>{time}</b> \\u2014 ASC <b>{sign}</b> ({deg}) \\u00B7 Total <b>{x}</b> <span style=\"color:#888;font-size:11px\">(écart au candidat principal : {gap} pt / {pct} %)</span>',\n    altMainValidations: '<i>Principales validations</i> : ',\n    altFooter: 'Ces créneaux ont des scores quasi équivalents : la précision actuelle ne permet pas de trancher automatiquement. Si vous reconnaissez un de ces moments dans la journée (lever du jour, repas, soirée\\u2026), c\\u2019est probablement le bon. Pour départager, des dates d\\u2019événements plus précises ou un événement supplémentaire à fort impact aideraient.',\n    bestGlobalIntro: '<b>Meilleur créneau sur toute la journée</b> (hors contrainte de plage) : <b>{time}</b>, ASC {sign} \\u2014 total {x}.',\n    bestGlobalNote: 'L\\u2019heure en tête de mail est le meilleur <em>uniquement entre {plage}</em> (ici {time}, total {x}). Les deux existent sur la même grille 5 min ; le total = arcs + progressions + RS + questionnaire (pondéré). Un 2e signe au questionnaire (ex. Verseau) peut donc gagner dans une fenêtre horaire alors qu\\u2019un autre créneau reste n\\u00B01 sur 24 h.',\n    top5Help: 'Le <b>Top 5 ASC</b> classe les <em>signes</em> selon les réponses : ce n\\u2019est pas un classement d\\u2019heures. À chaque minute testée, l\\u2019ASC réel est recalculé ; les points questionnaire de ce créneau suivent cet ASC. Avec plusieurs dates de vie, le poids du questionnaire est réduit : arcs, progressions et RS décident souvent du pic du total.',\n    peakBySignIntro: '<b>Pic par signe (grille Q)</b> : pour chaque signe, créneau au <b>total</b> max ',\n    peakBySignFooter: '. <span style=\"color:#666\">Tableaux et points Q : <b>signe ASC affiché</b> (après réponse API ; recalcul local = Src « +t »). Les points questionnaire reprennent le score de ce signe ; si Scorer et API concordent contre le calcul local, l\\u2019API est conservée.</span>',\n    picScopeFull: 'sur la grille 5 min / 24 h (tous les créneaux).',\n    picScopePartial: 'sur les {n} créneau(x) réellement analysés dans ce scan (grille partielle \\u2014 pas toute la journée).',\n    top5Title: 'Top 5 ASC (questionnaire)',\n    top5Note: '<b>Ce n\\u2019est pas la même chose que l\\u2019heure estimée.</b> Le Top 5 = uniquement les signes que le <em>questionnaire</em> valorise. L\\u2019heure en tête = le créneau où le <b>total</b> (arcs + progressions + RS + questionnaire pondéré) est maximal sur la grille. Un signe peut être <b>absent du Top 5</b> et gagner quand même : à cette minute, les <b>progressions / RS / arcs</b> peuvent être si élevés qu\\u2019ils dépassent un créneau « Sagittaire » ou « Verseau » avec plus de points Q mais moins d\\u2019événements.',\n    validationsTitle: 'Validation',\n    eventsLine: 'Evenements: ',\n    weightingLegend: 'Pondération orbe: exact=100%, large=faible | Arcs: Angles x2, Perso x1.5, *=dedup x0.5 | Prog: Lune x1.5, Perso x1, Lents x0.3, *=dedup x0.25, \\u21BB=auto-référent angle\\u2194angle x0.2 | RS: ASC/MC RS vs natal, orbe 3°, *=dedup x0.5, \\u21BB=auto-référent x0.2 | \\u2295=affinité sémantique événement\\u2194planète x{x} (ex. voyage\\u2194Jupiter, accident\\u2194Mars, deces\\u2194Saturne/Pluton)',\n    natalUnavailable: 'Positions natales indisponibles.',\n    noArcMatch: 'Aucune correspondance arcs/progressions.',\n    arcsTitle: 'Arcs solaires ({x} pts)',\n    progTitle: 'Progressions API ({x} pts)',\n    srTitle: 'Révolutions Solaires ({x} pts)',\n    qGridSignTitle: 'Signe grille Q : {sign} (pts Q grille 5 min{w} : {score})',\n    qGridSignWeight: ', pond. ×{q}',\n    thHeure: 'Heure', thASC: 'ASC', thDeg: 'Deg', thSrc: 'Src', thArc: 'Arc', thProg: 'Prog', thRS: 'RS', thTot: 'Tot',\n    coverage: '<b>Couverture</b> : {n} créneau(x) avec ASC dans ce rapport ; {m} item(s) Scorer.',\n    scorerMeta: ' Métadonnée Scorer : {x} créneau(x) ({mode}).',\n    partialScanNote: ' \\u2014 <b>scan partiel</b> : seuls les signes présents dans ces créneaux apparaissent en table ; le « Pic par signe » compare les totaux <em>uniquement</em> sur cet ensemble (pas sur 288 pas de 5 min).',\n    natalLine: 'Natales (planetes): ',\n    alignWarn: 'Alignement : {n} créneaux (scorer) vs {p} réponses planètes et {h} maisons \\u2014 en cas d\\u2019échecs HTTP partiels, les lignes peuvent se décaler ; vérifier le scan.',\n    pairedHint: 'Appariement planètes/maisons → créneau via <b>pairedItem</b> (n8n), pas seulement la position dans la liste.',\n    confLabels: { 'Forte':'Forte', 'Moyenne':'Moyenne', 'Faible':'Faible', 'Très faible':'Très faible', 'Inconnue':'Inconnue' },\n    methodArcsProg: 'Arcs({a})+Prog({p})+RS({r})',\n    methodQuestAdj: '+Quest(aj. {w}, brut {raw} ×{q})',\n    methodQuestRaw: '+Quest({w})',\n    methodQuestionnaireOnly: 'Questionnaire ({sign}) brut {raw} pts{w}',\n    methodQuestionnaireUsed: ', utilisé ×{q}',\n  },\n  en: {\n    title: 'Birth Time Rectification — Result',\n    forPersonBornAt: 'For <b>{prenom} {nom}</b>, born on {date} in {lieu}',\n    plageIgnored: 'Specified window: <b>{lab}</b> (local time) \\u2014 <span style=\"color:#c60\">no ASC window consistent with the questionnaire; this window is ignored when filtering the result.</span>',\n    plageRestricted: 'Specified window: <b>{lab}</b> (local time). Scan restricted to this window (5-min grid). Recommendation = best score <em>within</em> the window. To explore the full day, specify 00H00\\u201324H00.',\n    estimatedBirthTime: 'Estimated birth time',\n    ascendant: 'Ascendant {sign}',\n    eventCountWeight: '{n} life-event date(s): questionnaire weight ×{q} to favour solar arcs, progressions and solar returns.',\n    notPercents: 'Totals are neither percentages nor probabilities.',\n    marginGap: ' Gap between 1st and 2nd best score ({scope}): {x}.',\n    scopeFullDay: 'full 24-h grid',\n    scopeAnalysed: 'across analysed slots',\n    confGlobalLabel: 'Overall confidence: ',\n    confSign: '<b>Sign ({sign})</b>: <b>{label}</b>{gap}',\n    confSignGap: ' \\u2014 gap to 2nd sign: {x} pt ({y} %)',\n    confTime: '<b>Time ({time})</b>: <b>{label}</b>{gap}',\n    confTimeGap: ' \\u2014 gap to 2nd best slot of the same sign: {x} pt ({y} %)',\n    confLowHourWarn: '\\u26A0 Several slots of the same sign are nearly tied: the <b>sign</b> is reliable, the <b>time</b> should be considered within <b>±10\\u201320 min</b> rather than the exact minute shown. To narrow it down, more precise event dates (exact day) or one extra high-impact event would help.',\n    confLowSignWarn: '\\u26A0 The techniques (questionnaire / arcs / progressions / solar returns) do not clearly converge on a single sign: the result remains <b>indicative</b>. Consider the alternatives below as plausible.',\n    altIntroSingle: '<b>Not convinced?</b> Here is the closest alternative (small total gap vs main candidate {x}):',\n    altIntroPlural: '<b>Not convinced?</b> Here are the {n} closest alternatives (small total gap vs main candidate {x}):',\n    altRow: '<b>Alternative {i}</b>: <b>{time}</b> \\u2014 ASC <b>{sign}</b> ({deg}) \\u00B7 Total <b>{x}</b> <span style=\"color:#888;font-size:11px\">(gap to main candidate: {gap} pt / {pct} %)</span>',\n    altMainValidations: '<i>Main validations</i>: ',\n    altFooter: 'These slots have nearly equivalent scores: current precision does not allow an automatic decision. If you recognise one of these moments in the day (sunrise, mealtime, evening\\u2026), it is probably the right one. To narrow it down, more precise event dates or one extra high-impact event would help.',\n    bestGlobalIntro: '<b>Best slot over the whole day</b> (without window constraint): <b>{time}</b>, ASC {sign} \\u2014 total {x}.',\n    bestGlobalNote: 'The time at the top of this email is the best <em>only within {plage}</em> (here {time}, total {x}). Both exist on the same 5-min grid; total = arcs + progressions + solar returns + weighted questionnaire. A different 2nd sign in the questionnaire (e.g. Verseau) may therefore win within a time window even though another slot remains #1 over 24 h.',\n    top5Help: 'The <b>Top 5 ASC</b> ranks <em>signs</em> based on the answers: it is not a ranking of times. At each tested minute the actual ASC is recomputed; questionnaire points for that slot follow this ASC. With several life events, questionnaire weight is reduced: arcs, progressions and solar returns often decide the peak of the total.',\n    peakBySignIntro: '<b>Peak per sign (Q grid)</b>: for each sign, slot at maximum <b>total</b> ',\n    peakBySignFooter: '. <span style=\"color:#666\">Tables and Q points: <b>ASC sign shown</b> (after API response; local recompute = Src \\u00AB +t \\u00BB). Questionnaire points reflect that sign\\u2019s score; if Scorer and API agree against the local computation, the API is preserved.</span>',\n    picScopeFull: 'on the 5-min / 24-h grid (every slot).',\n    picScopePartial: 'on the {n} slot(s) actually analysed in this scan (partial grid \\u2014 not the full day).',\n    top5Title: 'Top 5 ASC (questionnaire)',\n    top5Note: '<b>This is not the same as the estimated time.</b> The Top 5 = only the signs the <em>questionnaire</em> favours. The top time = the slot where the <b>total</b> (arcs + progressions + solar returns + weighted questionnaire) is maximal across the grid. A sign can be <b>absent from the Top 5</b> and still win: at that minute, <b>progressions / solar returns / arcs</b> may be high enough to beat a \\u00ABSagittaire\\u00BB or \\u00ABVerseau\\u00BB slot with more Q points but fewer events.',\n    validationsTitle: 'Validation',\n    eventsLine: 'Events: ',\n    weightingLegend: 'Orb weighting: exact=100%, wide=low | Arcs: Angles x2, Personal x1.5, *=dedup x0.5 | Prog: Moon x1.5, Personal x1, Slow x0.3, *=dedup x0.25, \\u21BB=self-referent angle\\u2194angle x0.2 | SR: SR ASC/MC vs natal, orb 3°, *=dedup x0.5, \\u21BB=self-referent x0.2 | \\u2295=event\\u2194planet semantic affinity x{x} (e.g. travel\\u2194Jupiter, accident\\u2194Mars, death\\u2194Saturn/Pluto)',\n    natalUnavailable: 'Natal positions unavailable.',\n    noArcMatch: 'No arc/progression match.',\n    arcsTitle: 'Solar arcs ({x} pts)',\n    progTitle: 'API progressions ({x} pts)',\n    srTitle: 'Solar returns ({x} pts)',\n    qGridSignTitle: 'Q-grid sign: {sign} (5-min Q points{w}: {score})',\n    qGridSignWeight: ', weight ×{q}',\n    thHeure: 'Time', thASC: 'ASC', thDeg: 'Deg', thSrc: 'Src', thArc: 'Arc', thProg: 'Prog', thRS: 'SR', thTot: 'Tot',\n    coverage: '<b>Coverage</b>: {n} slot(s) with ASC in this report; {m} Scorer item(s).',\n    scorerMeta: ' Scorer metadata: {x} slot(s) ({mode}).',\n    partialScanNote: ' \\u2014 <b>partial scan</b>: only the signs present in these slots appear in the table; \\u00ABPeak per sign\\u00BB compares totals <em>only</em> within this set (not over the 288 5-min steps).',\n    natalLine: 'Natal (planets): ',\n    alignWarn: 'Alignment: {n} slots (scorer) vs {p} planet responses and {h} houses \\u2014 partial HTTP failures may shift rows; verify the scan.',\n    pairedHint: 'Planets/houses pairing → slot via <b>pairedItem</b> (n8n), not just list position.',\n    confLabels: { 'Forte':'Strong', 'Moyenne':'Medium', 'Faible':'Low', 'Très faible':'Very low', 'Inconnue':'Unknown' },\n    methodArcsProg: 'Arcs({a})+Prog({p})+SR({r})',\n    methodQuestAdj: '+Quest(adj. {w}, raw {raw} ×{q})',\n    methodQuestRaw: '+Quest({w})',\n    methodQuestionnaireOnly: 'Questionnaire ({sign}) raw {raw} pts{w}',\n    methodQuestionnaireUsed: ', used ×{q}',\n  }\n};\nfunction T(key, p){\n  const dict = isEN ? STR.en : STR.fr;\n  let s = dict[key];\n  if (s === undefined) s = STR.fr[key] !== undefined ? STR.fr[key] : key;\n  if (typeof s !== 'string') return s;\n  if (!p) return s;\n  return s.replace(/\\{(\\w+)\\}/g, function(_, n){ return (p[n]!==undefined && p[n]!==null) ? String(p[n]) : ''; });\n}\nfunction TConfLabel(label){\n  const dict = isEN ? STR.en.confLabels : STR.fr.confLabels;\n  return dict[label] || label;\n}\nconst picScopeTxt = gridFull ? T('picScopeFull') : T('picScopePartial', { n: nAnalysed });\ntry{const sm=firstItem._scanMeta?JSON.parse(firstItem._scanMeta):null;if(sm&&sm.slots)scanMetaNote=T('scorerMeta',{x:sm.slots,mode:sm.mode||''});}catch(eM){}\nif(_plageRaw){\n  if(_plageRaw.ignored){\n    plageHtml='<p style=\"font-size:13px;color:#444\">'+T('plageIgnored',{lab:_plageRaw.lab})+'</p>';\n  } else {\n    plageHtml='<p style=\"font-size:13px;color:#444\">'+T('plageRestricted',{lab:_plageRaw.lab})+'</p>';\n  }\n}\n\n// [i18n v5.5] Reconstruction de `method` selon la langue (la version FR construite plus haut est écrasée).\nif(typeof te !== 'undefined' && te > 0){\n  method = T('methodArcsProg', { a: sf(best.arcScore), p: sf(best.progScore), r: sf(best.srScore||0) });\n  method += qFactor < 1\n    ? T('methodQuestAdj', { w: sf(best.wScore), raw: sf(best.wScoreRaw||0), q: sfq(qFactor) })\n    : T('methodQuestRaw', { w: sf(best.wScore) });\n} else {\n  const w = qFactor < 1 ? T('methodQuestionnaireUsed', { q: sfq(qFactor) }) : '';\n  method = T('methodQuestionnaireOnly', { sign: best.wSign||'?', raw: sf(best.wScoreRaw||0), w: w });\n}\n\nlet html='<div style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px\">';\nhtml+='<h2 style=\"color:#5B4A9E\">'+T('title')+'</h2>';\nhtml+='<p>'+T('forPersonBornAt',{prenom:vars?.prenom||'',nom:vars?.nom||'',date:vars?.date||'',lieu:vars?.lieu||''})+'</p>'+plageHtml;\nhtml+='<div style=\"background:#eee8ff;padding:20px;border-radius:10px;text-align:center;margin:20px 0\">';\nhtml+='<p style=\"font-size:14px;margin:0 0 5px;color:#666\">'+T('estimatedBirthTime')+'</p>';\nhtml+='<p style=\"font-size:36px;font-weight:bold;margin:0;color:#5B4A9E\">'+bestTime+'</p>';\nhtml+='<p style=\"font-size:18px;margin:5px 0 0\">'+T('ascendant',{sign:best.ascSign||'?'})+'</p>';\nhtml+='<p style=\"font-size:12px;margin:8px 0 0;color:#888\">'+method+'</p>';\nif(qFactor<1){\n  html+='<p style=\"font-size:11px;margin-top:10px;color:#555\">'+T('eventCountWeight',{n:evtCount,q:sfq(qFactor)})+'</p>';\n}\nlet marginFirstSecond=null;\nconst byScore=[...validDetail].sort((a,b)=>b.totalScore-a.totalScore);\nlet marginTxt='';\nif(byScore.length>=2){\n  const s0=byScore[0].totalScore;\n  const runner=byScore.find(x=>x.totalScore<s0-1e-9);\n  if(runner){\n    marginFirstSecond=Math.round((s0-runner.totalScore)*100)/100;\n    marginTxt=T('marginGap',{scope:gridFull?T('scopeFullDay'):T('scopeAnalysed'),x:sf(s0-runner.totalScore)});\n  }\n}\nhtml+='<p style=\"font-size:11px;margin-top:8px;color:#666\">'+T('notPercents')+marginTxt+'</p></div>';\n\n// [P2 v5.1] Score de confiance — deux niveaux indépendants : signe (écart au 2e signe) et heure (écart au 2e créneau du même signe).\nlet confLabelGlobal='Inconnue', confColor='#888', confSigneTxt='', confHeureTxt='', confEcartS=null, confEcartH=null, confSigneLabel='Inconnue', confHeureLabel='Inconnue';\ntry{\n  const sortedSig=ascPeaksSorted.map(e=>e[1].totalScore);\n  let ecartSrel=null;\n  if(sortedSig.length>=2&&sortedSig[0]>0){\n    confEcartS=sortedSig[0]-sortedSig[1];\n    ecartSrel=confEcartS/sortedSig[0];\n    // [v5.8 P1.3] Seuils durcis suite au benchmark celebs (0/6 top-1 ASC correct sur l'ancien\n    // calibrage qui labellisait \"Moyenne\" des prédictions à 9-15% d'écart pourtant fausses).\n    // Nouveau : on demande un écart ABSOLU plus large + cohérence multi-techniques pour autoriser\n    // les labels >= Moyenne. Sinon plafond \"Faible\" (annonce honnête de l'incertitude).\n    if(ecartSrel>=0.20)confSigneLabel='Forte';\n    else if(ecartSrel>=0.10)confSigneLabel='Moyenne';\n    else if(ecartSrel>=0.04)confSigneLabel='Faible';\n    else confSigneLabel='Très faible';\n    const cc=Number(best?.coherenceCount)||0;\n    if(cc<2&&(confSigneLabel==='Forte'||confSigneLabel==='Moyenne')){\n      confSigneLabel='Faible';\n    }\n    // [v5.10 Fix B] Degrader la confiance signe en cas de desaccord fort entre le Top-1\n    // questionnaire et le signe predit. Cas YSL v5.9.1 : best=Scorpion, qTopSign=Verseau\n    // (conv Q 1.47x sur 22 vs 15) -> label initial \"Moyenne\" mais signe FAUX, l'utilisateur\n    // recevait un faux signal de fiabilite. Si qTopSign existe ET difere de best.ascSign\n    // normalise ET qConvergence >= 0.30 (Q vraiment convergent), on degrade d'un cran.\n    // Effet collateral utile : \"Moyenne\" -> \"Faible\" declenche Fix B v5.9.1 (4 alts au lieu\n    // de 2) et top-3 Q forces -> Verseau remonte plus visible. Cas deja Faible/Tres faible\n    // non affectes (plancher). Cas best == qTopSign non affectes (Beauvoir, Gainsbourg,\n    // Deneuve, Proust dans le bench actuel).\n    if(qTopSign && qConvergence>=0.30){\n      const bestSignNorm=normSignName(best?.wSign||best?.ascSign||'');\n      if(bestSignNorm && bestSignNorm!==qTopSign){\n        if(confSigneLabel==='Forte')confSigneLabel='Moyenne';\n        else if(confSigneLabel==='Moyenne')confSigneLabel='Faible';\n      }\n    }\n  }\n  const bestSignKey=best.wSign||best.ascSign||'?';\n  const sameSignSlots=validDetail.filter(d=>((d.wSign||d.ascSign||'?')===bestSignKey)).sort((a,b)=>b.totalScore-a.totalScore);\n  let ecartHrel=null;\n  if(sameSignSlots.length>=2&&sameSignSlots[0].totalScore>0){\n    confEcartH=sameSignSlots[0].totalScore-sameSignSlots[1].totalScore;\n    ecartHrel=confEcartH/sameSignSlots[0].totalScore;\n    // [v5.8 P1.3] Seuils heure également durcis : un \"Forte\" à 5% c'était trompeur, vu qu'on\n    // se trompait souvent quand même sur le SIGNE — l'heure exacte importe peu si le signe est faux.\n    if(ecartHrel>=0.08)confHeureLabel='Forte';\n    else if(ecartHrel>=0.03)confHeureLabel='Moyenne';\n    else if(ecartHrel>=0.01)confHeureLabel='Faible';\n    else confHeureLabel='Très faible';\n  }\n  const confRank={'Forte':3,'Moyenne':2,'Faible':1,'Très faible':0,'Inconnue':-1};\n  const rS=confRank[confSigneLabel]??-1, rH=confRank[confHeureLabel]??-1;\n  const minR=Math.min(rS,rH);\n  confLabelGlobal=Object.keys(confRank).find(k=>confRank[k]===minR)||'Inconnue';\n  confColor=minR>=3?'#1d8a3a':minR===2?'#b8860b':minR===1?'#d97706':'#c0392b';\n  const sGap = confEcartS!=null ? T('confSignGap',{x:sf(confEcartS),y:(ecartSrel*100).toFixed(1)}) : '';\n  const hGap = confEcartH!=null ? T('confTimeGap',{x:sf(confEcartH),y:(ecartHrel*100).toFixed(2)}) : '';\n  confSigneTxt = T('confSign',{sign:best.ascSign||'?',label:TConfLabel(confSigneLabel),gap:sGap});\n  confHeureTxt = T('confTime',{time:best.time||'?',label:TConfLabel(confHeureLabel),gap:hGap});\n}catch(eConf){}\n\nif(confSigneTxt||confHeureTxt){\n  html+='<div style=\"margin:16px 0;padding:14px 16px;border-radius:8px;border-left:5px solid '+confColor+';background:#fafafa\">';\n  html+='<p style=\"margin:0 0 8px;font-size:14px;color:#222\">'+T('confGlobalLabel')+'<span style=\"color:'+confColor+';font-weight:bold\">'+TConfLabel(confLabelGlobal)+'</span></p>';\n  if(confSigneTxt)html+='<p style=\"margin:2px 0;font-size:12px;color:#444\">'+confSigneTxt+'</p>';\n  if(confHeureTxt)html+='<p style=\"margin:2px 0;font-size:12px;color:#444\">'+confHeureTxt+'</p>';\n  if(confHeureLabel==='Très faible'||confHeureLabel==='Faible'){\n    html+='<p style=\"margin:8px 0 0;font-size:11px;color:#a04000;line-height:1.5\">'+T('confLowHourWarn')+'</p>';\n  }\n  if(confSigneLabel==='Très faible'||confSigneLabel==='Faible'){\n    html+='<p style=\"margin:6px 0 0;font-size:11px;color:#a04000;line-height:1.5\">'+T('confLowSignWarn')+'</p>';\n  }\n  html+='</div>';\n}\n\n// [D v5.4 → v5.9.1] Top candidats équivalents — affichage ÉLARGI + garantie qTopSign.\n// v5.8 P1.2 : seule \"Forte\" masque les alternatives ; ≤ Moyenne expose les pics par signe.\n// v5.9.1 Fix A : on garantit la présence des pics des top-N signes du questionnaire (Q) dans\n// la liste, même si leur score total les classerait plus bas. Sans ça, un signe pointé fortement\n// par le Q mais battu par des arcs/prog bruyants devient invisible (cas Bardot v5.9 : Sagittaire\n// top-1 Q absent du Top 3 affiché alors qu'il est le vrai ASC ; idem YSL/Verseau).\n// v5.9.1 Fix B : si confSigneLabel ∈ {Très faible, Faible}, on élargit à 4 alternatives (au lieu\n// de 2) et on garantit les top-3 Q (cas De Gaulle : Balance 3e Q rendu visible).\nconst showAlternatives=(confLabelGlobal!=='Forte')&&ascPeaksSorted.length>=2;\nif(showAlternatives){\n  const lowSigneConf=(confSigneLabel==='Très faible'||confSigneLabel==='Faible');\n  const targetAltCount=lowSigneConf?4:2;\n  const altCount=Math.min(targetAltCount,ascPeaksSorted.length-1);\n  const forcedQDepth=lowSigneConf?3:2;\n  const bestSignNorm=normSignName(best.ascSign||'');\n  const forcedSignsNorm=[];\n  for(let qi=0;qi<Math.min(forcedQDepth,(ranked||[]).length);qi++){\n    const sN=normSignName(ranked[qi]?.sign||'');\n    if(sN&&sN!==bestSignNorm&&forcedSignsNorm.indexOf(sN)===-1)forcedSignsNorm.push(sN);\n  }\n  const altPool=ascPeaksSorted.slice(1);\n  const forcedAlts=[],otherAlts=[];\n  for(const ePool of altPool){\n    const sN=normSignName(ePool[1]?.ascSign||ePool[0]||'');\n    if(forcedSignsNorm.indexOf(sN)!==-1)forcedAlts.push(ePool[1]);\n    else otherAlts.push(ePool[1]);\n  }\n  // [v5.10 Fix C] Trier forcedAlts par rang Q (top-1 Q en pole) au lieu de par score\n  // total. Cas YSL v5.10.A+B : Verseau (top-1 Q, vrai ASC) etait alt #2 derriere\n  // Sagittaire (top-3 Q) car Sag avait un total brut superieur. Le top-1 Q en pole\n  // signale a l'utilisateur que le questionnaire converge fortement sur ce signe.\n  // Effet sur autres cas : Hugo (Scorpion top-1 Q deja en alt #1, non affecte),\n  // Bardot (Sagittaire top-1 Q deja en alt #1, non affecte). De Gaulle : Balance\n  // (top-3 Q, vrai ASC) glisse de alt #2 a alt #3 mais reste visible dans 4 alts.\n  forcedAlts.sort((a,b)=>{\n    const ia=forcedSignsNorm.indexOf(normSignName(a.wSign||a.ascSign||''));\n    const ib=forcedSignsNorm.indexOf(normSignName(b.wSign||b.ascSign||''));\n    return ia-ib;\n  });\n  const alts=forcedAlts.concat(otherAlts).slice(0,altCount);\n  html+='<div style=\"margin:10px 0 18px;padding:14px 16px;border-radius:8px;border:1px dashed '+confColor+';background:#fff8ee\">';\n  html+='<p style=\"margin:0 0 10px;font-size:13px;color:#222\">'+(altCount>1?T('altIntroPlural',{n:altCount,x:sf(best.totalScore)}):T('altIntroSingle',{x:sf(best.totalScore)}))+'</p>';\n  for(let i=0;i<alts.length;i++){\n    const a=alts[i];\n    const ecartA=best.totalScore-a.totalScore;\n    const ecartPct=best.totalScore>0?(ecartA/best.totalScore*100).toFixed(1):'?';\n    // Note: 'Arcs / Prog / RS / Q' restent abréviations universelles côté breakdown — on ne traduit que SR/RS via thRS.\n    const breakdown='Arcs '+sf(a.arcScore||0)+' \\u00b7 Prog '+sf(a.progScore||0)+' \\u00b7 '+T('thRS')+' '+sf(a.srScore||0)+' \\u00b7 Q '+sf(a.wScore||0);\n    const topDet=[].concat(a.arcDetails||[],a.progDetails||[],a.srDetails||[]).slice(0,3);\n    const degTxt=a.ascDeg!==undefined?a.ascDeg.toFixed(1)+'\\u00B0':'?';\n    html+='<div style=\"margin:6px 0;padding:10px 12px;background:#fff;border-radius:6px;border-left:3px solid '+confColor+'\">';\n    html+='<p style=\"margin:0 0 4px;font-size:13px;color:#222\">'+T('altRow',{i:(i+1),time:a.time,sign:a.ascSign||'?',deg:degTxt,x:sf(a.totalScore),gap:sf(ecartA),pct:ecartPct})+'</p>';\n    html+='<p style=\"margin:2px 0 0;font-size:11px;color:#555\">'+breakdown+'</p>';\n    if(topDet.length>0){\n      html+='<p style=\"margin:4px 0 0;font-size:11px;color:#666\">'+T('altMainValidations')+topDet.join(' \\u00b7 ')+'</p>';\n    }\n    html+='</div>';\n  }\n  html+='<p style=\"margin:8px 0 0;font-size:11px;color:#a04000;line-height:1.45\">'+T('altFooter')+'</p>';\n  html+='</div>';\n}\n\nif(plageBounds&&bestGlobal&&best&&bestGlobal.time!==best.time){\n  const plLab=plageBounds.label||(isEN?'your window':'votre plage');\n  html+='<div style=\"font-size:13px;color:#333;margin:14px 0;padding:14px;background:#f5f0ff;border-radius:8px;border-left:4px solid #5B4A9E\">';\n  html+='<p style=\"margin:0 0 8px\">'+T('bestGlobalIntro',{time:bestGlobal.time,sign:bestGlobal.ascSign||'?',x:sf(bestGlobal.totalScore)})+'</p>';\n  html+='<p style=\"margin:0;font-size:12px;color:#555\">'+T('bestGlobalNote',{plage:plLab,time:best.time,x:sf(best.totalScore)})+'</p>';\n  html+='</div>';\n}\nif(events.length>0){\n  html+='<p style=\"font-size:11px;color:#666;margin:12px 0;line-height:1.45\">'+T('top5Help')+'</p>';\n}\n\nif(ascPeaksSorted.length>0){\n  const peakLine=ascPeaksSorted.slice(0,12).map(([sign,d])=>sign+' <b>'+d.time+'</b> ('+sf(d.totalScore)+')').join(' \\u00b7 ');\n  const more=ascPeaksSorted.length>12?' \\u2026':'';\n  html+='<p style=\"font-size:12px;color:#333;margin:12px 0;padding:10px 12px;background:#faf8ff;border-radius:6px;border:1px solid #e8e0f5\">'+T('peakBySignIntro')+picScopeTxt+' \\u2014 '+peakLine+more+T('peakBySignFooter')+'</p>';\n}\n\nhtml+='<h3>'+T('top5Title')+'</h3><ol>'+ranked.map(r=>'<li><b>'+r.sign+'</b> \\u2014 '+r.score+' pts</li>').join('')+'</ol>';\nhtml+='<p style=\"font-size:11px;color:#444;margin:10px 0 0;line-height:1.5\">'+T('top5Note')+'</p>';\n\nif(events.length>0){\n  html+='<h3>'+T('validationsTitle')+'</h3>';\n  html+='<p style=\"font-size:12px\">'+T('eventsLine')+events.map(e=>e.label).join(', ')+'</p>';\n  html+='<p style=\"font-size:10px;color:#888\">'+T('weightingLegend',{x:AFFINITY_BONUS})+'</p>';\n  if(!hasPlanets){html+='<p style=\"color:#c60\">'+T('natalUnavailable')+'</p>';}\n  else{\n    if(best.arcDetails&&best.arcDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">'+T('arcsTitle',{x:sf(best.arcScore)})+'</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.arcDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if(best.progDetails&&best.progDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">'+T('progTitle',{x:sf(best.progScore)})+'</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.progDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if(best.srDetails&&best.srDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">'+T('srTitle',{x:sf(best.srScore||0)})+'</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.srDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if((best.arcDetails||[]).length===0&&(best.progDetails||[]).length===0&&(best.srDetails||[]).length===0){\n      html+='<p style=\"color:#999\">'+T('noArcMatch')+'</p>';\n    }\n  }\n}\n\nfor(const wk of Object.keys(windowGroups)){\n  const wg=windowGroups[wk];\n  wg.items=wg.items.filter(d=>d.wSign===wg.sign);\n  wg.items.sort((a,b)=>slotMinOf(a)-slotMinOf(b));\n}\nconst wkChrono=Object.keys(windowGroups).sort((a,b)=>{\n  const ia=windowGroups[a].items[0],ib=windowGroups[b].items[0];\n  const ma=ia?slotMinOf(ia):99999,mb=ib?slotMinOf(ib):99999;\n  return ma-mb;\n});\nfor(const wk of wkChrono){\n  const wg=windowGroups[wk];\n  const wTxt = qFactor<1 ? T('qGridSignWeight',{q:sfq(qFactor)}) : '';\n  html+='<h3>'+T('qGridSignTitle',{sign:wg.sign,w:wTxt,score:sfq(wg.score)})+'</h3>';\n  html+='<table style=\"width:100%;border-collapse:collapse;font-size:12px\">';\n  html+='<tr style=\"background:#5B4A9E;color:white\"><th style=\"padding:4px\">'+T('thHeure')+'</th><th style=\"padding:4px\">'+T('thASC')+'</th><th style=\"padding:4px\">'+T('thDeg')+'</th><th style=\"padding:4px\">'+T('thSrc')+'</th><th style=\"padding:4px\">'+T('thArc')+'</th><th style=\"padding:4px\">'+T('thProg')+'</th><th style=\"padding:4px\">'+T('thRS')+'</th><th style=\"padding:4px\">'+T('thTot')+'</th></tr>';\n  html+=wg.items.map(d=>{\n    const isBest=d.time===bestTime;const bg=isBest?'background:#e8dff5;font-weight:bold':'';\n    return '<tr style=\"border-bottom:1px solid #eee;'+bg+'\"><td style=\"padding:3px;text-align:center\">'+d.time+(isBest?' \\u2605':'')+'</td><td style=\"padding:3px;text-align:center\">'+d.ascSign+'</td><td style=\"padding:3px;text-align:center\">'+(d.ascDeg!==undefined?d.ascDeg.toFixed(1)+'\\u00B0':'?')+'</td><td style=\"padding:3px;text-align:center;color:#888;font-size:10px\">'+d.src+'</td><td style=\"padding:3px;text-align:center\">'+(d.arcScore?sf(d.arcScore):'-')+'</td><td style=\"padding:3px;text-align:center\">'+(d.progScore?sf(d.progScore):'-')+'</td><td style=\"padding:3px;text-align:center\">'+(d.srScore?sf(d.srScore):'-')+'</td><td style=\"padding:3px;text-align:center;font-weight:bold\">'+(d.totalScore?sf(d.totalScore):'-')+'</td></tr>';\n  }).join('');\n  html+='</table>';\n}\n\nhtml+='<p style=\"font-size:10px;color:'+(gridFull?'#888':'#a60')+';margin-top:16px;line-height:1.4\">'+T('coverage',{n:nAnalysed,m:scorerItems.length})+scanMetaNote+(gridFull?'':T('partialScanNote'))+'</p>';\nhtml+='<p style=\"font-size:10px;color:#aaa;margin-top:10px\">'+T('natalLine')+(natalBodies.length>0?natalBodies.map(p=>p.name+' '+p.deg.toFixed(1)).join(', '):'n/a')+'</p>';\nif(alignCountMismatch){\n  html+='<p style=\"font-size:11px;color:#c60;margin-top:8px\">'+T('alignWarn',{n:scorerItems.length,p:planetItems.length,h:housesItems.length})+'</p>';\n}\nif(usedPairedJoin){\n  html+='<p style=\"font-size:10px;color:#176;margin-top:4px\">'+T('pairedHint')+'</p>';\n}\nhtml+='</div>';\n\n// [v5.11 metrics] Objet stable pour bench / régression (n8n : branche « Respond to Webhook »,\n// exécution → fichier, ou merge manuel). Gmail n'utilise que to/subject/html.\nconst dhnMetrics={\n  schemaVersion:1,\n  engineTag:'v5.11.D-metrics',\n  person:{prenom:vars?.prenom||null,nom:vars?.nom||null,date:vars?.date||null,lieu:vars?.lieu||null},\n  best:{\n    time:best.time,\n    ascSign:best.ascSign||null,\n    wSign:best.wSign||null,\n    totalScore:best.totalScore,\n    totalScoreRaw:best.totalScoreRaw!=null?best.totalScoreRaw:best.totalScore,\n    arcScore:best.arcScore||0,\n    arcScoreRaw:best.arcScoreRaw!=null?best.arcScoreRaw:best.arcScore||0,\n    progScore:best.progScore||0,\n    srScore:best.srScore||0,\n    wScore:best.wScore||0,\n    wScoreRaw:best.wScoreRaw||0,\n    coherenceCount:Number(best.coherenceCount)||0,\n    coherenceBonus:best.coherenceBonus||0\n  },\n  bestGlobal24h:bestGlobal&&best&&bestGlobal.time!==best.time?{time:bestGlobal.time,ascSign:bestGlobal.ascSign||null,totalScore:bestGlobal.totalScore}:null,\n  grid:{slotsAnalysed:nAnalysed,slotsExpected:scorerItems.length,gridFull:!!gridFull},\n  marginFirstSecond:marginFirstSecond,\n  confidence:{global:confLabelGlobal,signe:confSigneLabel,heure:confHeureLabel,ecartSignePts:confEcartS,ecartHeurePts:confEcartH},\n  questionnaire:{qFactor:sfq(qFactor),evtCount:evtCount,qConvergence:Number((qConvergence||0).toFixed(4)),qTopSign:qTopSign||null,rankedTop5:(ranked||[]).slice(0,5).map(r=>({sign:r.sign,score:r.score}))},\n  peaksBySignTop12:ascPeaksSorted.slice(0,12).map(e=>({sign:e[0],time:e[1].time,totalScore:e[1].totalScore}))\n};\n\nreturn[{json:{to:vars?.mail||'',subject:'DHN - '+bestTime+' (ASC '+(best.ascSign||'?')+')',html:html,dhnMetrics:dhnMetrics}}];"
      },
      "id": "8cf45b3b-588c-4e18-82d5-bf01d3ebdf95",
      "name": "Resultat final1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        12416,
        3856
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "e72b929f-5369-45e4-a480-163ed3ce29c0",
      "name": "Envoyer resultat1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        12752,
        3856
      ],
      "webhookId": "2d0146b7-ebcb-49f9-8154-e0e9aa008bf6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const WEBHOOK_NODE='Webhook';const EXTRACT_NAMES=['Extract Variables','Extract Variables SYN','Extract Variables DHN','Extract Variables DHN1','Extract Variables1'];function readOrderIdFromWebhook(){try{const j=$(WEBHOOK_NODE).first().json;const b=j?.body!==undefined&&j?.body!==null&&typeof j.body==='object'&&!Array.isArray(j.body)?j.body:j;let id=typeof b?.orderId==='string'?b.orderId.trim():'';if(!id&&typeof j?.orderId==='string')id=j.orderId.trim();return id||null;}catch(e){return null;}}function readOrderIdFromExtracts(){for(const n of EXTRACT_NAMES){try{const v=$(n).first()?.json?.orderId;if(typeof v==='string'&&v.trim())return v.trim();}catch(e){}}return null;}const siteCallbackOrderId=readOrderIdFromWebhook()||readOrderIdFromExtracts();if(!siteCallbackOrderId)return[];return[{json:{siteCallbackOrderId}}];"
      },
      "id": "2e494d82-6e8c-41d4-add8-3c7d39571623",
      "name": "Succes DHN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13136,
        3856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://site-rapports-astro.vercel.app/api/webhooks/n8n-order-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Site-Webhook-Secret",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ orderId: $json.siteCallbackOrderId, status: 'delivered' }) }}",
        "options": {}
      },
      "id": "08c9ac8d-7ed8-4012-b477-fb0f8f8dcee6",
      "name": "POST SUCCES DHN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        13504,
        3856
      ]
    },
    {
      "parameters": {
        "jsCode": "// DHN — remplace le nœud HTTP « Geocodage » (Nominatim seul).\n// Si birth_place_lat / birth_place_lng valides dans Extract → pas d’appel Nominatim.\n// Nécessite nœud Code typeVersion ≥ 2.\n\nconst v = $input.first().json;\n\nfunction parseNum(x) {\n  if (x === null || x === undefined) return NaN;\n  if (typeof x === \"number\" && Number.isFinite(x)) return x;\n  if (typeof x === \"string\" && String(x).trim()) {\n    return parseFloat(String(x).trim().replace(\",\", \".\"));\n  }\n  return NaN;\n}\n\nconst lat0 = parseNum(v.birth_place_lat);\nconst lon0 = parseNum(v.birth_place_lng);\n\nif (\n  Number.isFinite(lat0) &&\n  Number.isFinite(lon0) &&\n  Math.abs(lat0) <= 90 &&\n  Math.abs(lon0) <= 180\n) {\n  const disp =\n    typeof v.birth_place_formatted_address === \"string\" && v.birth_place_formatted_address.trim()\n      ? v.birth_place_formatted_address.trim()\n      : [v.lieu, v.pays].filter(Boolean).join(\", \");\n  return [{ json: { lat: String(lat0), lon: String(lon0), display_name: disp } }];\n}\n\nconst lieu = encodeURIComponent((v.lieu || \"\").trim());\nconst pays = encodeURIComponent((v.pays || \"\").trim());\nconst url = `https://nominatim.openstreetmap.org/search?q=${lieu}%2C%20${pays}&format=json&limit=1`;\n\nconst rows = await this.helpers.httpRequest({\n  method: \"GET\",\n  url,\n  headers: { \"User-Agent\": \"n8n-dhn-2026\" },\n  json: true,\n});\n\nif (!Array.isArray(rows) || rows.length === 0) {\n  return [{ json: {} }];\n}\n\nconst r = rows[0];\nreturn [{ json: { lat: r.lat, lon: r.lon, display_name: r.display_name } }];\n"
      },
      "id": "4bf8ddfc-0e38-4898-8d3d-21790a9c202e",
      "name": "Geocodage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8928,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars = gn('Extract Variables DHN') || gn('Extract Variables DHN1') || gn('Extract Variables');\nif (!vars?.date) throw new Error('DHN : date introuvable — nœud Extract Variables (site) ou Extract Variables DHN (e-mail).');\nconst geo = $input.first().json;\nconst lat = geo.lat || geo[0]?.lat;\nconst lon = geo.lon || geo[0]?.lon;\nif (!lat) throw new Error('Ville introuvable: ' + JSON.stringify(geo).slice(0,200));\nconst d = vars.date.split('/');\nconst ts = Math.floor(new Date(Date.UTC(parseInt(d[2]),parseInt(d[1])-1,parseInt(d[0]),12)).getTime()/1000);\nreturn [{json:{lat:lat,lon:lon,timestamp:ts}}];"
      },
      "id": "d78b6ba5-6d59-4e7d-b5e4-ca64f64bdcfb",
      "name": "Prepare Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        9200,
        4000
      ]
    },
    {
      "parameters": {
        "url": "http://api.timezonedb.com/v2.1/get-time-zone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $vars.TIMEZONEDB_KEY }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "by",
              "value": "position"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lng",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "time",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3232eed0-8692-43b4-84ea-b07a077b5ce9",
      "name": "Get Timezone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9440,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "// [P7 v5.4] TZ historique précise via luxon (TZDB IANA officielle).\n//\n// Pourquoi : TimezoneDB est correct pour lat/lon → IANA timezone, mais sa base\n// de règles DST historiques est moins exhaustive que la TZDB IANA officielle\n// embarquée dans luxon. Cas problématiques connus : Afrique du Nord avant 1990\n// (Tunisie a oscillé sur DST 1939-1944, 1977-1978, 1988-1990), Amérique latine,\n// anciens blocs soviétiques. Ce nœud autoritarise l'offset luxon et conserve\n// TimezoneDB en fallback si luxon n'est pas dispo ou zoneName manquant.\n//\n// Sur n8n Cloud, `DateTime` (luxon) est exposé globalement dans les Code nodes\n// (cf. docs.n8n.io/code/cookbook/luxon/). Pas besoin de require.\n\nfunction gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars = gn('Extract Variables DHN') || gn('Extract Variables DHN1') || gn('Extract Variables');\nif (!vars?.date) throw new Error('DHN P7 : date introuvable — nœud Extract Variables.');\nconst tzdb = $input.first().json || {};\n\nconst d = vars.date.split('/');\nconst yr = parseInt(d[2]), mo = parseInt(d[1]), da = parseInt(d[0]);\n\nconst zoneName = tzdb.zoneName || null;\nconst tzdbOffsetSec = Number.isFinite(tzdb.gmtOffset) ? tzdb.gmtOffset : null;\n\nlet offsetSec = tzdbOffsetSec;\nlet source = 'timezonedb';\nlet tzWarn = null;\n\ntry {\n  if (zoneName && typeof DateTime !== 'undefined') {\n    // Référence à 12:00 locale du jour de naissance : évite les sauts DST aux\n    // extrémités du jour (la valeur 12:00 est presque toujours dans une plage stable).\n    const dt = DateTime.fromObject({ year: yr, month: mo, day: da, hour: 12 }, { zone: zoneName });\n    if (dt.isValid) {\n      const luxOffsetSec = dt.offset * 60;\n      if (tzdbOffsetSec !== null && Math.abs(luxOffsetSec - tzdbOffsetSec) >= 60) {\n        tzWarn = 'Δ TimezoneDB vs luxon = ' + Math.round((luxOffsetSec - tzdbOffsetSec) / 60) + ' min sur ' + zoneName + ' au ' + vars.date + ' — luxon (IANA) prioritaire';\n      }\n      offsetSec = luxOffsetSec;\n      source = 'luxon';\n    } else {\n      tzWarn = 'luxon DateTime invalide pour zone ' + zoneName + ' — fallback TimezoneDB';\n    }\n  } else if (!zoneName) {\n    tzWarn = 'TimezoneDB ne retourne pas zoneName — utilisation gmtOffset brut';\n  } else {\n    tzWarn = 'luxon DateTime non disponible — fallback TimezoneDB';\n  }\n} catch (e) {\n  tzWarn = 'Erreur luxon : ' + (e.message || e) + ' — fallback TimezoneDB';\n}\n\nreturn [{\n  json: Object.assign({}, tzdb, {\n    gmtOffset: offsetSec,\n    gmtOffsetSource: source,\n    zoneNameUsed: zoneName,\n    tzWarn: tzWarn\n  })\n}];"
      },
      "id": "e4bd69c2-3835-4c95-85e2-9f50dead42cb",
      "name": "TZ Historique",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9680,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars = gn('Extract Variables DHN') || gn('Extract Variables DHN1') || gn('Extract Variables');\nif (!vars?.date) throw new Error('DHN : date introuvable — nœud Extract Variables (site) ou Extract Variables DHN (e-mail).');\nconst prep = gn('Prepare Timezone') || gn('Prepare Timezone1');\nconst tz = $input.first().json;\nconst d = vars.date.split('/');\nconst yr=parseInt(d[2]),mo=parseInt(d[1]),da=parseInt(d[0]);\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tzh=tz.gmtOffset/3600;\nconst out=[];\nfor(let h=0;h<24;h++){\n  out.push({json:{body:JSON.stringify({year:yr,month:mo,date:da,hours:h,minutes:0,seconds:0,latitude:lat,longitude:lon,timezone:tzh,config:{observation_point:'geocentric',ayanamsha:'tropical',language:'fr'}})}});\n}\nreturn out;"
      },
      "id": "8af45bb5-2272-485f-a64e-3d955053e1f6",
      "name": "Preparer scan 24h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        9904,
        4000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.225.174.155:8000/western/planets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2
            }
          },
          "timeout": 60000
        }
      },
      "id": "274c710f-7cd7-44bc-9f78-59de502f2451",
      "name": "Scan Planetes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10160,
        4000
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();\nfunction fp(it,fr,en){return(it.json?.output||[]).find(p=>p.planet?.fr===fr||p.planet?.en===en)}\nconst scan=items.map((it,i)=>{const a=fp(it,'Ascendant','Ascendant'),m=fp(it,'Lune','Moon');return{h:i,ascSign:a?.zodiac_sign?.name?.fr||'?',ascDeg:a?.fullDegree,moonSign:m?.zodiac_sign?.name?.fr||'?'}});\nconst trans=[];\nfor(let i=0;i<scan.length-1;i++){if(scan[i].ascSign!==scan[i+1].ascSign)trans.push({from:scan[i].ascSign,to:scan[i+1].ascSign,afterH:i,beforeH:i+1})}\nconst pad=n=>String(n).padStart(2,'0');\nconst toT=m=>pad(Math.floor(m/60))+':'+pad(m%60);\nconst bds=[0,...trans.map(t=>t.beforeH*60),1440];\nconst fen=[];\nfor(let i=0;i<bds.length-1;i++){const s=bds[i],e=bds[i+1],ref=Math.min(Math.floor((s+30)/60),23);fen.push({index:i,ascSign:scan[ref]?.ascSign||'?',start:toT(s),end:toT(e),dureeMin:e-s})}\nreturn[{json:{nbFenetres:fen.length,fenetres:fen,transitions:trans,detail:scan.map(s=>pad(s.h)+'h -> ASC '+s.ascSign+' | Lune '+s.moonSign)}}];"
      },
      "id": "5945c0e9-e309-4500-b89f-3cec838e078e",
      "name": "Analyser fenetres ASC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        10416,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "function gn(n) {\n  try {\n    return $(n).first()?.json || null;\n  } catch (e) {\n    return null;\n  }\n}\nconst src =\n  gn('Extract Variables') ||\n  gn('Extract Variables DHN') ||\n  gn('Extract Variables DHN1') ||\n  gn('Reponses Questionnaire') ||\n  gn('Reponses Questionnaire1') ||\n  {};\nconst out = {};\nfor (let i = 1; i <= 15; i++) {\n  const k = 'q' + i;\n  const v = src[k];\n  if (v !== undefined && v !== null && String(v).trim() !== '') out[k] = v;\n}\nreturn [{ json: out }];"
      },
      "id": "5e06b956-445e-4a84-9975-e3d3e5ee2c81",
      "name": "Reponses Questionnaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        10752,
        3808
      ]
    },
    {
      "parameters": {
        "url": "={{ $json._progUrl }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 24
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 90000
        }
      },
      "id": "d05987c2-ff2a-4396-9592-44461c7c4c82",
      "name": "Scan progressions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11728,
        4560
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst varsProf=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!varsProf?.date)throw new Error('DHN : date introuvable (Extract Variables / Extract Variables DHN).');\nconst qRaw={...(gn('Reponses Questionnaire')||gn('Reponses Questionnaire1')||{}),...(varsProf||{})};\nconst ans={};\nfor(const[k,v]of Object.entries(qRaw)){const m=k.match(/q(\\d+)/);if(m)ans['q'+m[1]]=v;}\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\nconst dd=varsProf.date.split('/');\nconst yr=parseInt(dd[2]),mo=parseInt(dd[1]),da=parseInt(dd[0]);\n\nconst R=Math.PI/180;\nfunction jd0(y,m,d){if(m<=2){y--;m+=12}const A=Math.floor(y/100);return Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+d+2-A+Math.floor(A/4)-1524.5}\nfunction ascCalc(h){\n  const ut=h-tz;const J=jd0(yr,mo,da);const T=(J-2451545)/36525;\n  let g=280.46061837+360.98564736629*(J-2451545)+0.000387933*T*T;g=((g%360)+360)%360;\n  const lst=((g+ut*1.00273790935*15+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;const L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nconst sgn=['Belier','Taureau','Gemeaux','Cancer','Lion','Vierge','Balance','Scorpion','Sagittaire','Capricorne','Verseau','Poissons'];\nfunction signOf(d){return sgn[Math.floor(((d%360)+360)%360/30)]}\n\nconst hourly=[];for(let h=0;h<24;h++)hourly.push({h,s:signOf(ascCalc(h))});\nconst pad=n=>String(n).padStart(2,'0');\nconst toT=m=>pad(Math.floor(m/60))+':'+pad(m%60);\nconst trans=[];for(let i=0;i<23;i++){if(hourly[i].s!==hourly[i+1].s)trans.push(i+1)}\nconst bds=[0,...trans.map(t=>t*60),1440];\nconst fen=[];\nfor(let i=0;i<bds.length-1;i++){\n  const s=bds[i],e=bds[i+1];\n  const ref=Math.min(Math.floor((s+30)/60),23);\n  fen.push({ascSign:hourly[ref].s,start:toT(s),end:toT(e),dureeMin:e-s,sMin:s,eMin:e});\n}\n\nfunction clockToMin(tok){\n  if(tok==null||tok==='')return null;\n  let t=String(tok).trim().replace(/h/gi,':').replace(/\\s/g,'');\n  const mm=t.match(/^(\\d{1,2})(?::(\\d{2}))?$/);\n  if(!mm)return null;\n  let hh=parseInt(mm[1],10),m=mm[2]?parseInt(mm[2],10):0;\n  if(m>59||hh>24||hh<0)return null;\n  if(hh===24)return m===0?1440:null;\n  return hh*60+m;\n}\nfunction buildPlage(v){\n  const raw=(v.plage_naissance||v.plageNaissance||'').toString().trim();\n  function tightStr(s){\n    return String(s||'').replace(/[\\s\\u00A0\\u202F\\uFEFF]/g,'').replace(/h/gi,':').replace(/[\\u2013\\u2014\\u2212]/g,'-');\n  }\n  const tightRaw=tightStr(raw);\n  if(/^0+:0+-24(:0+)?$/i.test(tightRaw)||/^0+:0+-23:59$/i.test(tightRaw))return null;\n  let lo,hi,label='';\n  if(raw){\n    const g=raw.match(/(\\d{1,2}(?::\\d{2})?)\\s*[-\\u2013\\u2014\\u2212]\\s*(\\d{1,2}(?::\\d{2})?)/i);\n    if(g){lo=clockToMin(g[1]);hi=clockToMin(g[2]);label=raw;}\n  }\n  if((lo==null||hi==null)&&v.heure_naissance_min){\n    lo=clockToMin(v.heure_naissance_min);\n    hi=clockToMin(v.heure_naissance_max);\n    label=String(v.heure_naissance_min||'')+' — '+String(v.heure_naissance_max||'');\n    const tightLbl=tightStr(label);\n    if(/^0+:0+-24(:0+)?$/i.test(tightLbl)||/^0+:0+-23:59$/i.test(tightLbl))return null;\n  }\n  if(lo==null||hi==null)return null;\n  if(lo>hi){const t=lo;lo=hi;hi=t;}\n  if(hi>=1440)hi=1439;\n  if(lo>1439)return null;\n  if(lo<=0&&hi>=1439)return null;\n  return{lo,hiInc:hi,label:label||'plage'};\n}\nfunction fenOverlapsPlage(s,e,pl){\n  if(!pl)return true;\n  const last=e-1;\n  if(last<s)return false;\n  return Math.max(s,pl.lo)<=Math.min(last,pl.hiInc);\n}\nconst plage=buildPlage(varsProf);\nlet plageMeta={active:false,label:'',ignored:false};\nlet fenUse=fen;\nif(plage){\n  const hit=fen.filter(w=>fenOverlapsPlage(w.sMin,w.eMin,plage));\n  if(hit.length>0){fenUse=hit;plageMeta={active:true,label:plage.label,ignored:false,lo:plage.lo,hiInc:plage.hiInc};}\n  else{plageMeta={active:true,label:plage.label,ignored:true,lo:plage.lo,hiInc:plage.hiInc};}\n}\n\nconst scores={};sgn.forEach(s=>scores[s]=0);\nconst M={\n  q1:{a:{Belier:4,Sagittaire:2,Lion:1},b:{Taureau:4,Cancer:2,Capricorne:2},c:{Gemeaux:4,Verseau:2,Balance:1},d:{Vierge:3,Scorpion:2,Capricorne:3},e:{Lion:4,Sagittaire:2,Belier:1},f:{Poissons:4,Cancer:2,Scorpion:1}},\n  q2:{a:{Belier:3,Sagittaire:3,Scorpion:1},b:{Taureau:3,Capricorne:3,Cancer:1},c:{Gemeaux:3,Vierge:3,Verseau:1},d:{Cancer:3,Poissons:3,Balance:1},e:{Lion:4,Sagittaire:2},f:{Scorpion:3,Capricorne:2,Belier:1}},\n  q3:{a:{Belier:4,Sagittaire:2},b:{Taureau:3,Capricorne:4},c:{Gemeaux:3,Verseau:3},d:{Cancer:4,Taureau:2},e:{Lion:4,Balance:2},f:{Vierge:4,Capricorne:3},g:{Scorpion:4,Poissons:2},h:{Poissons:4,Cancer:2}},\n  q4:{a:{Belier:3,Lion:3,Capricorne:2},b:{Balance:4,Poissons:2},c:{Verseau:3,Sagittaire:3},d:{Scorpion:3,Cancer:3},e:{Gemeaux:3,Lion:2,Balance:2},f:{Vierge:3,Capricorne:3,Scorpion:1}},\n  q5:{a:{Belier:3,Sagittaire:3},b:{Taureau:3,Capricorne:4,Vierge:1},c:{Verseau:4,Gemeaux:2},d:{Lion:4,Balance:2},e:{Scorpion:4,Capricorne:2},f:{Poissons:3,Cancer:2,Balance:2}},\n  q6:{a:{Capricorne:4,Lion:2,Belier:1},b:{Cancer:4,Taureau:2},c:{Balance:4,Poissons:2},d:{Sagittaire:4,Gemeaux:2},e:{Scorpion:4,Poissons:2},f:{Lion:4,Gemeaux:2},g:{Vierge:4,Capricorne:2},h:{Verseau:4,Sagittaire:2}},\n  q7:{a:{Belier:4,Scorpion:2},b:{Taureau:4,Capricorne:3},c:{Gemeaux:4,Sagittaire:2},d:{Cancer:4,Poissons:2},e:{Lion:4,Belier:2},f:{Vierge:4,Capricorne:3},g:{Balance:4,Poissons:2},h:{Scorpion:4,Capricorne:2},i:{Verseau:4,Gemeaux:2}},\n  q8:{a:{Belier:4,Scorpion:2,Lion:1},b:{Taureau:4,Cancer:2},c:{Gemeaux:3,Verseau:3,Sagittaire:1},d:{Balance:4,Taureau:2},e:{Scorpion:3,Capricorne:3},f:{Poissons:4,Sagittaire:2,Cancer:1}},\n  q9:{a:{Gemeaux:4,Lion:2,Belier:1},b:{Capricorne:4,Vierge:2,Scorpion:1},c:{Gemeaux:3,Poissons:3},d:{Scorpion:3,Poissons:3,Verseau:1},e:{Cancer:4,Sagittaire:2,Lion:1},f:{Scorpion:4,Belier:2}},\n  q10:{a:{Belier:4,Sagittaire:2},b:{Capricorne:4,Vierge:3},c:{Gemeaux:3,Sagittaire:2,Balance:2},d:{Cancer:3,Poissons:3},e:{Verseau:3,Sagittaire:2},f:{Capricorne:4,Scorpion:3,Taureau:1}},\n  q11:{a:{Sagittaire:3,Belier:3},b:{Capricorne:4,Taureau:4},c:{Gemeaux:3,Verseau:3},d:{Lion:4,Balance:3},e:{Verseau:3,Poissons:2},f:{Capricorne:4,Vierge:3}},\n  q12:{a:{Sagittaire:4,Lion:2,Cancer:1},b:{Capricorne:4,Scorpion:2,Vierge:1},c:{Poissons:4,Cancer:2},d:{Gemeaux:3,Verseau:3},e:{Scorpion:4,Belier:2},f:{Taureau:3,Balance:2,Capricorne:1}},\n  q13:{a:{Belier:4,Sagittaire:2},b:{Taureau:4,Capricorne:2},c:{Gemeaux:4,Sagittaire:2,Verseau:1},d:{Cancer:4,Poissons:2,Taureau:1},e:{Lion:3,Scorpion:2,Taureau:1},f:{Vierge:4,Capricorne:2},g:{Balance:4,Taureau:2,Lion:1},h:{Scorpion:4,Capricorne:2},i:{Poissons:4,Cancer:2,Verseau:1}},\n  q14:{a:{Belier:4,Lion:2,Sagittaire:1},b:{Taureau:4,Capricorne:2,Cancer:1},c:{Gemeaux:4,Verseau:2},d:{Cancer:4,Poissons:2},e:{Lion:3,Sagittaire:2,Balance:1},f:{Balance:4,Poissons:2,Taureau:1},g:{Scorpion:4,Capricorne:2,Vierge:1},h:{Poissons:4,Verseau:2}},\n  q15:{a:{Belier:4,Gemeaux:2},b:{Taureau:4,Capricorne:2},c:{Gemeaux:4,Sagittaire:2},d:{Cancer:4,Poissons:2,Vierge:1},e:{Lion:3,Sagittaire:2,Belier:1},f:{Vierge:4,Verseau:2,Capricorne:1},g:{Balance:4,Poissons:2},h:{Scorpion:3,Capricorne:3},i:{Verseau:4,Gemeaux:2}}\n};\nfor(let q=1;q<=15;q++){const a=ans['q'+q];if(a&&M['q'+q]&&M['q'+q][a]){for(const[s,p]of Object.entries(M['q'+q][a]))scores[s]=(scores[s]||0)+p}}\n\nconst ranked=Object.entries(scores).sort((a,b)=>b[1]-a[1]).map(([s,sc])=>({sign:s,score:sc}));\nconst fenScores=fenUse.map(f=>({...f,score:scores[f.ascSign]||0})).sort((a,b)=>b.score-a.score);\nconst refTopFen=fenScores[0]||fen[0]||{ascSign:'?',score:0,sMin:0,eMin:60};\n\nconst evtRaw={...(gn('Evenements de vie')||gn('Evenements de vie1')||{}),...(varsProf||{})};\nconst evtDates=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!k.startsWith('evt'))continue;\n  const allDm=[...v.matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDm){evtDates.push({d:parseInt(dm[1]),m:parseInt(dm[2]),y:parseInt(dm[3]),raw:dm[1]+'/'+dm[2]+'/'+dm[3]});}\n}\nlet dateDebut='',dateFin='';\nif(evtDates.length>0){\n  evtDates.sort((a,b)=>(a.y*10000+a.m*100+a.d)-(b.y*10000+b.m*100+b.d));\n  dateDebut=evtDates[0].raw;\n  dateFin=evtDates[evtDates.length-1].raw;\n}\n\nconst scanMeta={mode:'grid5',slots:0,window:plage?{lo:plage.lo,hiInc:plage.hiInc,label:plage.label}:null};\nconst items=[];\nfor(let m=0;m<1440;m+=5){\n  // [P-window v5.3] Si une plage min/max est fournie par le formulaire (heure_naissance_min/max\n  // ou plage_naissance), on ne génère QUE les slots dans cette fenêtre. Avant : la plage était\n  // utilisée pour fenUse (analyse fenêtres ASC) mais pas pour la grille 5 min, donc 288 slots\n  // étaient toujours scorés + 288 appels HTTP, et le \"meilleur slot\" pouvait sortir hors fenêtre.\n  // Comportement par défaut (00H00-24H00 = aucune plage = plage null) inchangé : scan complet 24h.\n  if(plage&&(m<plage.lo||m>plage.hiInc))continue;\n  const hh=Math.floor(m/60),mm=m%60;\n  const ascAt=signOf(ascCalc(m/60));\n  const qScore=scores[ascAt]||0;\n  items.push({json:{\n    body:JSON.stringify({year:yr,month:mo,date:da,hours:hh,minutes:mm,seconds:0,latitude:lat,longitude:lon,timezone:tz,config:{observation_point:'geocentric',ayanamsha:'tropical',language:'fr'}}),\n    _slotH:hh,_slotM:mm,_slotMinute:m,\n    _windowSign:ascAt,_windowScore:qScore,\n    _top:JSON.stringify(refTopFen),\n    _ranked:JSON.stringify(ranked.slice(0,5)),\n    _allWindows:JSON.stringify(fenUse),\n    _scores:JSON.stringify(scores),\n    _fen:JSON.stringify(fenUse),\n    _plageMeta:JSON.stringify(plageMeta),\n    _scanMeta:JSON.stringify(scanMeta),\n    _progUrl:'',_progEclUrl:''\n  }});\n}\nscanMeta.slots=items.length;\nconst metaStr=JSON.stringify(scanMeta);\nfor(const it of items)it.json._scanMeta=metaStr;\n\n// [P4 v5.0] L'URL /progressions est désormais construite par le nœud dédié « Build Prog URL »,\n// branché en parallèle sur Evenements de vie. Cela évite les 287 appels HTTP à vide qui se produisaient\n// quand seul items[0]._progUrl était rempli sur les 288 slots de la grille.\nreturn items;\n"
      },
      "id": "6b17fa7e-a619-4e33-9073-91c61a2f64d2",
      "name": "Scorer1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        11440,
        4080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.225.174.155:8000/western/planets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2
            }
          },
          "timeout": 60000
        }
      },
      "id": "9f97edde-8a39-4929-a5e6-4756210ae93a",
      "name": "Scan fin planetes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11728,
        4080
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.225.174.155:8000/western/houses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2
            }
          },
          "timeout": 60000
        }
      },
      "id": "aedb1587-a82a-40d2-9e67-cb4d3efe0f4b",
      "name": "Scan fin maisons1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11728,
        4320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        12016,
        3968
      ],
      "id": "e9997401-119f-4b05-a81d-4b3065eb949d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// [P4 v5.0 + P-window v5.3 + P-detangles v5.6] DHN — Build Prog URL\n// Construit l'URL unique vers /progressions, en sortant de la grille du Scorer.\n// Lit Extract Variables / Evenements de vie / Prepare Timezone / Get Timezone, et émet UN SEUL item avec _progUrl.\n// Si aucun événement n'est fourni, retourne [] → le nœud HTTP « Scan progressions » ne sera pas appelé.\n//\n// [P-detangles v5.6] L'heure de référence des progressions est désormais FIXE à 12:00.\n// Pourquoi : l'API ne sert qu'à fournir les positions des PLANÈTES progressées (Lune, Soleil…),\n// qui sont quasi insensibles à l'heure de naissance (≪ 0.1°/h). Les ANGLES progressés (pAsc, pMc),\n// eux, varient ≈15°/h et sont désormais recalculés LOCALEMENT par créneau dans countProgHits\n// (cf. N8N DHN). Cela rend le score Prog d'un même créneau strictement déterministe et indépendant\n// de la plage scannée. Avant : refH = milieu de plage → mêmes coordonnées API utilisées pour tous\n// les slots ; pAsc/pMc API = ASC/MC d'une naissance hypothétique au milieu de plage, pas du slot testé.\nfunction gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!vars?.date)throw new Error('DHN Build Prog URL : date introuvable.');\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\nconst dd=vars.date.split('/');\nconst yr=parseInt(dd[2]),mo=parseInt(dd[1]),da=parseInt(dd[0]);\nconst refH=12,refM=0;\nconst evtRaw={...(gn('Evenements de vie')||gn('Evenements de vie1')||{}),...vars};\nconst evtDates=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!String(k).startsWith('evt'))continue;\n  const allDm=[...String(v).matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDm){evtDates.push({d:parseInt(dm[1]),m:parseInt(dm[2]),y:parseInt(dm[3]),raw:dm[1]+'/'+dm[2]+'/'+dm[3]});}\n}\nif(evtDates.length===0)return [];\nevtDates.sort((a,b)=>(a.y*10000+a.m*100+a.d)-(b.y*10000+b.m*100+b.d));\nconst dateDebut=evtDates[0].raw;\nconst dateFin=evtDates[evtDates.length-1].raw;\nconst url='http://46.225.174.155:8000/progressions?date_debut='+dateDebut+'&date_fin='+dateFin+'&year='+yr+'&month='+mo+'&date='+da+'&hours='+refH+'&minutes='+refM+'&seconds=0&latitude='+lat+'&longitude='+lon+'&timezone='+tz;\nreturn [{json:{_progUrl:url}}];"
      },
      "id": "90d0360b-e50b-44da-856c-280ffa8d40d9",
      "name": "Build Prog URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        11472,
        4496
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Variables": {
      "main": [
        [
          {
            "node": "Geocodage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evenements de vie": {
      "main": [
        [
          {
            "node": "Scorer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Prog URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultat final1": {
      "main": [
        [
          {
            "node": "Envoyer resultat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer resultat1": {
      "main": [
        [
          {
            "node": "Succes DHN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succes DHN": {
      "main": [
        [
          {
            "node": "POST SUCCES DHN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocodage": {
      "main": [
        [
          {
            "node": "Prepare Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Timezone": {
      "main": [
        [
          {
            "node": "Get Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timezone": {
      "main": [
        [
          {
            "node": "TZ Historique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TZ Historique": {
      "main": [
        [
          {
            "node": "Preparer scan 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer scan 24h": {
      "main": [
        [
          {
            "node": "Scan Planetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Planetes": {
      "main": [
        [
          {
            "node": "Analyser fenetres ASC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser fenetres ASC": {
      "main": [
        [
          {
            "node": "Reponses Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reponses Questionnaire": {
      "main": [
        [
          {
            "node": "Evenements de vie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan progressions": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Scorer1": {
      "main": [
        [
          {
            "node": "Scan fin planetes1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scan fin maisons1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan fin planetes1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan fin maisons1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Resultat final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prog URL": {
      "main": [
        [
          {
            "node": "Scan progressions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Extract Variables": [
      {
        "nom": "Test",
        "prenom": "Site",
        "date": "01/01/1990",
        "lieu": "Paris",
        "pays": "France",
        "mail": "test@example.com",
        "langue": "Français",
        "genre": "M",
        "q1": "a",
        "evt1": "naissance 15/06/1995",
        "source": "site"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"
  }
}