DHN/GLOBAL DHN.json
{"nodes":[{"parameters":{"sendTo":"={{ $json.to }}","subject":"={{ $json.subject }}","message":"={{ $json.html }}","options":{}},"id":"a0bc5036-a445-4123-8a6c-e337d6b724cc","name":"Envoyer resultat1","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[12304,3920],"webhookId":"0bd19f25-6f8c-4020-9396-c0e178acd70b","credentials":{"gmailOAuth2":{"id":"Flg03IHE2aFkPhKq","name":"Gmail account 2"}}},{"parameters":{"httpMethod":"POST","path":"dhn-site-order","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[7920,4400],"id":"ad36a986-a259-42b4-ba94-7df7c048bb66","name":"Webhook","webhookId":"818ecb97-24f7-4dae-990f-95d42093a38d"},{"parameters":{"jsCode":"// DHN — nœud « Extract Variables » (WEBHOOK + Gmail) — v2 : champs lieu Google optionnels côté site.\n// Coller dans n8n ; désactiver le pin sur ce nœud.\n\nconst item = $input.all()[0].json;\n\nconst body =\n  item.body !== undefined && item.body !== null && typeof item.body === \"object\" && !Array.isArray(item.body)\n    ? item.body\n    : item;\n\nfunction numOpt(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === \"number\" && Number.isFinite(v)) return v;\n  if (typeof v === \"string\" && String(v).trim()) {\n    const x = parseFloat(String(v).trim().replace(\",\", \".\"));\n    return Number.isFinite(x) ? x : null;\n  }\n  return null;\n}\n\nif (body.event === \"order.paid\" || body.orderId) {\n  const mail = body.customerEmail || body.mail || null;\n  const out = {\n    nom: body.nom ?? null,\n    prenom: body.prenom ?? null,\n    date: body.date ?? null,\n    lieu: body.lieu ?? null,\n    pays: body.pays ?? null,\n    mail,\n    langue: body.langue ?? \"Français\",\n    genre: body.genre ?? \"M\",\n    plage_naissance: body.plage_naissance ?? null,\n    heure_naissance_min: body.heure_naissance_min ?? null,\n    heure_naissance_max: body.heure_naissance_max ?? null,\n    orderId: body.orderId ?? null,\n    stripeCheckoutSessionId: body.stripeCheckoutSessionId ?? null,\n    stripePaymentIntentId: body.stripePaymentIntentId ?? null,\n    amountTotal: body.amountTotal ?? null,\n    currency: body.currency ?? null,\n    stripeEventId: body.stripeEventId ?? null,\n    source: \"site\",\n  };\n  for (let i = 1; i <= 12; i++) {\n    const k = \"q\" + i;\n    if (body[k] !== undefined && body[k] !== null) out[k] = body[k];\n  }\n  for (let i = 1; i <= 10; i++) {\n    const k = \"evt\" + i;\n    if (body[k] !== undefined && body[k] !== null) out[k] = body[k];\n  }\n\n  const blat = numOpt(body.birth_place_lat);\n  const blng = numOpt(body.birth_place_lng);\n  const pid =\n    typeof body.birth_place_place_id === \"string\" && body.birth_place_place_id.trim()\n      ? body.birth_place_place_id.trim()\n      : null;\n  const fa =\n    typeof body.birth_place_formatted_address === \"string\" && body.birth_place_formatted_address.trim()\n      ? body.birth_place_formatted_address.trim()\n      : null;\n  const btr =\n    typeof body.birth_time_reference === \"string\" && body.birth_time_reference.trim()\n      ? body.birth_time_reference.trim()\n      : \"civil_at_birth_place\";\n\n  if (blat !== null && blng !== null && Math.abs(blat) <= 90 && Math.abs(blng) <= 180) {\n    out.birth_place_lat = blat;\n    out.birth_place_lng = blng;\n    if (pid) out.birth_place_place_id = pid;\n    if (fa) out.birth_place_formatted_address = fa;\n    out.birth_time_reference = btr;\n  }\n\n  return [{ json: out }];\n}\n\nif (item && (item.nom || item.date) && !item.payload) {\n  const out = { ...item };\n  if (!out.langue) out.langue = \"Français\";\n  if (!out.genre) out.genre = \"M\";\n  return [{ json: out }];\n}\n\nfunction findPlainText(payload) {\n  if (!payload) return null;\n  if (payload.mimeType === \"text/plain\" && payload.body && payload.body.data) return payload.body.data;\n  if (payload.parts) {\n    for (const part of payload.parts) {\n      const found = findPlainText(part);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nconst b64 = findPlainText(item.payload);\nlet text = b64\n  ? Buffer.from(b64.replace(/-/g, \"+\").replace(/_/g, \"/\"), \"base64\").toString(\"utf-8\")\n  : (item.snippet || \"\");\n\nconst normalized = text.replace(/\\r?\\n/g, \";\");\nconst parts = normalized.split(\";\").map((p) => p.trim()).filter((p) => p.length > 0);\n\nfunction decodeQP(str) {\n  return str.replace(/=([0-9A-Fa-f]{2})/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\nconst result = {};\n\nfor (const part of parts) {\n  const lastEq = part.lastIndexOf(\"=\");\n  if (lastEq === -1) continue;\n  const rawLabel = part.slice(0, lastEq).trim();\n  const val = part.slice(lastEq + 1).trim();\n  const label = decodeQP(rawLabel).toLowerCase().trim();\n  const normalizedLabel = label.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\n  if (label === \"nom\") result.nom = val || null;\n  else if (label === \"prénom\" || normalizedLabel === \"prenom\") result.prenom = val || null;\n  else if (label === \"date de naissance\") result.date = val || null;\n  else if (label === \"lieu de naissance\") result.lieu = val || null;\n  else if (label === \"pays de naissance\") result.pays = val || null;\n  else if (label === \"mail\") {\n    const em = val.match(/[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n    result.mail = em ? em[0] : val || null;\n  } else if (normalizedLabel === \"langue\") result.langue = val || null;\n  else if (normalizedLabel === \"genre\") result.genre = val || null;\n  else if (normalizedLabel === \"plage naissance\" || normalizedLabel === \"plage horaire\")\n    result.plage_naissance = val || null;\n  else if (normalizedLabel === \"heure naissance min\") result.heure_naissance_min = val || null;\n  else if (normalizedLabel === \"heure naissance max\") result.heure_naissance_max = val || null;\n}\n\nif (!result.langue) result.langue = \"Français\";\nif (!result.genre) result.genre = \"M\";\n\nreturn [{ json: { ...result } }];\n"},"id":"3eb3abff-c737-4338-b0fb-58c14bed6731","name":"Extract Variables","type":"n8n-nodes-base.code","typeVersion":1,"position":[8256,4400]},{"parameters":{"jsCode":"// DHN — remplace le nœud HTTP « Geocodage » (Nominatim seul).\n// Si birth_place_lat / birth_place_lng valides dans Extract → pas d’appel Nominatim.\n// Nécessite nœud Code typeVersion ≥ 2.\n\nconst v = $input.first().json;\n\nfunction parseNum(x) {\n  if (x === null || x === undefined) return NaN;\n  if (typeof x === \"number\" && Number.isFinite(x)) return x;\n  if (typeof x === \"string\" && String(x).trim()) {\n    return parseFloat(String(x).trim().replace(\",\", \".\"));\n  }\n  return NaN;\n}\n\nconst lat0 = parseNum(v.birth_place_lat);\nconst lon0 = parseNum(v.birth_place_lng);\n\nif (\n  Number.isFinite(lat0) &&\n  Number.isFinite(lon0) &&\n  Math.abs(lat0) <= 90 &&\n  Math.abs(lon0) <= 180\n) {\n  const disp =\n    typeof v.birth_place_formatted_address === \"string\" && v.birth_place_formatted_address.trim()\n      ? v.birth_place_formatted_address.trim()\n      : [v.lieu, v.pays].filter(Boolean).join(\", \");\n  return [{ json: { lat: String(lat0), lon: String(lon0), display_name: disp } }];\n}\n\nconst lieu = encodeURIComponent((v.lieu || \"\").trim());\nconst pays = encodeURIComponent((v.pays || \"\").trim());\nconst url = `https://nominatim.openstreetmap.org/search?q=${lieu}%2C%20${pays}&format=json&limit=1`;\n\nconst rows = await this.helpers.httpRequest({\n  method: \"GET\",\n  url,\n  headers: { \"User-Agent\": \"n8n-dhn-2026\" },\n  json: true,\n});\n\nif (!Array.isArray(rows) || rows.length === 0) {\n  return [{ json: {} }];\n}\n\nconst r = rows[0];\nreturn [{ json: { lat: r.lat, lon: r.lon, display_name: r.display_name } }];\n"},"id":"8650d87e-2143-406e-ba4e-2052c599efdb","name":"Geocodage","type":"n8n-nodes-base.code","typeVersion":2,"position":[8736,4096]},{"parameters":{"jsCode":"function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars = gn('Extract Variables DHN') || gn('Extract Variables DHN1') || gn('Extract Variables');\nif (!vars?.date) throw new Error('DHN : date introuvable — nœud Extract Variables (site) ou Extract Variables DHN (e-mail).');\nconst geo = $input.first().json;\nconst lat = geo.lat || geo[0]?.lat;\nconst lon = geo.lon || geo[0]?.lon;\nif (!lat) throw new Error('Ville introuvable: ' + JSON.stringify(geo).slice(0,200));\nconst d = vars.date.split('/');\nconst ts = Math.floor(new Date(Date.UTC(parseInt(d[2]),parseInt(d[1])-1,parseInt(d[0]),12)).getTime()/1000);\nreturn [{json:{lat:lat,lon:lon,timestamp:ts}}];"},"id":"6759af73-0db8-4f87-948e-cb44f31af499","name":"Prepare Timezone","type":"n8n-nodes-base.code","typeVersion":1,"position":[9008,4096]},{"parameters":{"url":"http://api.timezonedb.com/v2.1/get-time-zone","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"UV443YWQRYUC"},{"name":"format","value":"json"},{"name":"by","value":"position"},{"name":"lat","value":"={{ $json.lat }}"},{"name":"lng","value":"={{ $json.lon }}"},{"name":"time","value":"={{ $json.timestamp }}"}]},"options":{}},"id":"ea996ba6-7cdb-4d9e-af9b-ec0d1a7d8ce6","name":"Get Timezone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9296,4096]},{"parameters":{"jsCode":"function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars = gn('Extract Variables DHN') || gn('Extract Variables DHN1') || gn('Extract Variables');\nif (!vars?.date) throw new Error('DHN : date introuvable — nœud Extract Variables (site) ou Extract Variables DHN (e-mail).');\nconst prep = gn('Prepare Timezone') || gn('Prepare Timezone1');\nconst tz = $input.first().json;\nconst d = vars.date.split('/');\nconst yr=parseInt(d[2]),mo=parseInt(d[1]),da=parseInt(d[0]);\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tzh=tz.gmtOffset/3600;\nconst out=[];\nfor(let h=0;h<24;h++){\n  out.push({json:{body:JSON.stringify({year:yr,month:mo,date:da,hours:h,minutes:0,seconds:0,latitude:lat,longitude:lon,timezone:tzh,config:{observation_point:'geocentric',ayanamsha:'tropical',language:'fr'}})}});\n}\nreturn out;"},"id":"fba0c203-3d74-411f-a86f-440ef78ee3f1","name":"Preparer scan 24h","type":"n8n-nodes-base.code","typeVersion":1,"position":[9568,4096]},{"parameters":{"method":"POST","url":"http://46.225.174.155:8000/western/planets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{"batching":{"batch":{"batchSize":2}},"timeout":30000}},"id":"2409aaba-737d-47d9-b2a8-51ab03c40337","name":"Scan Planetes","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9856,4096],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items=$input.all();\nfunction fp(it,fr,en){return(it.json?.output||[]).find(p=>p.planet?.fr===fr||p.planet?.en===en)}\nconst scan=items.map((it,i)=>{const a=fp(it,'Ascendant','Ascendant'),m=fp(it,'Lune','Moon');return{h:i,ascSign:a?.zodiac_sign?.name?.fr||'?',ascDeg:a?.fullDegree,moonSign:m?.zodiac_sign?.name?.fr||'?'}});\nconst trans=[];\nfor(let i=0;i<scan.length-1;i++){if(scan[i].ascSign!==scan[i+1].ascSign)trans.push({from:scan[i].ascSign,to:scan[i+1].ascSign,afterH:i,beforeH:i+1})}\nconst pad=n=>String(n).padStart(2,'0');\nconst toT=m=>pad(Math.floor(m/60))+':'+pad(m%60);\nconst bds=[0,...trans.map(t=>t.beforeH*60),1440];\nconst fen=[];\nfor(let i=0;i<bds.length-1;i++){const s=bds[i],e=bds[i+1],ref=Math.min(Math.floor((s+30)/60),23);fen.push({index:i,ascSign:scan[ref]?.ascSign||'?',start:toT(s),end:toT(e),dureeMin:e-s})}\nreturn[{json:{nbFenetres:fen.length,fenetres:fen,transitions:trans,detail:scan.map(s=>pad(s.h)+'h -> ASC '+s.ascSign+' | Lune '+s.moonSign)}}];"},"id":"869bdbdc-b693-4874-bc1a-0182a810157f","name":"Analyser fenetres ASC","type":"n8n-nodes-base.code","typeVersion":1,"position":[10128,4096]},{"parameters":{"url":"={{ $json._progUrl }}","options":{"batching":{"batch":{"batchSize":24}},"response":{"response":{"responseFormat":"json"}},"timeout":90000}},"id":"0d26650d-8fff-48b7-98af-0586fd8e9ec9","name":"Scan progressions","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[11360,4624],"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst varsProf=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!varsProf?.date)throw new Error('DHN : date introuvable (Extract Variables / Extract Variables DHN).');\nconst qRaw={...(gn('Reponses Questionnaire')||gn('Reponses Questionnaire1')||{}),...(varsProf||{})};\nconst ans={};\nfor(const[k,v]of Object.entries(qRaw)){const m=k.match(/q(\\d+)/);if(m)ans['q'+m[1]]=v;}\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\nconst dd=varsProf.date.split('/');\nconst yr=parseInt(dd[2]),mo=parseInt(dd[1]),da=parseInt(dd[0]);\n\nconst R=Math.PI/180;\nfunction jd0(y,m,d){if(m<=2){y--;m+=12}const A=Math.floor(y/100);return Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+d+2-A+Math.floor(A/4)-1524.5}\nfunction ascCalc(h){\n  const ut=h-tz;const J=jd0(yr,mo,da);const T=(J-2451545)/36525;\n  let g=280.46061837+360.98564736629*(J-2451545)+0.000387933*T*T;g=((g%360)+360)%360;\n  const lst=((g+ut*1.00273790935*15+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;const L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nconst sgn=['Belier','Taureau','Gemeaux','Cancer','Lion','Vierge','Balance','Scorpion','Sagittaire','Capricorne','Verseau','Poissons'];\nfunction signOf(d){return sgn[Math.floor(((d%360)+360)%360/30)]}\n\nconst hourly=[];for(let h=0;h<24;h++)hourly.push({h,s:signOf(ascCalc(h))});\nconst pad=n=>String(n).padStart(2,'0');\nconst toT=m=>pad(Math.floor(m/60))+':'+pad(m%60);\nconst trans=[];for(let i=0;i<23;i++){if(hourly[i].s!==hourly[i+1].s)trans.push(i+1)}\nconst bds=[0,...trans.map(t=>t*60),1440];\nconst fen=[];\nfor(let i=0;i<bds.length-1;i++){\n  const s=bds[i],e=bds[i+1];\n  const ref=Math.min(Math.floor((s+30)/60),23);\n  fen.push({ascSign:hourly[ref].s,start:toT(s),end:toT(e),dureeMin:e-s,sMin:s,eMin:e});\n}\n\nfunction clockToMin(tok){\n  if(tok==null||tok==='')return null;\n  let t=String(tok).trim().replace(/h/gi,':').replace(/\\s/g,'');\n  const mm=t.match(/^(\\d{1,2})(?::(\\d{2}))?$/);\n  if(!mm)return null;\n  let hh=parseInt(mm[1],10),m=mm[2]?parseInt(mm[2],10):0;\n  if(m>59||hh>24||hh<0)return null;\n  if(hh===24)return m===0?1440:null;\n  return hh*60+m;\n}\nfunction buildPlage(v){\n  const raw=(v.plage_naissance||v.plageNaissance||'').toString().trim();\n  function tightStr(s){\n    return String(s||'').replace(/[\\s\\u00A0\\u202F\\uFEFF]/g,'').replace(/h/gi,':').replace(/[\\u2013\\u2014\\u2212]/g,'-');\n  }\n  const tightRaw=tightStr(raw);\n  if(/^0+:0+-24(:0+)?$/i.test(tightRaw)||/^0+:0+-23:59$/i.test(tightRaw))return null;\n  let lo,hi,label='';\n  if(raw){\n    const g=raw.match(/(\\d{1,2}(?::\\d{2})?)\\s*[-\\u2013\\u2014\\u2212]\\s*(\\d{1,2}(?::\\d{2})?)/i);\n    if(g){lo=clockToMin(g[1]);hi=clockToMin(g[2]);label=raw;}\n  }\n  if((lo==null||hi==null)&&v.heure_naissance_min){\n    lo=clockToMin(v.heure_naissance_min);\n    hi=clockToMin(v.heure_naissance_max);\n    label=String(v.heure_naissance_min||'')+' — '+String(v.heure_naissance_max||'');\n    const tightLbl=tightStr(label);\n    if(/^0+:0+-24(:0+)?$/i.test(tightLbl)||/^0+:0+-23:59$/i.test(tightLbl))return null;\n  }\n  if(lo==null||hi==null)return null;\n  if(lo>hi){const t=lo;lo=hi;hi=t;}\n  if(hi>=1440)hi=1439;\n  if(lo>1439)return null;\n  if(lo<=0&&hi>=1439)return null;\n  return{lo,hiInc:hi,label:label||'plage'};\n}\nfunction fenOverlapsPlage(s,e,pl){\n  if(!pl)return true;\n  const last=e-1;\n  if(last<s)return false;\n  return Math.max(s,pl.lo)<=Math.min(last,pl.hiInc);\n}\nconst plage=buildPlage(varsProf);\nlet plageMeta={active:false,label:'',ignored:false};\nlet fenUse=fen;\nif(plage){\n  const hit=fen.filter(w=>fenOverlapsPlage(w.sMin,w.eMin,plage));\n  if(hit.length>0){fenUse=hit;plageMeta={active:true,label:plage.label,ignored:false,lo:plage.lo,hiInc:plage.hiInc};}\n  else{plageMeta={active:true,label:plage.label,ignored:true,lo:plage.lo,hiInc:plage.hiInc};}\n}\n\nconst scores={};sgn.forEach(s=>scores[s]=0);\nconst M={\n  q1:{a:{Belier:4,Sagittaire:2,Lion:1},b:{Taureau:4,Cancer:2,Capricorne:2},c:{Gemeaux:4,Verseau:2,Balance:1},d:{Vierge:3,Scorpion:2,Capricorne:3},e:{Lion:4,Sagittaire:2,Belier:1},f:{Poissons:4,Cancer:2,Scorpion:1}},\n  q2:{a:{Belier:3,Sagittaire:3,Scorpion:1},b:{Taureau:3,Capricorne:3,Cancer:1},c:{Gemeaux:3,Vierge:3,Verseau:1},d:{Cancer:3,Poissons:3,Balance:1},e:{Lion:4,Sagittaire:2},f:{Scorpion:3,Capricorne:2,Belier:1}},\n  q3:{a:{Belier:4,Sagittaire:2},b:{Taureau:3,Capricorne:4},c:{Gemeaux:3,Verseau:3},d:{Cancer:4,Taureau:2},e:{Lion:4,Balance:2},f:{Vierge:4,Capricorne:3},g:{Scorpion:4,Poissons:2},h:{Poissons:4,Cancer:2}},\n  q4:{a:{Belier:3,Lion:3,Capricorne:2},b:{Balance:4,Poissons:2},c:{Verseau:3,Sagittaire:3},d:{Scorpion:3,Cancer:3},e:{Gemeaux:3,Lion:2,Balance:2},f:{Vierge:3,Capricorne:3,Scorpion:1}},\n  q5:{a:{Belier:3,Sagittaire:3},b:{Taureau:3,Capricorne:4,Vierge:1},c:{Verseau:4,Gemeaux:2},d:{Lion:4,Balance:2},e:{Scorpion:4,Capricorne:2},f:{Poissons:3,Cancer:2,Balance:2}},\n  q6:{a:{Capricorne:5,Lion:2,Belier:1},b:{Cancer:4,Taureau:2},c:{Balance:4,Poissons:2},d:{Sagittaire:4,Gemeaux:2},e:{Scorpion:4,Poissons:2},f:{Lion:4,Gemeaux:2},g:{Vierge:4,Capricorne:2},h:{Verseau:4,Sagittaire:2}},\n  q7:{a:{Belier:4,Scorpion:2},b:{Taureau:4,Capricorne:3},c:{Gemeaux:4,Sagittaire:2},d:{Cancer:4,Poissons:2},e:{Lion:4,Belier:2},f:{Vierge:4,Capricorne:3},g:{Balance:4,Poissons:2},h:{Scorpion:4,Capricorne:2},i:{Verseau:4,Gemeaux:2}},\n  q8:{a:{Belier:4,Scorpion:2,Lion:1},b:{Taureau:4,Cancer:2},c:{Gemeaux:3,Verseau:3,Sagittaire:1},d:{Balance:4,Taureau:2},e:{Scorpion:3,Capricorne:3},f:{Poissons:4,Sagittaire:2,Cancer:1}},\n  q9:{a:{Gemeaux:4,Lion:2,Belier:1},b:{Capricorne:5,Vierge:2,Scorpion:1},c:{Gemeaux:3,Poissons:3},d:{Scorpion:3,Poissons:3,Verseau:1},e:{Cancer:4,Sagittaire:2,Lion:1},f:{Scorpion:4,Belier:2}},\n  q10:{a:{Belier:4,Sagittaire:2},b:{Capricorne:5,Vierge:3},c:{Gemeaux:3,Sagittaire:2,Balance:2},d:{Cancer:3,Poissons:3},e:{Verseau:3,Sagittaire:2},f:{Capricorne:4,Scorpion:3,Taureau:1}},\n  q11:{a:{Sagittaire:3,Belier:3},b:{Capricorne:4,Taureau:4},c:{Gemeaux:3,Verseau:3},d:{Lion:4,Balance:3},e:{Verseau:3,Poissons:2},f:{Capricorne:5,Vierge:3}},\n  q12:{a:{Sagittaire:4,Lion:2,Cancer:1},b:{Capricorne:5,Scorpion:2,Vierge:1},c:{Poissons:4,Cancer:2},d:{Gemeaux:3,Verseau:3},e:{Scorpion:4,Belier:2},f:{Taureau:3,Balance:2,Capricorne:1}}\n};\nfor(let q=1;q<=12;q++){const a=ans['q'+q];if(a&&M['q'+q]&&M['q'+q][a]){for(const[s,p]of Object.entries(M['q'+q][a]))scores[s]=(scores[s]||0)+p}}\n\nconst ranked=Object.entries(scores).sort((a,b)=>b[1]-a[1]).map(([s,sc])=>({sign:s,score:sc}));\nconst fenScores=fenUse.map(f=>({...f,score:scores[f.ascSign]||0})).sort((a,b)=>b.score-a.score);\nconst refTopFen=fenScores[0]||fen[0]||{ascSign:'?',score:0,sMin:0,eMin:60};\n\nconst evtRaw={...(gn('Evenements de vie')||gn('Evenements de vie1')||{}),...(varsProf||{})};\nconst evtDates=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!k.startsWith('evt'))continue;\n  const allDm=[...v.matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDm){evtDates.push({d:parseInt(dm[1]),m:parseInt(dm[2]),y:parseInt(dm[3]),raw:dm[1]+'/'+dm[2]+'/'+dm[3]});}\n}\nlet dateDebut='',dateFin='';\nif(evtDates.length>0){\n  evtDates.sort((a,b)=>(a.y*10000+a.m*100+a.d)-(b.y*10000+b.m*100+b.d));\n  dateDebut=evtDates[0].raw;\n  dateFin=evtDates[evtDates.length-1].raw;\n}\n\nconst scanMeta={mode:'grid5',slots:0};\nconst items=[];\nfor(let m=0;m<1440;m+=5){\n  const hh=Math.floor(m/60),mm=m%60;\n  const ascAt=signOf(ascCalc(m/60));\n  const qScore=scores[ascAt]||0;\n  items.push({json:{\n    body:JSON.stringify({year:yr,month:mo,date:da,hours:hh,minutes:mm,seconds:0,latitude:lat,longitude:lon,timezone:tz,config:{observation_point:'geocentric',ayanamsha:'tropical',language:'fr'}}),\n    _slotH:hh,_slotM:mm,_slotMinute:m,\n    _windowSign:ascAt,_windowScore:qScore,\n    _top:JSON.stringify(refTopFen),\n    _ranked:JSON.stringify(ranked.slice(0,5)),\n    _allWindows:JSON.stringify(fenUse),\n    _scores:JSON.stringify(scores),\n    _fen:JSON.stringify(fenUse),\n    _plageMeta:JSON.stringify(plageMeta),\n    _scanMeta:JSON.stringify(scanMeta),\n    _progUrl:'',_progEclUrl:''\n  }});\n}\nscanMeta.slots=items.length;\nconst metaStr=JSON.stringify(scanMeta);\nfor(const it of items)it.json._scanMeta=metaStr;\n\nif(items.length>0&&dateDebut&&dateFin){\n  const ref=items[Math.floor(items.length/2)].json;\n  const rh=ref._slotH,rm=ref._slotM;\n  items[0].json._progUrl='http://46.225.174.155:8000/progressions?date_debut='+dateDebut+'&date_fin='+dateFin+'&year='+yr+'&month='+mo+'&date='+da+'&hours='+rh+'&minutes='+rm+'&seconds=0&latitude='+lat+'&longitude='+lon+'&timezone='+tz;\n}\nreturn items;\n"},"id":"7d3d44f7-c3bf-4ef2-9861-618cdfa8b920","name":"Scorer1","type":"n8n-nodes-base.code","typeVersion":1,"position":[11072,4144]},{"parameters":{"method":"POST","url":"http://46.225.174.155:8000/western/planets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{"batching":{"batch":{"batchSize":6}},"timeout":30000}},"id":"94645877-7f22-40fe-bc03-f3dbb9b1c0f4","name":"Scan fin planetes1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[11360,4144],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://46.225.174.155:8000/western/houses","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{"batching":{"batch":{"batchSize":6}},"timeout":30000}},"id":"779d7981-7ee6-4fd3-857f-63588c714e46","name":"Scan fin maisons1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[11360,4384],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[11648,4032],"id":"3cf8a712-5560-4d1e-9ced-de57b72df234","name":"Merge2"},{"parameters":{"jsCode":"// Données planètes par créneau : même forme que la sortie du nœud « Scan fin planetes » / « Scan fin planetes1 » du workflow FRA/DHN/N8N DHN Scan fin Planetes (json = { statusCode, output[] }). Jeu de test exporté : FRA/DHN/DATA SCAN (tableau d’items).\nfunction gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nlet planetItems=[];\ntry{planetItems=$('Scan fin planetes').all()}catch(e){try{planetItems=$('Scan fin planetes1').all()}catch(e2){}}\n\nlet scorerItems=[];\ntry{scorerItems=$('Scorer').all()}catch(e){try{scorerItems=$('Scorer1').all()}catch(e2){}}\n\nconst firstItem=scorerItems[0]?.json||{};\nconst ranked=firstItem._ranked?JSON.parse(firstItem._ranked):[];\nlet scoreMap=null;\ntry{const rs=firstItem._scores;if(rs)scoreMap=JSON.parse(rs)}catch(eSc){}\nfunction labelLooksFullDay(lab){\n  const t=String(lab||'').replace(/[\\s\\u00A0\\u202F\\uFEFF]/g,'').replace(/h/gi,':').replace(/[\\u2013\\u2014\\u2212]/g,'-');\n  return /^0+:0+-24(:0+)?$/i.test(t)||/^0+:0+-23:59$/i.test(t);\n}\nlet plageHtml='';\nlet plageBounds=null;\ntry{\n  const pm=firstItem._plageMeta?JSON.parse(firstItem._plageMeta):null;\n  if(pm&&pm.active){\n    const loN=Number(pm.lo),hiN=Number(pm.hiInc);\n    const journeeNum=!Number.isNaN(loN)&&!Number.isNaN(hiN)&&loN<=0&&hiN>=1439;\n    const journeeEntiere=journeeNum||labelLooksFullDay(pm.label);\n    if(!journeeEntiere){\n      const lab=String(pm.label||'').replace(/</g,'');\n      if(pm.ignored){\n        plageHtml='<p style=\"font-size:13px;color:#444\">Plage indiquée : <b>'+lab+'</b> (heure locale) — <span style=\"color:#c60\">aucune fenêtre ASC cohérente avec le questionnaire ; la plage est ignorée pour filtrer le résultat.</span></p>';\n      }else{\n        plageBounds={lo:loN,hiInc:hiN,label:lab};\n        plageHtml='<p style=\"font-size:13px;color:#444\">Plage indiquée : <b>'+lab+'</b> (heure locale). Scan : <b>grille 5 min sur 24 h</b>. Recommandation affichée = meilleur score <em>dans</em> cette plage ; le meilleur sur toute la journée est rappelé juste sous l’encadré violet lorsqu’il diffère.</p>';\n      }\n    }\n  }\n}catch(ePl){}\nconst vars=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!vars?.date)throw new Error('DHN : date introuvable (Extract Variables / Extract Variables DHN).');\n\nconst ddd=vars.date.split('/');\nconst birthY=parseInt(ddd[2]),birthM=parseInt(ddd[1]),birthD=parseInt(ddd[0]);\nconst birthDecimal=birthY+((birthM-1)*30.44+birthD)/365.25;\n\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\n\nconst R=Math.PI/180;\nfunction jd0(y,m,d){if(m<=2){y--;m+=12}const A=Math.floor(y/100);return Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+d+2-A+Math.floor(A/4)-1524.5}\nfunction calcASC(h){\n  const ut=h-tz;const J=jd0(birthY,birthM,birthD);const T=(J-2451545)/36525;\n  let g=280.46061837+360.98564736629*(J-2451545)+0.000387933*T*T;g=((g%360)+360)%360;\n  const lst=((g+ut*1.00273790935*15+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;const L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nconst sgn=['Belier','Taureau','Gemeaux','Cancer','Lion','Vierge','Balance','Scorpion','Sagittaire','Capricorne','Verseau','Poissons'];\nfunction signOf(d){return sgn[Math.floor(((d%360)+360)%360/30)]}\n\nlet housesItems=[];\ntry{housesItems=$('Scan fin maisons').all()}catch(e){try{housesItems=$('Scan fin maisons1').all()}catch(e2){}}\n\nlet progItems=[];\ntry{progItems=$('Scan progressions').all()}catch(e){try{progItems=$('Scan progressions1').all()}catch(e2){}}\n\nconst evtRaw=gn('Evenements de vie')||gn('Evenements de vie1')||{};\nconst events=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!k.startsWith('evt'))continue;\n  const lbl=v.replace(/(\\d{2}\\/\\d{2}\\/\\d{4})/g,'').trim();\n  const allDates=[...v.matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDates.slice(0,3)){\n    events.push({label:lbl+' '+dm[0],day:parseInt(dm[1]),month:parseInt(dm[2]),year:parseInt(dm[3])});\n  }\n}\nconst evtCount=events.length;\nconst qFactor=evtCount>=4?0.45:evtCount>=3?0.55:evtCount>=2?0.75:1;\n\nlet natalPlanets=[];\ntry{\n  const noon=$('Scan Planetes').all();\n  const mid=noon[Math.min(12,noon.length-1)];\n  const _nout=Array.isArray(mid?.json?.output)?mid.json.output:[];\n  natalPlanets=_nout.filter(p=>p.fullDegree!==undefined).map(p=>({name:p.planet?.fr||p.planet?.en||'?',deg:p.fullDegree}));\n}catch(e){natalPlanets=[]}\nconst ANGLE_NAMES=['Ascendant','Descendant','Milieu du Ciel','Imum Coeli','MC','IC'];\nconst natalBodies=natalPlanets.filter(p=>!ANGLE_NAMES.includes(p.name));\n\nfunction normDeg(d){return((d%360)+360)%360}\nfunction aspDist(a,b){const d=Math.abs(normDeg(a)-normDeg(b));return Math.min(d,360-d)}\n\nconst ASPECTS=[\n  {name:'conj',angle:0,orb:1.5,weight:4},\n  {name:'opp',angle:180,orb:1.5,weight:3},\n  {name:'car',angle:90,orb:1.5,weight:2},\n  {name:'tri',angle:120,orb:1.5,weight:1},\n  {name:'sex',angle:60,orb:1.5,weight:1},\n  {name:'qnx',angle:150,orb:1.0,weight:0.5},\n  {name:'ssx',angle:30,orb:1.0,weight:0.5}\n];\n\nconst PW={'Soleil':1.5,'Sun':1.5,'Lune':1.5,'Moon':1.5,'Mercure':1.5,'Mercury':1.5,'V\\u00e9nus':1.5,'Venus':1.5,'Mars':1.5,'Jupiter':1.0,'Saturne':1.0,'Saturn':1.0,'Uranus':1.0,'Neptune':1.0,'Pluton':1.0,'Pluto':1.0,'Ascendant':2.0,'Descendant':2.0,'Milieu du Ciel':2.0,'MC':2.0,'Imum Coeli':2.0,'IC':2.0};\nfunction pw(n){return PW[n]||0.5;}\nfunction bestAspect(pos1,pos2,orbOvr){\n  const d=aspDist(pos1,pos2);\n  for(const asp of ASPECTS){const ou=orbOvr||asp.orb;const ao=Math.abs(d-asp.angle);if(ao<ou)return{name:asp.name,angle:asp.angle,weight:asp.weight,ao:ao,ou:ou};}\n  return null;\n}\n\n\nfunction sunLong(jd){\n  const T=(jd-2451545.0)/36525.0;\n  const L0=280.46646+36000.76983*T+0.0003032*T*T;\n  const Mr=(357.52911+35999.05029*T-0.0001537*T*T)*R;\n  const C=(1.9146-0.004817*T)*Math.sin(Mr)+0.019993*Math.sin(2*Mr)+0.00029*Math.sin(3*Mr);\n  return((L0+C)%360+360)%360;\n}\nfunction jdFull(y,m,d,h){return jd0(y,m,d)+(h||0)/24;}\nfunction findSRjd(nSDeg,eY,bm,bd){\n  let lo=jdFull(eY,bm,bd,0)-1.5,hi=jdFull(eY,bm,bd,0)+1.5;\n  for(let i=0;i<25;i++){\n    const mid=(lo+hi)/2;\n    let diff=sunLong(mid)-nSDeg;\n    if(diff>180)diff-=360;if(diff<-180)diff+=360;\n    if(diff>0)hi=mid;else lo=mid;\n  }\n  return(lo+hi)/2;\n}\nfunction calcASCjd(jd){\n  const T=(jd-2451545.0)/36525.0;\n  let gmst=280.46061837+360.98564736629*(jd-2451545.0)+0.000387933*T*T;\n  gmst=((gmst%360)+360)%360;\n  const lst=((gmst+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R,L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nfunction calcMCjd(jd){\n  const T=(jd-2451545.0)/36525.0;\n  let gmst=280.46061837+360.98564736629*(jd-2451545.0)+0.000387933*T*T;\n  gmst=((gmst%360)+360)%360;\n  const lst=((gmst+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;\n  return((Math.atan2(Math.sin(A),Math.cos(A)*Math.cos(eps))/R)%360+360)%360;\n}\n\nfunction getFromHouses(hItem){\n  if(!hItem?.json)return null;const j=hItem.json;\n  if(j.output&&Array.isArray(j.output)){\n    const h1=j.output.find(h=>h.house===1||h.house_number===1);\n    const h10=j.output.find(h=>h.house===10||h.house_number===10);\n    return{ascDeg:h1?.fullDegree,mcDeg:h10?.fullDegree,ascSign:h1?.zodiac_sign?.name?.fr};\n  }\n  if(j.ascendant)return{ascDeg:j.ascendant.fullDegree,mcDeg:j.mc?.fullDegree||j.midheaven?.fullDegree,ascSign:j.ascendant.zodiac_sign?.name?.fr};\n  return null;\n}\nfunction getFromPlanets(pItem){\n  if(!pItem?.json?.output||!Array.isArray(pItem.json.output))return null;\n  const asc=pItem.json.output.find(p=>p.planet?.fr==='Ascendant'||p.planet?.en==='Ascendant');\n  const mc=pItem.json.output.find(p=>p.planet?.fr==='Milieu du Ciel'||p.planet?.en==='MC');\n  if(!asc)return null;\n  return{ascDeg:asc.fullDegree,mcDeg:mc?.fullDegree,ascSign:asc.zodiac_sign?.name?.fr};\n}\n\n// N8N aplatit la reponse [{data:[{date,planetes},...]}] en items individuels\n// progSlice = tableau d'items n8n pour UN creneau candidat\n// Vitesse progresse: Lune=rapide, perso=normal, lentes=faible\nconst PS={'Lune':1.5,'Soleil':1.0,'Mercure':1.0,'V\\u00e9nus':1.0,'Mars':0.7,'Jupiter':0.3,'Saturne':0.3,'Uranus':0.15,'Neptune':0.15,'Pluton':0.15};\nfunction ps(n){return PS[n]||0.5;}\n\nfunction countProgHits(progSlice,slotAsc,slotMc,targets){\n  if(!progSlice||progSlice.length===0)return{score:0,details:[]};\n  const data=progSlice.map(it=>it.json).filter(d=>d&&d.planetes&&d.date);\n  if(data.length===0)return{score:0,details:[]};\n  let score=0;const details=[];const seen=new Set();\n  function toDecDate(d){const p=d.split('-');return parseInt(p[0])+((parseInt(p[1])-1)*30.44+parseInt(p[2]))/365.25;}\n  const progPlanets=['Soleil','Lune','Mars','Mercure','Jupiter','V\\u00e9nus','Saturne','Uranus','Neptune','Pluton'];\n  for(const evt of events){\n    const evtDec=evt.year+((evt.month-1)*30.44+evt.day)/365.25;\n    let closest=data[0],minDist=999;\n    for(const d of data){const dd=toDecDate(d.date);if(Math.abs(dd-evtDec)<minDist){minDist=Math.abs(dd-evtDec);closest=d;}}\n    if(!closest?.planetes)continue;\n    const pp=closest.planetes;\n    if(slotAsc!==undefined){\n      for(const pn of progPlanets){\n        if(!pp[pn])continue;\n        const asp=bestAspect(pp[pn].longitude_absolue,slotAsc,1.0);\n        if(asp){\n          const key='p'+pn+'_'+asp.name+'_nASC';\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          const w=Math.round(asp.weight*pw(pn)*ps(pn)*tight*(dup?0.25:1)*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': p'+pn+' '+asp.name+' nASC ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+')');\n          }\n        }\n      }\n    }\n    if(slotMc!==undefined){\n      for(const pn of progPlanets){\n        if(!pp[pn])continue;\n        const asp=bestAspect(pp[pn].longitude_absolue,slotMc,1.0);\n        if(asp){\n          const key='p'+pn+'_'+asp.name+'_nMC';\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          const w=Math.round(asp.weight*pw(pn)*ps(pn)*tight*(dup?0.25:1)*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': p'+pn+' '+asp.name+' nMC ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+')');\n          }\n        }\n      }\n    }\n    const pAsc=pp['Ascendant']?.longitude_absolue;\n    const pMc=pp['MC']?.longitude_absolue;\n    if(pAsc!==undefined){\n      for(const np of targets){\n        const asp=bestAspect(pAsc,np.deg,1.0);\n        if(asp){\n          const key='pASC_'+asp.name+'_n'+np.name;\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          const w=Math.round(asp.weight*pw(np.name)*1.5*tight*(dup?0.25:1)*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': pASC '+asp.name+' n'+np.name+' ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+')');\n          }\n        }\n      }\n    }\n    if(pMc!==undefined){\n      for(const np of targets){\n        const asp=bestAspect(pMc,np.deg,1.0);\n        if(asp){\n          const key='pMC_'+asp.name+'_n'+np.name;\n          const dup=seen.has(key);if(!dup)seen.add(key);\n          const tight=1-asp.ao/asp.ou;\n          const w=Math.round(asp.weight*pw(np.name)*tight*(dup?0.25:1)*10)/10;\n          if(w>=0.3){score+=w;details.push(evt.label+': pMC '+asp.name+' n'+np.name+' ('+w.toFixed(1)+' '+asp.ao.toFixed(2)+'\\u00B0'+(dup?'*':'')+')');\n          }\n        }\n      }\n    }\n  }\n  return{score,details};\n}\nconst validProg=progItems.filter(it=>it.json&&it.json.planetes&&it.json.date);\nconst alignCountMismatch=scorerItems.length!==housesItems.length||scorerItems.length!==planetItems.length;\n\nfunction pairedScorerIdx(it){\n  const p=it&&it.pairedItem;\n  if(p==null)return null;\n  if(Array.isArray(p)){const x=p[0];return x!=null&&typeof x.item==='number'?x.item:null;}\n  return typeof p.item==='number'?p.item:null;\n}\nfunction pairMapByScorer(arr){\n  const m=new Map();\n  for(let k=0;k<arr.length;k++){\n    const sc=pairedScorerIdx(arr[k]);\n    if(sc!=null&&!m.has(sc))m.set(sc,k);\n  }\n  return m;\n}\nconst housePair=pairMapByScorer(housesItems);\nconst planetPair=pairMapByScorer(planetItems);\nconst usedPairedJoin=housePair.size>0||planetPair.size>0;\n\nfunction pickBest(arr){\n  if(!arr||arr.length===0)return null;\n  const mx=Math.max(...arr.map(d=>d.totalScore));\n  return arr.filter(d=>d.totalScore===mx).sort((a,b)=>(b.arcScore+b.progScore+(b.srScore||0))-(a.arcScore+a.progScore+(a.srScore||0)))[0];\n}\nfunction slotMinOf(d){const p=d.time.split(':');return parseInt(p[0],10)*60+parseInt(p[1],10);}\n\nconst detail=scorerItems.map((meta_raw,i)=>{\n  const meta=meta_raw?.json||{};\n  const hh=Number(meta._slotH),mm=Number(meta._slotM);\n  if(!Number.isFinite(hh)||!Number.isFinite(mm))return null;\n  const time=String(hh).padStart(2,'0')+':'+String(mm).padStart(2,'0');\n  const mathAscDeg=calcASC(hh+mm/60);\n  const mathSign=signOf(mathAscDeg);\n  const win=typeof meta._windowSign==='string'?String(meta._windowSign).trim():'';\n\n  const hIx=usedPairedJoin&&housePair.has(i)?housePair.get(i):i;\n  const pIx=usedPairedJoin&&planetPair.has(i)?planetPair.get(i):i;\n  let ascDeg,mcDeg,ascSign,src;\n  const hData=housesItems[hIx]!=null?getFromHouses(housesItems[hIx]):null;\n  const pData=planetItems[pIx]!=null?getFromPlanets(planetItems[pIx]):null;\n  if(hData&&hData.ascDeg!==undefined){ascDeg=hData.ascDeg;mcDeg=hData.mcDeg;ascSign=hData.ascSign;src='houses';}\n  else if(pData&&pData.ascDeg!==undefined){ascDeg=pData.ascDeg;mcDeg=pData.mcDeg;ascSign=pData.ascSign;src='planets';}\n  else{ascDeg=mathAscDeg;ascSign=mathSign;src='math';}\n  if(!ascSign&&ascDeg!==undefined)ascSign=signOf(ascDeg);\n\n  if(ascSign&&ascSign!==mathSign){\n    const trustApi=sgn.includes(win)&&ascSign===win&&win!==mathSign;\n    if(!trustApi){\n      ascDeg=mathAscDeg;\n      ascSign=mathSign;\n      if(src==='houses'||src==='planets')src=src+'+t';\n    }\n  }\n\n  const finalSign=ascSign||mathSign;\n  const wScr=Number(meta._windowScore);\n  const wScoreRaw=(scoreMap&&scoreMap[finalSign]!=null)?scoreMap[finalSign]:(Number.isFinite(wScr)?wScr:0);\n  const wSign=finalSign;\n  const wScore=Math.round(wScoreRaw*qFactor*100)/100;\n\n  const descDeg=ascDeg!==undefined?normDeg(ascDeg+180):undefined;\n  const icDeg=mcDeg!==undefined?normDeg(mcDeg+180):undefined;\n  const slotAngles=[];\n  if(ascDeg!==undefined)slotAngles.push({name:'Ascendant',deg:ascDeg});\n  if(mcDeg!==undefined)slotAngles.push({name:'Milieu du Ciel',deg:mcDeg});\n  if(descDeg!==undefined)slotAngles.push({name:'Descendant',deg:descDeg});\n  if(icDeg!==undefined)slotAngles.push({name:'Imum Coeli',deg:icDeg});\n  const slotTargets=[...natalBodies,...slotAngles];\n\n  let arcScore=0;const arcDetails=[];const arcSeen=new Set();\n\n  if(ascDeg!==undefined&&events.length>0){\n    for(const evt of events){\n      const evtDecimal=evt.year+((evt.month-1)*30.44+evt.day)/365.25;\n      const age=evtDecimal-birthDecimal;\n      const dirASC=normDeg(ascDeg+age);\n      const dirMC=mcDeg!==undefined?normDeg(mcDeg+age):null;\n      for(const p of slotTargets){\n        const aspA=bestAspect(dirASC,p.deg);\n        if(aspA){\n          const kA='dASC_'+aspA.name+'_'+p.name;\n          const dupA=arcSeen.has(kA);if(!dupA)arcSeen.add(kA);\n          const tight=1-aspA.ao/aspA.ou;\n          const w=Math.round(aspA.weight*pw(p.name)*tight*(dupA?0.5:1)*10)/10;\n          if(w>=0.3){arcScore+=w;arcDetails.push(evt.label+': dirASC '+aspA.name+' '+p.name+' ('+w.toFixed(1)+' '+aspA.ao.toFixed(2)+'\\u00B0'+(dupA?'*':'')+')');}\n        }\n        if(dirMC!==null){\n          const aspM=bestAspect(dirMC,p.deg);\n          if(aspM){\n            const kM='dMC_'+aspM.name+'_'+p.name;\n            const dupM=arcSeen.has(kM);if(!dupM)arcSeen.add(kM);\n            const tight=1-aspM.ao/aspM.ou;\n            const w=Math.round(aspM.weight*pw(p.name)*tight*(dupM?0.5:1)*10)/10;\n            if(w>=0.3){arcScore+=w;arcDetails.push(evt.label+': dirMC '+aspM.name+' '+p.name+' ('+w.toFixed(1)+' '+aspM.ao.toFixed(2)+'\\u00B0'+(dupM?'*':'')+')');}\n          }\n        }\n      }\n    }\n  }\n\n  let progScore=0;let progDetails=[];\n  if(validProg.length>0){\n    const ph=countProgHits(validProg,ascDeg,mcDeg,slotTargets);\n    progScore=ph.score;\n    progDetails=ph.details;\n  }\n\n  \n  let srScore=0;const srDetails=[];\n  const natalSun=natalBodies.find(p=>p.name==='Soleil'||p.name==='Sun');\n  if(natalSun&&events.length>0&&ascDeg!==undefined){\n    const srSeen=new Set();\n    const evtYears=[...new Set(events.map(e=>e.year))];\n    for(const eY of evtYears){\n      const srJD=findSRjd(natalSun.deg,eY,birthM,birthD);\n      const srAsc=calcASCjd(srJD);\n      const srMc=calcMCjd(srJD);\n      for(const p of slotTargets){\n        const aspA=bestAspect(srAsc,p.deg,3.0);\n        if(aspA){\n          const kA='srASC_'+aspA.name+'_'+p.name;\n          const dupA=srSeen.has(kA);if(!dupA)srSeen.add(kA);\n          const tight=1-aspA.ao/aspA.ou;\n          const w=Math.round(aspA.weight*pw(p.name)*tight*(dupA?0.5:1)*10)/10;\n          if(w>=0.3){srScore+=w;srDetails.push(eY+': srASC '+aspA.name+' '+p.name+' ('+w.toFixed(1)+')');}\n        }\n        const aspM=bestAspect(srMc,p.deg,3.0);\n        if(aspM){\n          const kM='srMC_'+aspM.name+'_'+p.name;\n          const dupM=srSeen.has(kM);if(!dupM)srSeen.add(kM);\n          const tight=1-aspM.ao/aspM.ou;\n          const w=Math.round(aspM.weight*pw(p.name)*tight*(dupM?0.5:1)*10)/10;\n          if(w>=0.3){srScore+=w;srDetails.push(eY+': srMC '+aspM.name+' '+p.name+' ('+w.toFixed(1)+')');}\n        }\n      }\n    }\n  }\n\n  const totalScore=wScore+arcScore+progScore+srScore;\n  return{time,ascDeg,mcDeg,ascSign,wSign,wScoreRaw,wScore,arcScore,progScore,srScore,totalScore,arcDetails,progDetails,srDetails,src};\n});\n\nconst cleanDetail=detail.filter(d=>d!==null);\nconst validDetail=cleanDetail.filter(d=>d.ascDeg!==undefined);\nconst bestGlobal=validDetail.length>0?pickBest(validDetail):null;\nlet bestPlage=null;\nif(plageBounds&&validDetail.length>0){\n  const loP=+plageBounds.lo,hiP=+plageBounds.hiInc;\n  const sub=validDetail.filter(d=>{const sm=slotMinOf(d);return sm>=loP&&sm<=hiP});\n  if(sub.length>0)bestPlage=pickBest(sub);\n}\nlet best;\nif(plageBounds&&bestPlage)best=bestPlage;\nelse if(bestGlobal)best=bestGlobal;\nelse best={time:'12:00',ascSign:'?',wSign:'?',wScore:0,wScoreRaw:0,arcScore:0,progScore:0,srScore:0,totalScore:0,arcDetails:[],progDetails:[],srDetails:[]};\n\nconst bestTime=best.time;\nconst hasPlanets=natalPlanets.length>0;\nfunction sf(v){return typeof v==='number'?v.toFixed(1):v;}\nconst te=(best.arcScore||0)+(best.progScore||0)+(best.srScore||0);\nlet method;\nif(te>0){\n  method='Arcs('+sf(best.arcScore)+')+Prog('+sf(best.progScore)+')+RS('+sf(best.srScore||0)+')';\n  method+=qFactor<1?'+Quest(aj. '+sf(best.wScore)+', brut '+sf(best.wScoreRaw||0)+' ×'+qFactor+')':'+Quest('+sf(best.wScore)+')';\n}else{\n  method='Questionnaire ('+(best.wSign||'?')+') brut '+sf(best.wScoreRaw||0)+' pts'+(qFactor<1?', utilisé ×'+qFactor:'');\n}\n\nconst windowGroups={};\nfor(const d of cleanDetail){\n  const wk=d.wSign||d.ascSign||'?';\n  if(!windowGroups[wk])windowGroups[wk]={sign:wk,score:d.wScore,items:[]};\n  else windowGroups[wk].score=Math.max(windowGroups[wk].score,d.wScore);\n  windowGroups[wk].items.push(d);\n}\n\nconst bestByAsc={};\nfor(const d of validDetail){\n  const k=d.wSign||d.ascSign||'?';\n  if(k==='?')continue;\n  if(!bestByAsc[k]||d.totalScore>bestByAsc[k].totalScore)bestByAsc[k]=d;\n}\nconst ascPeaksSorted=Object.entries(bestByAsc).sort((a,b)=>b[1].totalScore-a[1].totalScore);\n\nconst nAnalysed=validDetail.length;\nconst gridFull=nAnalysed>=280;\nlet scanMetaNote='';\ntry{const sm=firstItem._scanMeta?JSON.parse(firstItem._scanMeta):null;if(sm&&sm.slots)scanMetaNote=' Métadonnée Scorer : '+sm.slots+' créneau(x) ('+(sm.mode||'')+').';}catch(eM){}\nconst picScopeTxt=gridFull?'sur la grille 5 min / 24 h (tous les créneaux).':'sur les '+nAnalysed+' créneau(x) réellement analysés dans ce scan (grille partielle — pas toute la journée).';\n\nlet html='<div style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px\">';\nhtml+='<h2 style=\"color:#5B4A9E\">Resultat de Rectification</h2>';\nhtml+='<p>Pour <b>'+(vars?.prenom||'')+' '+(vars?.nom||'')+'</b>, ne(e) le '+(vars?.date||'')+' a '+(vars?.lieu||'')+'</p>'+plageHtml;\nhtml+='<div style=\"background:#eee8ff;padding:20px;border-radius:10px;text-align:center;margin:20px 0\">';\nhtml+='<p style=\"font-size:14px;margin:0 0 5px;color:#666\">Heure de naissance estimee</p>';\nhtml+='<p style=\"font-size:36px;font-weight:bold;margin:0;color:#5B4A9E\">'+bestTime+'</p>';\nhtml+='<p style=\"font-size:18px;margin:5px 0 0\">Ascendant '+(best.ascSign||'?')+'</p>';\nhtml+='<p style=\"font-size:12px;margin:8px 0 0;color:#888\">'+method+'</p>';\nif(qFactor<1){\n  html+='<p style=\"font-size:11px;margin-top:10px;color:#555\">'+evtCount+' date(s) d\\'événements : pondération questionnaire ×'+qFactor+' pour privilégier arcs, progressions et RS.</p>';\n}\nconst byScore=[...validDetail].sort((a,b)=>b.totalScore-a.totalScore);\nlet marginTxt='';\nif(byScore.length>=2){\n  const s0=byScore[0].totalScore;\n  const runner=byScore.find(x=>x.totalScore<s0-1e-9);\n  if(runner)marginTxt=' Écart 1er / 2e meilleur score ('+(gridFull?'grille 24 h complète':'parmi les créneaux analysés')+') : '+sf(s0-runner.totalScore)+'.';\n}\nhtml+='<p style=\"font-size:11px;margin-top:8px;color:#666\">Les totaux ne sont pas des pourcentages ni une probabilité.'+marginTxt+'</p></div>';\nif(plageBounds&&bestGlobal&&best&&bestGlobal.time!==best.time){\n  const plLab=plageBounds.label||'votre plage';\n  html+='<div style=\"font-size:13px;color:#333;margin:14px 0;padding:14px;background:#f5f0ff;border-radius:8px;border-left:4px solid #5B4A9E\">';\n  html+='<p style=\"margin:0 0 8px\"><b>Meilleur créneau sur toute la journée</b> (hors contrainte de plage) : <b>'+bestGlobal.time+'</b>, ASC '+(bestGlobal.ascSign||'?')+' — total '+sf(bestGlobal.totalScore)+'.</p>';\n  html+='<p style=\"margin:0;font-size:12px;color:#555\">L’heure en tête de mail est le meilleur <em>uniquement entre '+plLab+'</em> (ici '+best.time+', total '+sf(best.totalScore)+'). Les deux existent sur la même grille 5 min ; le total = arcs + progressions + RS + questionnaire (pondéré). Un 2e signe au questionnaire (ex. Verseau) peut donc gagner dans une fenêtre horaire alors qu’un autre créneau reste n°1 sur 24 h.</p>';\n  html+='</div>';\n}\nif(events.length>0){\n  html+='<p style=\"font-size:11px;color:#666;margin:12px 0;line-height:1.45\">Le <b>Top 5 ASC</b> classe les <em>signes</em> selon les réponses : ce n’est pas un classement d’heures. À chaque minute testée, l’ASC réel est recalculé ; les points questionnaire de ce créneau suivent cet ASC. Avec plusieurs dates de vie, le poids du questionnaire est réduit : arcs, progressions et RS décident souvent du pic du total.</p>';\n}\n\nif(ascPeaksSorted.length>0){\n  const peakLine=ascPeaksSorted.slice(0,12).map(([sign,d])=>sign+' <b>'+d.time+'</b> ('+sf(d.totalScore)+')').join(' \\u00b7 ');\n  const more=ascPeaksSorted.length>12?' \\u2026':'';\n  html+='<p style=\"font-size:12px;color:#333;margin:12px 0;padding:10px 12px;background:#faf8ff;border-radius:6px;border:1px solid #e8e0f5\"><b>Pic par signe (grille Q)</b> : pour chaque signe, créneau au <b>total</b> max '+picScopeTxt+' — '+peakLine+more+'. <span style=\"color:#666\">Tableaux et points Q : <b>signe ASC affiché</b> (après réponse API ; recalcul local = Src « +t »). Les points questionnaire reprennent le score de ce signe ; si Scorer et API concordent contre le calcul local, l’API est conservée.</span></p>';\n}\n\nhtml+='<h3>Top 5 ASC (questionnaire)</h3><ol>'+ranked.map(r=>'<li><b>'+r.sign+'</b> \\u2014 '+r.score+' pts</li>').join('')+'</ol>';\nhtml+='<p style=\"font-size:11px;color:#444;margin:10px 0 0;line-height:1.5\"><b>Ce n’est pas la même chose que l’heure estimée.</b> Le Top 5 = uniquement les signes que le <em>questionnaire</em> valorise. L’heure en tête = le créneau où le <b>total</b> (arcs + progressions + RS + questionnaire pondéré) est maximal sur la grille. Un signe peut être <b>absent du Top 5</b> et gagner quand même : à cette minute, les <b>progressions / RS / arcs</b> peuvent être si élevés qu’ils dépassent un créneau « Sagittaire » ou « Verseau » avec plus de points Q mais moins d’événements.</p>';\n\nif(events.length>0){\n  html+='<h3>Validation</h3>';\n  html+='<p style=\"font-size:12px\">Evenements: '+events.map(e=>e.label).join(', ')+'</p>';\n  html+='<p style=\"font-size:10px;color:#888\">Pond\\u00e9ration orbe: exact=100%, large=faible | Arcs: Angles x2, Perso x1.5, *=dedup x0.5 | Prog: Lune x1.5, Perso x1, Lents x0.3, *=dedup x0.25 | RS: ASC/MC RS vs natal, orbe 3\\u00B0, *=dedup x0.5</p>';\n  if(!hasPlanets){html+='<p style=\"color:#c60\">Positions natales indisponibles.</p>';}\n  else{\n    if(best.arcDetails&&best.arcDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">Arcs solaires ('+sf(best.arcScore)+' pts)</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.arcDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if(best.progDetails&&best.progDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">Progressions API ('+sf(best.progScore)+' pts)</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.progDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if(best.srDetails&&best.srDetails.length>0){\n      html+='<h4 style=\"margin:10px 0 5px\">R\\u00e9volutions Solaires ('+sf(best.srScore||0)+' pts)</h4>';\n      html+='<ul style=\"font-size:12px\">'+best.srDetails.map(d=>'<li>'+d+'</li>').join('')+'</ul>';\n    }\n    if((best.arcDetails||[]).length===0&&(best.progDetails||[]).length===0&&(best.srDetails||[]).length===0){\n      html+='<p style=\"color:#999\">Aucune correspondance arcs/progressions.</p>';\n    }\n  }\n}\n\nfor(const wk of Object.keys(windowGroups)){\n  const wg=windowGroups[wk];\n  wg.items=wg.items.filter(d=>d.wSign===wg.sign);\n  wg.items.sort((a,b)=>slotMinOf(a)-slotMinOf(b));\n}\nconst wkChrono=Object.keys(windowGroups).sort((a,b)=>{\n  const ia=windowGroups[a].items[0],ib=windowGroups[b].items[0];\n  const ma=ia?slotMinOf(ia):99999,mb=ib?slotMinOf(ib):99999;\n  return ma-mb;\n});\nfor(const wk of wkChrono){\n  const wg=windowGroups[wk];\n  html+='<h3>Signe grille Q : '+wg.sign+' (pts Q grille 5 min'+(qFactor<1?', pond. ×'+qFactor:'')+' : '+wg.score+')</h3>';\n  html+='<table style=\"width:100%;border-collapse:collapse;font-size:12px\">';\n  html+='<tr style=\"background:#5B4A9E;color:white\"><th style=\"padding:4px\">Heure</th><th style=\"padding:4px\">ASC</th><th style=\"padding:4px\">Deg</th><th style=\"padding:4px\">Src</th><th style=\"padding:4px\">Arc</th><th style=\"padding:4px\">Prog</th><th style=\"padding:4px\">RS</th><th style=\"padding:4px\">Tot</th></tr>';\n  html+=wg.items.map(d=>{\n    const isBest=d.time===bestTime;const bg=isBest?'background:#e8dff5;font-weight:bold':'';\n    return '<tr style=\"border-bottom:1px solid #eee;'+bg+'\"><td style=\"padding:3px;text-align:center\">'+d.time+(isBest?' \\u2605':'')+'</td><td style=\"padding:3px;text-align:center\">'+d.ascSign+'</td><td style=\"padding:3px;text-align:center\">'+(d.ascDeg!==undefined?d.ascDeg.toFixed(1)+'\\u00B0':'?')+'</td><td style=\"padding:3px;text-align:center;color:#888;font-size:10px\">'+d.src+'</td><td style=\"padding:3px;text-align:center\">'+(d.arcScore?sf(d.arcScore):'-')+'</td><td style=\"padding:3px;text-align:center\">'+(d.progScore?sf(d.progScore):'-')+'</td><td style=\"padding:3px;text-align:center\">'+(d.srScore?sf(d.srScore):'-')+'</td><td style=\"padding:3px;text-align:center;font-weight:bold\">'+(d.totalScore?sf(d.totalScore):'-')+'</td></tr>';\n  }).join('');\n  html+='</table>';\n}\n\nhtml+='<p style=\"font-size:10px;color:'+(gridFull?'#888':'#a60')+';margin-top:16px;line-height:1.4\"><b>Couverture</b> : '+nAnalysed+' créneau(x) avec ASC dans ce rapport ; '+scorerItems.length+' item(s) Scorer.'+scanMetaNote+(gridFull?'':' — <b>scan partiel</b> : seuls les signes présents dans ces créneaux apparaissent en table ; le « Pic par signe » compare les totaux <em>uniquement</em> sur cet ensemble (pas sur 288 pas de 5 min).')+'</p>';\nhtml+='<p style=\"font-size:10px;color:#aaa;margin-top:10px\">Natales (planetes): '+(natalBodies.length>0?natalBodies.map(p=>p.name+' '+p.deg.toFixed(1)).join(', '):'n/a')+'</p>';\nif(alignCountMismatch){\n  html+='<p style=\"font-size:11px;color:#c60;margin-top:8px\">Alignement : '+scorerItems.length+' créneaux (scorer) vs '+planetItems.length+' réponses planètes et '+housesItems.length+' maisons — en cas d’échecs HTTP partiels, les lignes peuvent se décaler ; vérifier le scan.</p>';\n}\nif(usedPairedJoin){\n  html+='<p style=\"font-size:10px;color:#176;margin-top:4px\">Appariement planètes/maisons → créneau via <b>pairedItem</b> (n8n), pas seulement la position dans la liste.</p>';\n}\nhtml+='</div>';\n\nreturn[{json:{to:vars?.mail||'',subject:'DHN - '+bestTime+' (ASC '+(best.ascSign||'?')+')',html:html}}];"},"id":"1a0cc8cf-8639-4386-951a-0611dddb013b","name":"Resultat final1","type":"n8n-nodes-base.code","typeVersion":1,"position":[11968,3920]},{"parameters":{"jsCode":"function gn(n) {\n  try {\n    return $(n).first()?.json || null;\n  } catch (e) {\n    return null;\n  }\n}\nconst src =\n  gn('Extract Variables') ||\n  gn('Extract Variables DHN') ||\n  gn('Extract Variables DHN1') ||\n  gn('Evenements de vie') ||\n  gn('Evenements de vie1') ||\n  {};\nconst out = {};\nfor (let i = 1; i <= 10; i++) {\n  const k = 'evt' + i;\n  const v = src[k];\n  if (v !== undefined && v !== null && String(v).trim() !== '') out[k] = v;\n}\nreturn [{ json: out }];"},"id":"9487de5e-fb69-41f6-b242-11fb188fe44a","name":"Evenements de vie","type":"n8n-nodes-base.code","typeVersion":1,"position":[10848,3792]},{"parameters":{"jsCode":"function gn(n) {\n  try {\n    return $(n).first()?.json || null;\n  } catch (e) {\n    return null;\n  }\n}\nconst src =\n  gn('Extract Variables') ||\n  gn('Extract Variables DHN') ||\n  gn('Extract Variables DHN1') ||\n  gn('Reponses Questionnaire') ||\n  gn('Reponses Questionnaire1') ||\n  {};\nconst out = {};\nfor (let i = 1; i <= 12; i++) {\n  const k = 'q' + i;\n  const v = src[k];\n  if (v !== undefined && v !== null && String(v).trim() !== '') out[k] = v;\n}\nreturn [{ json: out }];"},"id":"8b18872f-97b9-434f-9b6f-9f698eac1fdb","name":"Reponses Questionnaire","type":"n8n-nodes-base.code","typeVersion":1,"position":[10560,3792]}],"connections":{"Webhook":{"main":[[{"node":"Extract Variables","type":"main","index":0}]]},"Extract Variables":{"main":[[{"node":"Geocodage","type":"main","index":0}]]},"Geocodage":{"main":[[{"node":"Prepare Timezone","type":"main","index":0}]]},"Prepare Timezone":{"main":[[{"node":"Get Timezone","type":"main","index":0}]]},"Get Timezone":{"main":[[{"node":"Preparer scan 24h","type":"main","index":0}]]},"Preparer scan 24h":{"main":[[{"node":"Scan Planetes","type":"main","index":0}]]},"Scan Planetes":{"main":[[{"node":"Analyser fenetres ASC","type":"main","index":0}]]},"Analyser fenetres ASC":{"main":[[{"node":"Reponses Questionnaire","type":"main","index":0}]]},"Scan progressions":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Scorer1":{"main":[[{"node":"Scan fin planetes1","type":"main","index":0},{"node":"Scan fin maisons1","type":"main","index":0},{"node":"Scan progressions","type":"main","index":0}]]},"Scan fin planetes1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Scan fin maisons1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Resultat final1","type":"main","index":0}]]},"Resultat final1":{"main":[[{"node":"Envoyer resultat1","type":"main","index":0}]]},"Evenements de vie":{"main":[[{"node":"Scorer1","type":"main","index":0}]]},"Reponses Questionnaire":{"main":[[{"node":"Evenements de vie","type":"main","index":0}]]}},"pinData":{"Extract Variables":[{"nom":"Test","prenom":"Site","date":"01/01/1990","lieu":"Paris","pays":"France","mail":"test@example.com","langue":"Français","genre":"M","q1":"a","evt1":"naissance 15/06/1995","source":"site"}],"Evenements de vie":[{"evt1":"carriere 01/09/2011","evt2":"demenagement 01/10/2014","evt3":"rupture 20/08/2012","evt4":"promotion 07/01/2023","evt5":"voyage_important 19/06/2014"}],"Reponses Questionnaire":[{"q1":"c","q2":"b","q3":"c","q4":"c","q5":"e","q6":"g","q7":"e","q8":"e","q9":"c","q10":"e","q11":"f","q12":"f"}]},"meta":{"templateCredsSetupCompleted":true,"instanceId":"b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"}}