DHN/N8N DHN Scan fin Planetes
{
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json._progUrl }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 24
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 90000
        }
      },
      "id": "9c98d0cd-343a-4d0f-90ac-d43d7826d635",
      "name": "Scan progressions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11328,
        4688
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst varsProf=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!varsProf?.date)throw new Error('DHN : date introuvable (Extract Variables / Extract Variables DHN).');\nconst qRaw={...(gn('Reponses Questionnaire')||gn('Reponses Questionnaire1')||{}),...(varsProf||{})};\nconst ans={};\nfor(const[k,v]of Object.entries(qRaw)){const m=k.match(/q(\\d+)/);if(m)ans['q'+m[1]]=v;}\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\nconst dd=varsProf.date.split('/');\nconst yr=parseInt(dd[2]),mo=parseInt(dd[1]),da=parseInt(dd[0]);\n\nconst R=Math.PI/180;\nfunction jd0(y,m,d){if(m<=2){y--;m+=12}const A=Math.floor(y/100);return Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+d+2-A+Math.floor(A/4)-1524.5}\nfunction ascCalc(h){\n  const ut=h-tz;const J=jd0(yr,mo,da);const T=(J-2451545)/36525;\n  let g=280.46061837+360.98564736629*(J-2451545)+0.000387933*T*T;g=((g%360)+360)%360;\n  const lst=((g+ut*1.00273790935*15+lon)%360+360)%360;\n  const eps=(23.4393-0.013*T)*R;const A=lst*R;const L=lat*R;\n  return((Math.atan2(-Math.cos(A),Math.sin(A)*Math.cos(eps)+Math.tan(L)*Math.sin(eps))/R+180)%360+360)%360;\n}\nconst sgn=['Belier','Taureau','Gemeaux','Cancer','Lion','Vierge','Balance','Scorpion','Sagittaire','Capricorne','Verseau','Poissons'];\nfunction signOf(d){return sgn[Math.floor(((d%360)+360)%360/30)]}\n\nconst hourly=[];for(let h=0;h<24;h++)hourly.push({h,s:signOf(ascCalc(h))});\nconst pad=n=>String(n).padStart(2,'0');\nconst toT=m=>pad(Math.floor(m/60))+':'+pad(m%60);\nconst trans=[];for(let i=0;i<23;i++){if(hourly[i].s!==hourly[i+1].s)trans.push(i+1)}\nconst bds=[0,...trans.map(t=>t*60),1440];\nconst fen=[];\nfor(let i=0;i<bds.length-1;i++){\n  const s=bds[i],e=bds[i+1];\n  const ref=Math.min(Math.floor((s+30)/60),23);\n  fen.push({ascSign:hourly[ref].s,start:toT(s),end:toT(e),dureeMin:e-s,sMin:s,eMin:e});\n}\n\nfunction clockToMin(tok){\n  if(tok==null||tok==='')return null;\n  let t=String(tok).trim().replace(/h/gi,':').replace(/\\s/g,'');\n  const mm=t.match(/^(\\d{1,2})(?::(\\d{2}))?$/);\n  if(!mm)return null;\n  let hh=parseInt(mm[1],10),m=mm[2]?parseInt(mm[2],10):0;\n  if(m>59||hh>24||hh<0)return null;\n  if(hh===24)return m===0?1440:null;\n  return hh*60+m;\n}\nfunction buildPlage(v){\n  const raw=(v.plage_naissance||v.plageNaissance||'').toString().trim();\n  function tightStr(s){\n    return String(s||'').replace(/[\\s\\u00A0\\u202F\\uFEFF]/g,'').replace(/h/gi,':').replace(/[\\u2013\\u2014\\u2212]/g,'-');\n  }\n  const tightRaw=tightStr(raw);\n  if(/^0+:0+-24(:0+)?$/i.test(tightRaw)||/^0+:0+-23:59$/i.test(tightRaw))return null;\n  let lo,hi,label='';\n  if(raw){\n    const g=raw.match(/(\\d{1,2}(?::\\d{2})?)\\s*[-\\u2013\\u2014\\u2212]\\s*(\\d{1,2}(?::\\d{2})?)/i);\n    if(g){lo=clockToMin(g[1]);hi=clockToMin(g[2]);label=raw;}\n  }\n  if((lo==null||hi==null)&&v.heure_naissance_min){\n    lo=clockToMin(v.heure_naissance_min);\n    hi=clockToMin(v.heure_naissance_max);\n    label=String(v.heure_naissance_min||'')+' — '+String(v.heure_naissance_max||'');\n    const tightLbl=tightStr(label);\n    if(/^0+:0+-24(:0+)?$/i.test(tightLbl)||/^0+:0+-23:59$/i.test(tightLbl))return null;\n  }\n  if(lo==null||hi==null)return null;\n  if(lo>hi){const t=lo;lo=hi;hi=t;}\n  if(hi>=1440)hi=1439;\n  if(lo>1439)return null;\n  if(lo<=0&&hi>=1439)return null;\n  return{lo,hiInc:hi,label:label||'plage'};\n}\nfunction fenOverlapsPlage(s,e,pl){\n  if(!pl)return true;\n  const last=e-1;\n  if(last<s)return false;\n  return Math.max(s,pl.lo)<=Math.min(last,pl.hiInc);\n}\nconst plage=buildPlage(varsProf);\nlet plageMeta={active:false,label:'',ignored:false};\nlet fenUse=fen;\nif(plage){\n  const hit=fen.filter(w=>fenOverlapsPlage(w.sMin,w.eMin,plage));\n  if(hit.length>0){fenUse=hit;plageMeta={active:true,label:plage.label,ignored:false,lo:plage.lo,hiInc:plage.hiInc};}\n  else{plageMeta={active:true,label:plage.label,ignored:true,lo:plage.lo,hiInc:plage.hiInc};}\n}\n\nconst scores={};sgn.forEach(s=>scores[s]=0);\nconst M={\n  q1:{a:{Belier:4,Sagittaire:2,Lion:1},b:{Taureau:4,Cancer:2,Capricorne:2},c:{Gemeaux:4,Verseau:2,Balance:1},d:{Vierge:3,Scorpion:2,Capricorne:3},e:{Lion:4,Sagittaire:2,Belier:1},f:{Poissons:4,Cancer:2,Scorpion:1}},\n  q2:{a:{Belier:3,Sagittaire:3,Scorpion:1},b:{Taureau:3,Capricorne:3,Cancer:1},c:{Gemeaux:3,Vierge:3,Verseau:1},d:{Cancer:3,Poissons:3,Balance:1},e:{Lion:4,Sagittaire:2},f:{Scorpion:3,Capricorne:2,Belier:1}},\n  q3:{a:{Belier:4,Sagittaire:2},b:{Taureau:3,Capricorne:4},c:{Gemeaux:3,Verseau:3},d:{Cancer:4,Taureau:2},e:{Lion:4,Balance:2},f:{Vierge:4,Capricorne:3},g:{Scorpion:4,Poissons:2},h:{Poissons:4,Cancer:2}},\n  q4:{a:{Belier:3,Lion:3,Capricorne:2},b:{Balance:4,Poissons:2},c:{Verseau:3,Sagittaire:3},d:{Scorpion:3,Cancer:3},e:{Gemeaux:3,Lion:2,Balance:2},f:{Vierge:3,Capricorne:3,Scorpion:1}},\n  q5:{a:{Belier:3,Sagittaire:3},b:{Taureau:3,Capricorne:4,Vierge:1},c:{Verseau:4,Gemeaux:2},d:{Lion:4,Balance:2},e:{Scorpion:4,Capricorne:2},f:{Poissons:3,Cancer:2,Balance:2}},\n  q6:{a:{Capricorne:4,Lion:2,Belier:1},b:{Cancer:4,Taureau:2},c:{Balance:4,Poissons:2},d:{Sagittaire:4,Gemeaux:2},e:{Scorpion:4,Poissons:2},f:{Lion:4,Gemeaux:2},g:{Vierge:4,Capricorne:2},h:{Verseau:4,Sagittaire:2}},\n  q7:{a:{Belier:4,Scorpion:2},b:{Taureau:4,Capricorne:3},c:{Gemeaux:4,Sagittaire:2},d:{Cancer:4,Poissons:2},e:{Lion:4,Belier:2},f:{Vierge:4,Capricorne:3},g:{Balance:4,Poissons:2},h:{Scorpion:4,Capricorne:2},i:{Verseau:4,Gemeaux:2}},\n  q8:{a:{Belier:4,Scorpion:2,Lion:1},b:{Taureau:4,Cancer:2},c:{Gemeaux:3,Verseau:3,Sagittaire:1},d:{Balance:4,Taureau:2},e:{Scorpion:3,Capricorne:3},f:{Poissons:4,Sagittaire:2,Cancer:1}},\n  q9:{a:{Gemeaux:4,Lion:2,Belier:1},b:{Capricorne:4,Vierge:2,Scorpion:1},c:{Gemeaux:3,Poissons:3},d:{Scorpion:3,Poissons:3,Verseau:1},e:{Cancer:4,Sagittaire:2,Lion:1},f:{Scorpion:4,Belier:2}},\n  q10:{a:{Belier:4,Sagittaire:2},b:{Capricorne:4,Vierge:3},c:{Gemeaux:3,Sagittaire:2,Balance:2},d:{Cancer:3,Poissons:3},e:{Verseau:3,Sagittaire:2},f:{Capricorne:4,Scorpion:3,Taureau:1}},\n  q11:{a:{Sagittaire:3,Belier:3},b:{Capricorne:4,Taureau:4},c:{Gemeaux:3,Verseau:3},d:{Lion:4,Balance:3},e:{Verseau:3,Poissons:2},f:{Capricorne:4,Vierge:3}},\n  q12:{a:{Sagittaire:4,Lion:2,Cancer:1},b:{Capricorne:4,Scorpion:2,Vierge:1},c:{Poissons:4,Cancer:2},d:{Gemeaux:3,Verseau:3},e:{Scorpion:4,Belier:2},f:{Taureau:3,Balance:2,Capricorne:1}},\n  q13:{a:{Belier:4,Sagittaire:2},b:{Taureau:4,Capricorne:2},c:{Gemeaux:4,Sagittaire:2,Verseau:1},d:{Cancer:4,Poissons:2,Taureau:1},e:{Lion:3,Scorpion:2,Taureau:1},f:{Vierge:4,Capricorne:2},g:{Balance:4,Taureau:2,Lion:1},h:{Scorpion:4,Capricorne:2},i:{Poissons:4,Cancer:2,Verseau:1}},\n  q14:{a:{Belier:4,Lion:2,Sagittaire:1},b:{Taureau:4,Capricorne:2,Cancer:1},c:{Gemeaux:4,Verseau:2},d:{Cancer:4,Poissons:2},e:{Lion:3,Sagittaire:2,Balance:1},f:{Balance:4,Poissons:2,Taureau:1},g:{Scorpion:4,Capricorne:2,Vierge:1},h:{Poissons:4,Verseau:2}},\n  q15:{a:{Belier:4,Gemeaux:2},b:{Taureau:4,Capricorne:2},c:{Gemeaux:4,Sagittaire:2},d:{Cancer:4,Poissons:2,Vierge:1},e:{Lion:3,Sagittaire:2,Belier:1},f:{Vierge:4,Verseau:2,Capricorne:1},g:{Balance:4,Poissons:2},h:{Scorpion:3,Capricorne:3},i:{Verseau:4,Gemeaux:2}}\n};\nfor(let q=1;q<=15;q++){const a=ans['q'+q];if(a&&M['q'+q]&&M['q'+q][a]){for(const[s,p]of Object.entries(M['q'+q][a]))scores[s]=(scores[s]||0)+p}}\n\nconst ranked=Object.entries(scores).sort((a,b)=>b[1]-a[1]).map(([s,sc])=>({sign:s,score:sc}));\nconst fenScores=fenUse.map(f=>({...f,score:scores[f.ascSign]||0})).sort((a,b)=>b.score-a.score);\nconst refTopFen=fenScores[0]||fen[0]||{ascSign:'?',score:0,sMin:0,eMin:60};\n\nconst evtRaw={...(gn('Evenements de vie')||gn('Evenements de vie1')||{}),...(varsProf||{})};\nconst evtDates=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!k.startsWith('evt'))continue;\n  const allDm=[...v.matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDm){evtDates.push({d:parseInt(dm[1]),m:parseInt(dm[2]),y:parseInt(dm[3]),raw:dm[1]+'/'+dm[2]+'/'+dm[3]});}\n}\nlet dateDebut='',dateFin='';\nif(evtDates.length>0){\n  evtDates.sort((a,b)=>(a.y*10000+a.m*100+a.d)-(b.y*10000+b.m*100+b.d));\n  dateDebut=evtDates[0].raw;\n  dateFin=evtDates[evtDates.length-1].raw;\n}\n\nconst scanMeta={mode:'grid5',slots:0,window:plage?{lo:plage.lo,hiInc:plage.hiInc,label:plage.label}:null};\nconst items=[];\nfor(let m=0;m<1440;m+=5){\n  // [P-window v5.3] Si une plage min/max est fournie par le formulaire (heure_naissance_min/max\n  // ou plage_naissance), on ne g\u00e9n\u00e8re QUE les slots dans cette fen\u00eatre. Avant : la plage \u00e9tait\n  // utilis\u00e9e pour fenUse (analyse fen\u00eatres ASC) mais pas pour la grille 5 min, donc 288 slots\n  // \u00e9taient toujours scor\u00e9s + 288 appels HTTP, et le \"meilleur slot\" pouvait sortir hors fen\u00eatre.\n  // Comportement par d\u00e9faut (00H00-24H00 = aucune plage = plage null) inchang\u00e9 : scan complet 24h.\n  if(plage&&(m<plage.lo||m>plage.hiInc))continue;\n  const hh=Math.floor(m/60),mm=m%60;\n  const ascAt=signOf(ascCalc(m/60));\n  const qScore=scores[ascAt]||0;\n  items.push({json:{\n    body:JSON.stringify({year:yr,month:mo,date:da,hours:hh,minutes:mm,seconds:0,latitude:lat,longitude:lon,timezone:tz,config:{observation_point:'geocentric',ayanamsha:'tropical',language:'fr'}}),\n    _slotH:hh,_slotM:mm,_slotMinute:m,\n    _windowSign:ascAt,_windowScore:qScore,\n    _top:JSON.stringify(refTopFen),\n    _ranked:JSON.stringify(ranked.slice(0,5)),\n    _allWindows:JSON.stringify(fenUse),\n    _scores:JSON.stringify(scores),\n    _fen:JSON.stringify(fenUse),\n    _plageMeta:JSON.stringify(plageMeta),\n    _scanMeta:JSON.stringify(scanMeta),\n    _progUrl:'',_progEclUrl:''\n  }});\n}\nscanMeta.slots=items.length;\nconst metaStr=JSON.stringify(scanMeta);\nfor(const it of items)it.json._scanMeta=metaStr;\n\n// [P4 v5.0] L'URL /progressions est d\u00e9sormais construite par le n\u0153ud d\u00e9di\u00e9 \u00ab Build Prog URL \u00bb,\n// branch\u00e9 en parall\u00e8le sur Evenements de vie. Cela \u00e9vite les 287 appels HTTP \u00e0 vide qui se produisaient\n// quand seul items[0]._progUrl \u00e9tait rempli sur les 288 slots de la grille.\nreturn items;\n"
      },
      "id": "23f5ed33-f861-4356-8405-dbca187314dd",
      "name": "Scorer1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        11040,
        4208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.225.174.155:8000/western/planets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 6
            }
          },
          "timeout": 30000
        }
      },
      "id": "f33cd63e-a944-4fdc-9a70-a08511bd372b",
      "name": "Scan fin planetes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11328,
        4208
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.225.174.155:8000/western/houses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 6
            }
          },
          "timeout": 30000
        }
      },
      "id": "7e7e69c4-8c88-4ebf-a8db-8ac6293ce892",
      "name": "Scan fin maisons1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11328,
        4448
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        11616,
        4096
      ],
      "id": "5ccc4885-1b91-4421-9ef8-df2f7ec637fb",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// [P4 v5.0 + P-window v5.3 + P-detangles v5.6] DHN — Build Prog URL\n// Construit l'URL unique vers /progressions, en sortant de la grille du Scorer.\n// Lit Extract Variables / Evenements de vie / Prepare Timezone / Get Timezone, et émet UN SEUL item avec _progUrl.\n// Si aucun événement n'est fourni, retourne [] → le nœud HTTP « Scan progressions » ne sera pas appelé.\n//\n// [P-detangles v5.6] L'heure de référence des progressions est désormais FIXE à 12:00.\n// Pourquoi : l'API ne sert qu'à fournir les positions des PLANÈTES progressées (Lune, Soleil…),\n// qui sont quasi insensibles à l'heure de naissance (≪ 0.1°/h). Les ANGLES progressés (pAsc, pMc),\n// eux, varient ≈15°/h et sont désormais recalculés LOCALEMENT par créneau dans countProgHits\n// (cf. N8N DHN). Cela rend le score Prog d'un même créneau strictement déterministe et indépendant\n// de la plage scannée. Avant : refH = milieu de plage → mêmes coordonnées API utilisées pour tous\n// les slots ; pAsc/pMc API = ASC/MC d'une naissance hypothétique au milieu de plage, pas du slot testé.\nfunction gn(n){try{return $(n).first()?.json||null}catch(e){return null}}\nconst vars=gn('Extract Variables DHN')||gn('Extract Variables DHN1')||gn('Extract Variables');\nif(!vars?.date)throw new Error('DHN Build Prog URL : date introuvable.');\nconst prep=gn('Prepare Timezone')||gn('Prepare Timezone1');\nconst tzNode=gn('Get Timezone')||gn('Get Timezone1');\nconst lat=parseFloat(prep.lat),lon=parseFloat(prep.lon),tz=(tzNode.gmtOffset||0)/3600;\nconst dd=vars.date.split('/');\nconst yr=parseInt(dd[2]),mo=parseInt(dd[1]),da=parseInt(dd[0]);\nconst refH=12,refM=0;\nconst evtRaw={...(gn('Evenements de vie')||gn('Evenements de vie1')||{}),...vars};\nconst evtDates=[];\nfor(const[k,v]of Object.entries(evtRaw)){\n  if(!v||!String(k).startsWith('evt'))continue;\n  const allDm=[...String(v).matchAll(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/g)];\n  for(const dm of allDm){evtDates.push({d:parseInt(dm[1]),m:parseInt(dm[2]),y:parseInt(dm[3]),raw:dm[1]+'/'+dm[2]+'/'+dm[3]});}\n}\nif(evtDates.length===0)return [];\nevtDates.sort((a,b)=>(a.y*10000+a.m*100+a.d)-(b.y*10000+b.m*100+b.d));\nconst dateDebut=evtDates[0].raw;\nconst dateFin=evtDates[evtDates.length-1].raw;\nconst url='http://46.225.174.155:8000/progressions?date_debut='+dateDebut+'&date_fin='+dateFin+'&year='+yr+'&month='+mo+'&date='+da+'&hours='+refH+'&minutes='+refM+'&seconds=0&latitude='+lat+'&longitude='+lon+'&timezone='+tz;\nreturn [{json:{_progUrl:url}}];"
      },
      "id": "build-prog-url-2026-04-19",
      "name": "Build Prog URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        11072,
        4624
      ]
    }
  ],
  "connections": {
    "Scan progressions": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Scorer1": {
      "main": [
        [
          {
            "node": "Scan fin planetes1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scan fin maisons1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prog URL": {
      "main": [
        [
          {
            "node": "Scan progressions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan fin planetes1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan fin maisons1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"
  }
}