THEME/N8N Theme Extract Variables
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\n\nfunction findPlainText(payload) {\n  if (!payload) return null;\n  if (payload.mimeType === 'text/plain' && payload.body && payload.body.data) return payload.body.data;\n  if (payload.parts) {\n    for (const part of payload.parts) {\n      const found = findPlainText(part);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nconst b64 = findPlainText(item.payload);\nlet text = b64\n  ? Buffer.from(b64.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8')\n  : (item.snippet || '');\n\nconst normalized = text.replace(/\\r?\\n/g, ';');\nconst parts = normalized.split(';').map(p => p.trim()).filter(p => p.length > 0);\n\nfunction decodeQP(str) {\n  return str.replace(/=([0-9A-Fa-f]{2})/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\nconst result = {};\n\nfor (const part of parts) {\n  const lastEq = part.lastIndexOf('=');\n  if (lastEq === -1) continue;\n  const rawLabel = part.slice(0, lastEq).trim();\n  const val = part.slice(lastEq + 1).trim();\n  const label = decodeQP(rawLabel).toLowerCase().trim();\n  const normalizedLabel = label.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\n  if (label === 'nom')           result.nom   = val || null;\n  else if (label === 'prénom')  result.prenom = val || null;\n  else if (label === 'date de naissance')   result.date  = val || null;\n  else if (label === 'heure de naissance')  result.heure = val || null;\n  else if (label === 'lieu de naissance')   result.lieu  = val || null;\n  else if (label === 'pays de naissance')   result.pays  = val || null;\n  else if (label === 'mail') {\n    const em = val.match(/[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n    result.mail = em ? em[0] : (val || null);\n  }\n  else if (normalizedLabel === 'langue') result.langue = val || null;\n  else if (normalizedLabel === 'consigne redaction') result.consigne_redaction = val || null;\n  else if (normalizedLabel === 'genre') result.genre = val || null;\n}\n\nif (!result.langue) result.langue = 'Français';\nif (!result.consigne_redaction) result.consigne_redaction = 'Tu';\nif (!result.genre) result.genre = 'M';\n\nreturn [{ json: result }];"
      },
      "id": "cd3b9860-f7d4-46a8-ac49-d7eb135ce57d",
      "name": "Extract Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5968,
        2336
      ]
    },
    {
      "parameters": {
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}?format=full",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "id": "55fc176d-fb5a-4183-bb16-cd1612ae0250",
      "name": "Get Full Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -6480,
        2336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:\"Astro\"",
          "readStatus": "unread"
        }
      },
      "id": "9d8b8a87-249c-4407-a76e-c7d31fa366be",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -6720,
        2336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "Extract Variables": {
      "main": [
        []
      ]
    },
    "Get Full Message1": {
      "main": [
        [
          {
            "node": "Extract Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Full Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Extract Variables": [
      {
        "nom": "Ben Halima",
        "prenom": "Ghada",
        "date": "26/05/1989",
        "heure": "12H00",
        "lieu": "Tunis",
        "pays": "Tunisie",
        "mail": "francois.raifaud@gmail.com",
        "langue": "Français",
        "consigne_redaction": "Tu",
        "genre": "M"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"
  }
}