PREV/N8N PREV SUCCES
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * PREV — après merge 3 branches : regroupe en 1 item (data, data1, data2) pour Gmail.\n * Classement par fileName : mêmes préfixes que les flux amont\n * (Repport HTML données, HTML Tech, HTML Final — desiredFilename / Fix PDF).\n */\nfunction pickPdfBinary(item) {\n  const bin = item.binary || {};\n  for (const key of Object.keys(bin)) {\n    const b = bin[key];\n    if (!b) continue;\n    const mime = String(b.mimeType || \"\").toLowerCase();\n    const ext = String(b.fileExtension || \"\").toLowerCase();\n    if (mime.includes(\"pdf\") || ext === \"pdf\") return b;\n  }\n  const keys = Object.keys(bin);\n  if (keys.length) return bin[keys[0]];\n  return null;\n}\n\nfunction normName(s) {\n  return String(s || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{M}/gu, \"\");\n}\n\n/**\n * Ordre : technique (sous-chaîne la plus spécifique) → données → rapport final.\n */\nfunction bucketForFileName(fileName) {\n  const n = normName(fileName);\n  if (n.includes(\"rapport technique previsions\")) return \"tech\";\n  if (\n    n.includes(\"donnees techniques previsions\") ||\n    n.includes(\"technical forecast data\")\n  )\n    return \"donnees\";\n  if (n.includes(\"forecast report\")) return \"main\";\n  if (n.includes(\"rapport\") && n.includes(\"previsions\") && !n.includes(\"technique\"))\n    return \"main\";\n  return null;\n}\n\nconst items = $input.all();\nif (items.length === 0) return [];\n\nconst buckets = { main: null, tech: null, donnees: null };\nconst orphans = [];\n\nfor (const item of items) {\n  const pdf = pickPdfBinary(item);\n  if (!pdf) continue;\n  const b = bucketForFileName(pdf.fileName);\n  if (b && !buckets[b]) buckets[b] = pdf;\n  else orphans.push(pdf);\n}\n\nfor (const o of orphans) {\n  if (!buckets.main) buckets.main = o;\n  else if (!buckets.tech) buckets.tech = o;\n  else if (!buckets.donnees) buckets.donnees = o;\n}\n\nif (!buckets.main || !buckets.tech || !buckets.donnees) {\n  throw new Error(\n    \"Prépare email 3 PDF PREV : 3 PDF attendus (données, technique, rapport final). \" +\n      \"Reçu : \" +\n      [buckets.main, buckets.tech, buckets.donnees].filter(Boolean).length +\n      \". Vérifie les fileName : \" +\n      items\n        .map((i) => pickPdfBinary(i)?.fileName || \"(sans pdf)\")\n        .join(\" | \"),\n  );\n}\n\nlet extract = {};\ntry {\n  extract = $(\"Extract Variables\").first().json || {};\n} catch (e) {\n  /* nœud absent en test isolé */\n}\n\nconst WEBHOOK_NAMES = [\"Webhook\", \"Webhook Prev\"];\nfunction readOrderIdFromWebhook() {\n  for (const name of WEBHOOK_NAMES) {\n    try {\n      const j = $(name).first().json;\n      const b =\n        j?.body !== undefined && j?.body !== null && typeof j.body === \"object\" && !Array.isArray(j.body)\n          ? j.body\n          : j;\n      let id = typeof b?.orderId === \"string\" ? b.orderId.trim() : \"\";\n      if (!id && typeof j?.orderId === \"string\") id = j.orderId.trim();\n      if (id) return id;\n    } catch (e) {}\n  }\n  return null;\n}\nconst EXTRACT_NAMES = [\n  \"Extract Variables\",\n  \"Extract Variables SYN\",\n  \"Extract Variables DHN\",\n  \"Extract Variables DHN1\",\n  \"Extract Variables1\",\n];\nfunction readOrderIdFromExtracts() {\n  for (const n of EXTRACT_NAMES) {\n    try {\n      const v = $(n).first()?.json?.orderId;\n      if (typeof v === \"string\" && v.trim()) return v.trim();\n    } catch (e) {}\n  }\n  return null;\n}\nfunction readOrderIdFromInputItems(items) {\n  for (const it of items) {\n    const id = it?.json?.orderId;\n    if (typeof id === \"string\" && id.trim()) return id.trim();\n  }\n  return null;\n}\nconst orderId =\n  readOrderIdFromInputItems(items) || readOrderIdFromWebhook() || readOrderIdFromExtracts();\nif (!orderId) {\n  throw new Error(\n    \"Prépare email 3 PDF PREV : orderId introuvable. Vérifiez Extract Variables / Webhook (orderId).\",\n  );\n}\n\nconst mailClient =\n  extract.mail ||\n  items.find((i) => i.json?.mail)?.json?.mail ||\n  items[0].json?.mailClient ||\n  items[0].json?.mail ||\n  null;\n\nconst prenom = extract.prenom ?? items[0].json?.prenom ?? null;\nconst nomRaw =\n  extract.nom != null\n    ? String(extract.nom)\n    : items[0].json?.nom != null\n      ? String(items[0].json.nom)\n      : \"\";\nconst nomStr = nomRaw.trim();\n\nfunction isEnglishLang(raw) {\n  const s = String(raw ?? \"\")\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{M}/gu, \"\");\n  if (!s) return false;\n  if (s === \"en\" || s === \"english\" || s === \"anglais\") return true;\n  if (s.includes(\"english\") || s.includes(\"anglais\")) return true;\n  return false;\n}\n\nconst en = isEnglishLang(extract.langue);\nconst prenomStr = prenom != null ? String(prenom).trim() : \"\";\nconst fullName =\n  [prenomStr, nomStr].filter(Boolean).join(\" \").trim() || \"Client\";\n\nconst rapportFr = String(extract.rapport || \"\").trim() || \"—\";\nconst rapportEnMap = {\n  Annuel: \"Annual\",\n  Mensuel: \"Monthly\",\n  Hebdomadaire: \"Weekly\",\n  Journalier: \"Daily\",\n};\nconst rapportEn = rapportEnMap[rapportFr] || rapportFr;\n\nconst de = String(extract.date_entree || \"\").trim();\nconst a = String(extract.date_sortie || \"\").trim();\nconst periodeFr =\n  de && a\n    ? `<p>Pour la période du <strong>${de}</strong> au <strong>${a}</strong>.</p>`\n    : \"\";\nconst periodeEn =\n  de && a\n    ? `<p>For the period from <strong>${de}</strong> to <strong>${a}</strong>.</p>`\n    : \"\";\n\nconst dateSpanSubject = de && a ? `${de} – ${a}`.trim() : \"\";\nconst subjectPieces = en\n  ? [\"🌟 Forecasts\", rapportEn, dateSpanSubject, fullName]\n  : [\"🌟 Prévisions\", rapportFr, dateSpanSubject, fullName];\nconst emailSubject = subjectPieces.filter(Boolean).join(\" — \");\n\nconst greetHtml = en ? \"<p>Hello,</p>\" : \"<p>Bonjour,</p>\";\n\nconst emailHtml = en\n  ? `${greetHtml}${periodeEn}<p>Your three forecast documents (<strong>${rapportEn}</strong>) are attached as PDFs: technical report, narrative report, and data tables.</p><p>Clear skies! 🌟</p>`\n  : `${greetHtml}${periodeFr}<p>Vos trois documents de prévisions (<strong>${rapportFr}</strong>) sont en pièces jointes au format PDF : rapport technique, rapport narratif et données.</p><p>Bonnes étoiles ! 🌟</p>`;\n\nreturn [\n  {\n    json: {\n      orderId,\n      mailClient: mailClient || \"votre.adresse.test@gmail.com\",\n      prenom,\n      nom: nomStr || null,\n      emailSubject,\n      emailHtml,\n    },\n    binary: {\n      data: buckets.main,\n      data1: buckets.tech,\n      data2: buckets.donnees,\n    },\n  },\n];\n"
      },
      "id": "9f2f2908-3967-44be-b24d-4bb04faedfd9",
      "name": "Prépare email 3 PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        6848
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.mailClient || 'votre.adresse.test@gmail.com' }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data1,data2"
              }
            ]
          },
          "bccList": ""
        }
      },
      "id": "48ecc34e-6658-4db9-8c77-bf62a52ac610",
      "name": "Envoi Email avec PDF1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -368,
        6848
      ],
      "webhookId": "b7e803e5-3628-47d1-a692-84db339ebbce",
      "credentials": {
        "gmailOAuth2": {
          "id": "Flg03IHE2aFkPhKq",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * PREV — même rôle que THEME SITE 3 PDF tiers ; noms de fichiers prévisions ; prevGranularity + prevCoverageYear pour le site.\n * Brancher en parallèle depuis « Prépare email 3 PDF » (binaires, même branche que Gmail).\n */\nfunction pickPdfBinary(item) {\n  const bin = item.binary || {};\n  for (const key of Object.keys(bin)) {\n    const b = bin[key];\n    if (!b) continue;\n    const mime = String(b.mimeType || \"\").toLowerCase();\n    const ext = String(b.fileExtension || \"\").toLowerCase();\n    if (mime.includes(\"pdf\") || ext === \"pdf\") return b;\n  }\n  const keys = Object.keys(bin);\n  if (keys.length) return bin[keys[0]];\n  return null;\n}\nfunction normName(s) {\n  return String(s || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{M}/gu, \"\");\n}\nfunction bucketForFileName(fileName) {\n  const n = normName(fileName);\n  if (n.includes(\"rapport technique previsions\")) return \"tech\";\n  if (n.includes(\"donnees techniques previsions\") || n.includes(\"technical forecast data\")) return \"donnees\";\n  if (n.includes(\"forecast report\")) return \"main\";\n  if (n.includes(\"rapport\") && n.includes(\"previsions\") && !n.includes(\"technique\")) return \"main\";\n  return null;\n}\nfunction readOrderIdFromInputItems(items) {\n  for (const it of items) {\n    const id = it?.json?.orderId;\n    if (typeof id === \"string\" && id.trim()) return id.trim();\n  }\n  return null;\n}\nconst WEBHOOK_NAMES = [\"Webhook\", \"Webhook Prev\", \"Webhook Theme\", \"Webhook1\", \"Webhook Theme1\"];\nfunction readOrderIdFromWebhook() {\n  for (const name of WEBHOOK_NAMES) {\n    try {\n      const j = $(name).first().json;\n      const b =\n        j?.body !== undefined && j?.body !== null && typeof j.body === \"object\" && !Array.isArray(j.body)\n          ? j.body\n          : j;\n      let id = typeof b?.orderId === \"string\" ? b.orderId.trim() : \"\";\n      if (!id && typeof j?.orderId === \"string\") id = j.orderId.trim();\n      if (id) return id;\n    } catch (e) {}\n  }\n  return null;\n}\nconst EXTRACT_NAMES = [\n  \"Extract Variables\",\n  \"Extract Variables SYN\",\n  \"Extract Variables DHN\",\n  \"Extract Variables DHN1\",\n  \"Extract Variables1\",\n];\nfunction readOrderIdFromExtracts() {\n  for (const n of EXTRACT_NAMES) {\n    try {\n      const v = $(n).first()?.json?.orderId;\n      if (typeof v === \"string\" && v.trim()) return v.trim();\n    } catch (e) {}\n  }\n  return null;\n}\nconst buckets = { main: null, tech: null, donnees: null };\nconst orphans = [];\nlet items = [];\nfunction readPdfTripletFromBinary(b) {\n  if (!b?.data || !b?.data1 || !b?.data2) return null;\n  return { main: b.data, tech: b.data1, donnees: b.data2 };\n}\nconst triple =\n  readPdfTripletFromBinary($input.first()?.binary) ||\n  (() => {\n    try {\n      return readPdfTripletFromBinary($(\"Prépare email 3 PDF\").first()?.binary);\n    } catch (e) {\n      return null;\n    }\n  })();\nif (triple) {\n  buckets.main = triple.main;\n  buckets.tech = triple.tech;\n  buckets.donnees = triple.donnees;\n} else {\n  items = (() => {\n    try {\n      const g = $(\"Envoi Email avec PDF1\").all();\n      if (g && g.length) return g;\n    } catch (e) {}\n    return $input.all();\n  })();\n  if (items.length === 0) return [];\n  for (const item of items) {\n    const pdf = pickPdfBinary(item);\n    if (!pdf) continue;\n    const b = bucketForFileName(pdf.fileName);\n    if (b && !buckets[b]) buckets[b] = pdf;\n    else orphans.push(pdf);\n  }\n  for (const o of orphans) {\n    if (!buckets.main) buckets.main = o;\n    else if (!buckets.tech) buckets.tech = o;\n    else if (!buckets.donnees) buckets.donnees = o;\n  }\n}\nif (!buckets.main || !buckets.tech || !buckets.donnees) {\n  throw new Error(\n    \"PREV SITE 3 PDF tiers : 3 PDF requis. Reçu : \" +\n      [buckets.main, buckets.tech, buckets.donnees].filter(Boolean).length +\n      \". Sur n8n Cloud : branche ce nœud depuis « Prépare email 3 PDF » (même branche que Gmail).\",\n  );\n}\nconst orderId =\n  readOrderIdFromInputItems($input.all()) ||\n  readOrderIdFromInputItems(items) ||\n  readOrderIdFromWebhook() ||\n  readOrderIdFromExtracts();\nif (!orderId) {\n  throw new Error(\n    \"PREV SITE 3 PDF tiers : orderId introuvable. Vérifiez Extract Variables / Webhook (orderId).\",\n  );\n}\nlet extractPrevMeta = {};\ntry {\n  extractPrevMeta = $(\"Extract Variables\").first().json || {};\n} catch (e) {}\nconst _granMap = { Annuel: \"annual\", Mensuel: \"monthly\", Hebdomadaire: \"weekly\", Journalier: \"daily\" };\nconst _rap = String(extractPrevMeta.rapport || \"\").trim();\nconst prevGranularity = _granMap[_rap] || null;\nlet prevCoverageYear = parseInt(String(extractPrevMeta.annee || \"\").trim(), 10);\nif (!Number.isFinite(prevCoverageYear)) prevCoverageYear = null;\n\nconst execId =\n  typeof $execution !== \"undefined\" && $execution && $execution.id !== undefined && $execution.id !== null\n    ? String($execution.id)\n    : \"\";\nconst seq = [\n  { documentTier: \"narrative_final\", bin: buckets.main },\n  { documentTier: \"narrative_tech\", bin: buckets.tech },\n  { documentTier: \"data_technical\", bin: buckets.donnees },\n];\nreturn seq.map((s) => ({\n  json: {\n    orderId,\n    documentTier: s.documentTier,\n    n8nExecutionId: execId,\n    prevGranularity,\n    prevCoverageYear,\n  },\n  binary: { data: s.bin },\n}));\n"
      },
      "id": "b1e2c3d4-0001-4001-8001-000000000001",
      "name": "PREV SITE 3 PDF tiers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        6464
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://blob.vercel-storage.com/prev/' + encodeURIComponent($json.orderId) + '/' + encodeURIComponent($json.documentTier) + '-' + encodeURIComponent($json.n8nExecutionId || 'run') + '.pdf' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "7"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {}
        }
      },
      "id": "b1e2c3d4-0002-4002-8002-000000000002",
      "name": "PREV PUT Blob PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        6464
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const blobs = $input.all();\nconst metas = $('PREV SITE 3 PDF tiers').all();\nif (blobs.length !== metas.length) {\n  throw new Error(\n    'PREV merge Blob URL : réponses Blob (' +\n      blobs.length +\n      ') != items source (' +\n      metas.length +\n      ')',\n  );\n}\nreturn blobs.map((b, i) => {\n  const u = typeof b.json?.url === 'string' ? b.json.url.trim() : '';\n  const alt =\n    typeof b.json?.downloadUrl === 'string' ? b.json.downloadUrl.trim() : '';\n  const pdfUrl = u || alt;\n  if (!pdfUrl) {\n    throw new Error(\n      \"PREV merge Blob URL : pas d'URL HTTPS dans la réponse Vercel (index \" +\n        i +\n        \") : \" +\n        JSON.stringify(b.json),\n    );\n  }\n  return {\n    json: {\n      orderId: metas[i].json.orderId,\n      documentTier: metas[i].json.documentTier,\n      n8nExecutionId: metas[i].json.n8nExecutionId,\n      prevGranularity: metas[i].json.prevGranularity,\n      prevCoverageYear: metas[i].json.prevCoverageYear,\n      pdfUrl,\n    },\n  };\n});\n"
      },
      "id": "b1e2c3d4-0003-4003-8003-000000000003",
      "name": "PREV merge Blob URL + meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        6464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://site-rapports-astro.vercel.app/api/webhooks/n8n-order-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ orderId: $json.orderId, status: $json.documentTier === 'data_technical' ? 'delivered' : 'delivered_site', pdfUrl: $json.pdfUrl, documentTier: $json.documentTier, n8nExecutionId: $json.n8nExecutionId, prevGranularity: $json.prevGranularity, prevCoverageYear: $json.prevCoverageYear }) }}",
        "options": {}
      },
      "id": "b1e2c3d4-0004-4004-8004-000000000004",
      "name": "PREV POST site status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        6464
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -848,
        6672
      ],
      "id": "ee5260e6-0fc3-47d0-b78d-ae0594450558",
      "name": "Merge8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://site-rapports-astro.vercel.app/api/webhooks/n8n-order-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ orderId: $('Prépare email 3 PDF').first().json.orderId, status: 'delivered_email', n8nExecutionId: typeof $execution !== 'undefined' && $execution && $execution.id != null ? String($execution.id) : '' }) }}",
        "options": {}
      },
      "id": "ee8a3bd9-646c-47b1-abb5-51a02582d7d2",
      "name": "PREV POST delivered_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        6640
      ],
      "retryOnFail": true
    }
  ],
  "connections": {
    "Prépare email 3 PDF": {
      "main": [
        [
          {
            "node": "Envoi Email avec PDF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PREV SITE 3 PDF tiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoi Email avec PDF1": {
      "main": [
        [
          {
            "node": "PREV POST delivered_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREV SITE 3 PDF tiers": {
      "main": [
        [
          {
            "node": "PREV PUT Blob PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREV PUT Blob PDF": {
      "main": [
        [
          {
            "node": "PREV merge Blob URL + meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREV merge Blob URL + meta": {
      "main": [
        [
          {
            "node": "PREV POST site status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Prépare email 3 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREV POST delivered_email": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "b6efd2f1fad5a0a294db5a1a7e88dd550900216aaeb7344a19bf4cfc45267781"
  }
}
